<!-- 비밀번호변경 -->
<div class="popupWrap popWrapPwChange p-container bgGray" ng-init="templateInit()">
    <!-- popup header -->
    <div class="popupHeader">
        <header><h1>비밀번호 재설정</h1></header>
        <a class="btnClose p-close" onclick="return false;" ng-click="onClose()">닫기</a>
    </div>
    <hr/>
    <!-- popup contents -->
    <div class="popupContents">
        <section>
            <div class="loginLayout">
                <p class="pwReset">새로운 비밀번호를 입력하여 주세요.<br /> 사용하시던 비밀번호는 삭제처리 됩니다.</p>
                <div class="pwForm">
                    <form>
                        <fieldset>
                            <input type="password" value="" id="oldPw" name="oldPw" ng-model="mod.oldPw" class="mb20" placeholder="현재 비밀번호를 입력하세요." />
                            <p class="grayTxt">10~20자 영문. 숫자 조합</p> <!-- 2017-05-26 추가 -->
                            <input type="password" value="" id="modPw"    name="password" ng-model="mod.password" maxlength="20" placeholder="비밀번호를 입력하세요." />
                            <input type="password" value="" id="modPwChk" name="passwordChk" ng-model="mod.passwordChk" maxlength="20" placeholder="다시한번 비밀번호를 입력하세요." />
                            <div class="btnSet btn_pwreset">
                                <span><button class="red" ng-click="chkPw();">비밀번호 변경</button></span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- //비밀번호변경 -->