<!-- 종사자번호 변경 -->
<div class="popupWrap popWrapPwChange2 p-container bgGray" ng-init="templateInit()">
    <!-- popup header -->
    <div class="popupHeader">
        <header><h1>종사자번호 변경</h1></header>
        <a class="btnClose p-close" onclick="return false;">닫기</a>
    </div>
    <hr/>
    <!-- popup contents -->
    <div class="popupContents">
        <section>
            <div class="loginLayout">
                <p class="pwPractician">새로운 종사자번호를 입력하여 주세요.<br /> 사용하시던 종사자번호는 삭제처리 됩니다.</p>
                <div class="pwForm">
                    <form method="post" action="">
                        <fieldset>
                            <input type="text" value="" name="dealerNoCurrent" ng-model="dno.dealerNoCurrent"   placeholder="현재 종사자번호를 입력하세요." class="mb10" />
                            <input type="text" value="" name="dealerNo"        ng-model="dno.dealerNo"          placeholder="새로운 종사자번호를 입력하세요."     />
                            <input type="text" value="" name="dealerNoChk"     ng-model="dno.dealerNoChk"       placeholder="다시한번 종사자번호를 입력하세요."    />
                            <div class="btnSet btn_pwreset">
                                <span><button type="button" class="red" ng-click="chkDealerNo()">종사자번호 변경</button></span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- //종사자번호 변경 -->