<!-- 체크리스트 -->
<div class="popupWrap popCheckList p-container" ng-init="templateInit()">
	<!-- popup header -->
	<div class="popupHeader">
		<header><h1>체크리스트</h1></header>
		<a class="btnClose p-close" onclick="return false;">닫기</a>
	</div>
	<hr/>
	<!-- popup contents -->
	<div class="popupContents">
		<section>
			<form>
			<div class="innerLayout m0">
				<div class="btn-accordion-wrapper checkNotice" data-toggle-on="true"> <!-- 2017-06-01 checkList -> checkNotice class 변경 -->
					<dl class="btn-accordion-switch accordionSet on" ng-click="doFocus($event)">
						<dt class="accordionTitle btn-accordion-switch-item">차량매물정보</dt>
						<dd class="accordionData">
							<strong>자동차 관리법상 차량 광고시 필수 제시 사항</strong>
							<span class="checkSet"><input type="checkbox"  id="chk_c1" name="items[]" value="A01" /><label for="chk_c1">자동차의 압류 및 저당에 관한 정보</label></span>
							<span class="checkSet"><input type="checkbox"  id="chk_c2" name="items[]" value="A02" /><label for="chk_c2">성능, 상태 점검기록부(자동차 관리법 별지 제 82호 서식)</label></span>
							<span class="checkSet"><input type="checkbox"  id="chk_c3" name="items[]" value="A03" /><label for="chk_c3">제시 신고 번호</label></span>
							<span class="checkSet"><input type="checkbox"  id="chk_c4" name="items[]" value="A04" /><label for="chk_c4">매매업자, 매매사업조합의 상호, 주소 및 전화번호에 관한 사항</label></span>
							<span class="checkSet"><input type="checkbox"  id="chk_c5" name="items[]" value="A05" /><label for="chk_c5">자동차 등록번호, 주요 제원 및 옵션에 관한 사항</label></span>
						</dd>
					</dl>
					<dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
						<dt class="accordionTitle btn-accordion-switch-item">허위매물확인</dt>
						<dd class="accordionData">
							<strong>실제로 존재하지 않는 매물 / 광고 목적 낮은 금액 제시</strong>
							<span class="checkSet"><input type="checkbox"  id="chk_c11" name="items[]" value="B01" /><label for="chk_c11">차량시세 : BNK 시세 정보를 참조하여 시세 범위에서 벗어나는지 확인</label></span>
							<span class="checkSet"><input type="checkbox"  id="chk_c12" name="items[]" value="B02" /><label for="chk_c12">가격이 변동되는지 확인</label></span>
							<span class="checkSet"><input type="checkbox"  id="chk_c13" name="items[]" value="B03" /><label for="chk_c13">좋은 조건의 차량임에도 오랜 기간 광고하는 경우</label></span>
						</dd>
					</dl>
					<dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
						<dt class="accordionTitle btn-accordion-switch-item">성능점검기록부 확인사항</dt>
						<dd class="accordionData">
							<strong>자동차 주요 일반사항, 사고 및 침수 유무</strong>
							<span class="checkSet"><input type="checkbox" id="chk_c21" name="items[]" value="C01" /><label for="chk_c21">침수유무 확인</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c22" name="items[]" value="C02" /><label for="chk_c22">주행거리 및 계기 상태 : 작동 불량 표시 여부</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c23" name="items[]" value="C03" /><label for="chk_c23">검사 유효기간 : 입력 날짜로부터 30일 이내</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c24" name="items[]" value="C04" /><label for="chk_c24">동일성 확인(차대번호 표기) : 양호가 아닐 경우, 별도비용이 들거나 신차 애프터서비스 불가</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c25" name="items[]" value="C05" /><label for="chk_c25">불법 구조변경 : 변경이 있을 경우, 해당 부품 제거 혹은 정품 변경 요청</label></span>

							<strong class="mt25">주요 장치의 상태</strong>
							<span class="checkSet"><input type="checkbox" id="chk_c26" name="items[]" value="D01" /><label for="chk_c26">3년 경과 차량은 오일 교환주기 또는 일부 누유 발생 가능</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c27" name="items[]" value="D02" /><label for="chk_c27">실린더 헤드, 블록의 오일 누유, 냉각수 누수는 미세누수라 하더라도 즉시 수리 요구하는 경우가 많음</label></span>

							<strong class="mt25">외판과 주요 골격 상태</strong>
							<span class="checkSet"><input type="checkbox" id="chk_c28" name="items[]" value="E01" /><label for="chk_c28">외판 교환 유무 확인</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c29" name="items[]" value="E02" /><label for="chk_c29">외판 교환이 일부 있는 경우, 감가요인으로 파악</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c30" name="items[]" value="E03" /><label for="chk_c30">주요 골격의 손상 유무 확인(휠하우스, 인사이트패널, 필러패널)</label></span>
						</dd>
					</dl>
					<dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
						<dt class="accordionTitle btn-accordion-switch-item">차량매물정보</dt>
						<dd class="accordionData">
							<span class="checkSet"><input type="checkbox" id="chk_c31" name="items[]" value="F01" /><label for="chk_c31">핸들 샤프트(핸들 뒷편 부분) 부식여부 확인</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c32" name="items[]" value="F02" /><label for="chk_c32">안전벨트를 끝까지 뽑아서 확인하여 진흙이나 물이 마르면서 생가는 흰색 경계선이 있는지 확인</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c33" name="items[]" value="F03" /><label for="chk_c33">운전석, 뒷좌석 시가잭 부식 여부</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c34" name="items[]" value="F04" /><label for="chk_c34">엔진 룸 내 ECU 및 전선 교체 흔적 확인(연식 대비 일체 부품 교체 여부 확인)</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c35" name="items[]" value="F05" /><label for="chk_c35">차량 시트 밑 부식 여부 확인</label></span>
						</dd>
					</dl>
					<dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
						<dt class="accordionTitle btn-accordion-switch-item">보험처리이력 확인</dt>
						<dd class="accordionData">
							<span class="checkSet"><input type="checkbox" id="chk_c41" name="items[]" value="G01" /><label for="chk_c41">자동차 일반 사항 : 제작사, 차명, 연식, 배기량, 최초 보험가입일 매물 정보와 확인</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c42" name="items[]" value="G02" /><label for="chk_c42">용도 이력 : 대여용(렌터카), 영업용, 관용 여부 확인</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c43" name="items[]" value="G03" /><label for="chk_c43">소유자 변경 이력 : 소유자 변경 횟수 확인(자주 바뀔 경우, 차량 가치 저하)</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c44" name="items[]" value="G04" /><label for="chk_c44">차량번호 변경 이력 : 변경 이력 사유 확인</label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c45" name="items[]" value="G05" /><label for="chk_c45">특수보험사고 정보 : 침수, 도난, 전손처리 정보 확인 </label></span>
							<span class="checkSet"><input type="checkbox" id="chk_c46" name="items[]" value="G06" /><label for="chk_c46">보험사고 이력 : 내차처리, 타차처리, 타인 재물 가해 정보 확인</label></span>
						</dd>
					</dl>
				</div>
				<div class="btnSet pd11">
					<span><a href="" class="redLine p-close" >취소</a></span>
					<span><a href="" class="red" ng-click="sendClick()">전송하기</a></span>
				</div>
			</div>
			</form>
		</section>
	</div>
</div>
<!-- //체크리스트 -->