<dl class="reAutoList">
	<dt><span>추천차량리스트</span></dt>
	<dd>
		<ul class="listType1 grid2">
			<!-- Loop -->
			<li ng-repeat="car in carList">
				<div class="thumBack">
					<a href="#" ng-click="onClick('ITEM_RECOMM_CAR',car)">
						<span class="markSet mark1" ng-show="car.bnkConfYn == 'Y'">인증</span>
<!-- 						<span class="bookingCount" ng-show="car.resCnt > 0">예약 <strong>{{car.resCnt}}</strong>건</span> -->
						<div>
							<img check-img ng-lazy-src="{{car.itemImgInfo.mThumbPath}}" ng-model="car" alt="{{car.label.makerName}}{{car.label.modelDtlName}}" />
						</div>
					</a>
				</div>
				<div class="prBack">
					<a href="#" ng-click="onClick('ITEM_RECOMM_CAR',car)">
						<div class="productInfo">
							<div><strong>{{car.label.makerName}}</strong><span>{{car.label.modelDtlName}}</span><span>{{car.label.gradeName}}</span></div>
							<p><span>{{car.label.carRegYear | isEmpty}}</span><em>{{car.carArea}}</em><em>{{car.label.useKm | number | suffix:'km'}}</em></p>
						</div>
						<span class="markGroup">
							<span class="markSet mark2" ng-show="car.carGuarRefundYn == 'Y'">환불</span>
							<span class="markSet mark3" ng-show="car.carGuarFruitlessYn == 'Y'">헛걸음</span>
							<span class="markSet mark4" ng-show="car.carGuarTermYn == 'Y'">1년보증</span>
							<strong class="goodsPrice"><strong>{{car.saleAmt | number}}</strong>만원</strong>
						</span>
					</a>
					<span class="heartSet">
						<input ng-if="sessUserInfo.division == -1" type="checkbox" id="h_1{{$index}}" ng-click="onClick('DIBS_ON',car)" ng-checked="car.dibsYn === 'Y'" onclick="return false;"/>
						<input ng-if="sessUserInfo.division == 'N' || sessUserInfo.division == 'D'" type="checkbox" id="h_1{{$index}}" ng-checked="car.dibsYn === 'Y'" ng-click="onClick('DIBS_ON',car)"/>
						<label for="h_1{{$index}}"><!--찜하기--></label>
					</span>
				</div>
			</li>
		</ul>
		<div class="noRecord" ng-show="bShowEmpty">추천차량이 없습니다.</div>
	</dd>
	<div style="width:100%" class="bnk_loading more" ng-hide="oPageInfo.bHasMore == false || bShowEmpty == true"></div>
</dl>