.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

/* image set[s] */
.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    /*background: url(star.png);*/
    background: url(star_normal.png);
    height: 30px;
    outline: none;
    background-size: 36px auto;
}
/* >>>>>>>>>>>> very small size */
/*.rateit.rating-vs .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(img_star1_13x52.png);
    background: url(img_star1_13x52.png);
    height: 13px;
    outline: none;
    background-size: 13px;
}*/
/* >>>>>>>>>>>> small size */
.rateit.rating-s .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(star_small.png);
    height: 13px;
    outline: none;
    background-size: 16px;
}
/* >>>>>>>>>>>> medium size */
.rateit.rating-m .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(star_normal.png);
    height: 20px;
    outline: none;
    background-size: 25px auto;
}
/* >>>>>>>>>>>> large size */
/*.rateit.rating-l .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(img_star3_36x144.png);
    height: 36px;
    outline: none;
    background-size: 36px;
}*/
/* image set[e] */

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
    top: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

/* image set */
.rateit .rateit-hover { background: url(star_normal.png) left -36px; background-size: 36px auto;}
.rateit .rateit-hover-rtl { background-position: right -46px; }
.rateit .rateit-selected { background: url(star_normal.png) left -36px; background-size: 36px auto;}
.rateit .rateit-selected-rtl { background-position: right -23px; }
.rateit .rateit-preset { background: url(star_normal.png) left -69px; background-size: 36px auto;}
.rateit .rateit-preset-rtl { background: url(star_normal.png) left -69px; }

/* >>>>>>>>>>>> very small size */
/*.rateit.rating-vs .rateit-hover { background: url(img_star3_36x144.png) left -26px; background-size: 13px;}
.rateit.rating-vs .rateit-hover-rtl { background-position: right -26px; }
.rateit.rating-vs .rateit-selected { background: url(img_star3_36x144.png) left -13px; background-size: 13px;}
.rateit.rating-vs .rateit-selected-rtl { background-position: right -13px; }
.rateit.rating-vs .rateit-preset { background: url(img_star3_36x144.png) left -39px; background-size: 13px;}
.rateit.rating-vs .rateit-preset-rtl { background: url(img_star3_36x144.png) left -39px; }*/
/* >>>>>>>>>>>> small size */
.rateit.rating-s .rateit-hover { background: url(star_small.png) left -32px; background-size: 16px auto;}
.rateit.rating-s .rateit-hover-rtl { background-position: right -32px;}
.rateit.rating-s .rateit-selected { background: url(star_small.png) left -16px; background-size: 16px auto;}
.rateit.rating-s .rateit-selected-rtl { background-position: right -16px; }
.rateit.rating-s .rateit-preset { background: url(star_small.png) left -48px; background-size: 16px auto;}
.rateit.rating-s .rateit-preset-rtl { background: url(star_small.png) left -48px; }
/* >>>>>>>>>>>> medium size */
.rateit.rating-m .rateit-hover { background: url(star_normal.png) left -40px; background-size: 25px auto;}
.rateit.rating-m .rateit-hover-rtl { background-position: right -40px; }
.rateit.rating-m .rateit-selected { background: url(star_normal.png) left -25px; background-size: 25px auto;}
.rateit.rating-m .rateit-selected-rtl { background-position: right -23px; }
.rateit.rating-m .rateit-preset { background: url(star_normal.png) left -69px; background-size: 25px auto;}
.rateit.rating-m .rateit-preset-rtl { background: url(star_normal.png) left -69px; }
/* >>>>>>>>>>>> large size */
/*.rateit.rating-l .rateit-hover { background: url(img_star3_36x144.png) left -72px; background-size: 36px;}
.rateit.rating-l .rateit-hover-rtl { background-position: right -72px; }
.rateit.rating-l .rateit-selected { background: url(img_star3_36x144.png) left -36px; background-size: 36px;}
.rateit.rating-l .rateit-selected-rtl { background-position: right -36px; }
.rateit.rating-l .rateit-preset { background: url(img_star3_36x144.png) left -108px; background-size: 36px;}
.rateit.rating-l .rateit-preset-rtl { background: url(img_star3_36x144.png) left -108px; }*/
/* image set[e] */

.rateit button.rateit-reset
{
    background: url(delete.gif) 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
    display:none;
}
.rateit.rating-m button.rateit-reset
{
    background: url(delete.gif) 0 0;
    width: 25px;
    height: 20px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
    display:none;
}

.rateit.rating-m button.rateit-reset:hover, .rateit.rating-m button.rateit-reset:focus
{
    background-position: 0 -16px;
}
.rateit.rating-m button.rateit-reset:hover, .rateit.rating-m button.rateit-reset:focus
{
    background-position: 0 -25px;
}