<div class="dataSet likeGoods">
	<h2>추천 차량 <em>비슷한 차종 차량</em></h2>
	<div class="dataItem">
		<div class="swiperTypeDefault">
			<ul class="listType2 swiper-wrapper">
				<li class="swiper-slide" ng-repeat="car in carList" ng-init="$last && templateInit()">
					<div class="thumBack" ng-click="onClick('ITEM_RECOMM_CAR', car)">
						<span class="markSet mark1" ng-show="car.bnkConfYn == 'Y'">인증</span>
<!-- 						<span class="bookingCount" ng-show="car.resCnt > 0">예약 <strong>{{car.resCnt}}</strong>건</span> -->
						<div>
							<img check-img ng-lazy-src="{{car.itemImgInfo.mThumbPath}}" ng-model="car" alt="{{car.label.makerName}}{{car.label.modelDtlName}}" />
						</div>
					</div>
					<div class="prBack">
						<div class="productInfo" ng-click="onClick('ITEM_RECOMM_CAR', car)">
							<div><strong>{{car.label.makerName}}</strong><span>{{car.label.modelDtlName}}</span><span>{{car.label.gradeName}}</span></div>
							<p><span>{{car.label.carRegYear | isEmpty}}</span><em>{{car.carArea}}</em><em>{{car.label.useKm | number | suffix:'km'}}</em></p>
							<strong class="goodsPrice"><strong>{{car.saleAmt | number}}</strong>만원</strong>
						</div>
						<span class="markGroup">
							<span class="markSet mark2" ng-show="car.carGuarRefundYn == 'Y'" ng-click="popClick('REFUND')">환불</span>
							<span class="markSet mark3" ng-show="car.carGuarFruitlessYn == 'Y'" ng-click="popClick('FRUIT')">헛걸음</span>
							<span class="markSet mark4" ng-show="car.carGuarTermYn == 'Y'" ng-click="popClick('TERM')">1년보증</span>
						</span>
					</div>
					<span class="heartSet">
						<input ng-if="sessUserInfo.division == -1" type="checkbox" id="hhasd_1{{$index}}" ng-click="onClick('DIBS_ON',car)" ng-checked="car.dibsYn === 'Y'" onclick="return false;"/>
						<input ng-if="sessUserInfo.division == 'N' || sessUserInfo.division == 'D'" type="checkbox" id="hhasd_1{{$index}}" ng-checked="car.dibsYn === 'Y'" ng-click="onClick('DIBS_ON',car)"/>
						<label for="hhasd_1{{$index}}"><!--찜하기--></label>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>