<!--
	* 탁송 신청 팝업
	* hk-lee
 -->
<div id="carConsignPop" class="popupWrap valetBooking p-container" ng-init="templateInit()">
	<!-- popup header -->
	<div class="popupHeader" style="top: 0px; position: fixed;">
		<header><h1>탁송신청</h1></header>
		<a class="btnClose p-close">닫기</a>
	</div>
	<hr>
	<!-- popup contents -->
	<div class="popupContents" style="position: absolute; top: 0%; height: 589px; padding-top: 51px;">
		<section>
			<div class="gridSet timeSelect">
				<div class="gridItem gI-4">
					<span class="selectSet">
						<select ng-model="res.year" ng-change="onChange('YEAR', res.year)">
							<option ng-repeat="year in date.years" value="{{year}}">{{year}}년</option>
						</select>
					</span>
				</div>
				<div class="gridItem gI-2">
					<span class="selectSet">
						<select ng-model="res.month" ng-change="onChange('MONTH', res.month)">
							<option ng-repeat="month in date.months" value="{{month}}">{{month}}월</option>
						</select>
					</span>
				</div>
				<div class="gridItem gI-2">
					<span class="selectSet">
						<select ng-model="res.day" ng-change="onChange('DAY', res.day)">
							<option ng-repeat="day in date.days" value="{{day}}">{{day}}일</option>
						</select>
					</span>
				</div>
				<div class="gridItem gI-2">
					<span class="selectSet">
						<select ng-model="res.resAmpm">
							<option ng-repeat="time in date.ampm" value="{{time}}">{{time == 'AM' ? '오전':'오후'}}</option>
						</select>
					</span>
				</div>
			</div>
			<div class="writeType">
				<div class="btnType">
					<input type="text" ng-model="res.zipNo" id="" placeholder="우편번호" class="readonly" readonly="">
					<label for="" class="dpn">우편번호</label>
					<button ng-click="onClick('BTN_ADDR_CHANGE')">변경</button>
				</div>
				<div class="readtxt">
					<input type="text" ng-model="res.roadAddr" id="" placeholder="주소" class="readonly" readonly="">
					<label for="" class="dpn">주소</label>
				</div>
				<div class="readtxt lastRow">
					<input type="text" ng-model="res.addrDtl" id="" placeholder="상세주소" class="readonly" readonly="">
					<label for="" class="dpn">상세주소</label>
				</div>
			</div>
			<div class="btnSet">
				<span><button type="button" class="redLine"  ng-click="onClick('BTN_CANCEL')">취소</button></span>
				<span><button type="button" class="red" ng-click="onClick('BTN_RESERVE')">신청하기</button></span>
			</div>
		</section>
	</div>
</div>
<div><address-search-pop			params="{}"			on-confirm-callback="onConfirm(data)" /></div>