@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: snb.css
* @Version: 1.0
* @Create Date: 2017-04-04
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

.carDetail {padding-top:60px;}
.carDetail .dataSet {width:1244px;margin:0 auto;padding: 0 316px 80px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carDetail .dataSet h2 {padding:60px 0 57px 0;font-size:26px;}
.carDetail .dataSet h2 em {display: inline-block;margin-left: 7px; font-size:18px;font-weight:normal;color:#969696;}
.carDetail .dataSet h2 em:before {content: "";margin:-6px 10px 0 0; display: inline-block;vertical-align: middle;width: 1px;height: 10px;background-color: #4e4e4e;}
/**/
.carSummary .priceLarge {position:absolute;top:0;left:0;right:0;z-index:20;box-sizing:border-box;background:#313131;}
.carSummary .priceLarge .inner {position:relative;width:1244px;margin:0 auto;padding:0 26px 0 0;box-sizing:border-box;}
.carSummary .priceLarge .inner .cartit {float:left;color:#fff;font-size:32px;height:60px;line-height:58px;}
.carSummary .priceLarge .inner .cartit i {font-weight: bold;}
.carSummary .priceLarge .inner .carbtn {float:right;height:60px;line-height:58px;}
.carSummary .priceLarge .inner .carbtn strong {display:inline-block;color:#e24e4e;font-size:32px;}
.carSummary .priceLarge .inner .carbtn strong em {color:#fff;font-size:20px;}
.carSummary .priceLarge .inner .carbtn a {display:inline-block;margin: -20px 0 0 13px;vertical-align: middle; width:140px;height:40px;line-height:40px;color:#fff;font-size:16px;text-align:center;background-color:#e24e4e;}
.carSummary .priceLarge .inner .carbtn .insArea {position:relative;display:inline-block;}
.carSummary .priceLarge .inner .carbtn .insOpen {display:inline-block;margin: -20px 0 0 13px;vertical-align: middle; width:140px;height:40px;line-height:40px;color:#fff;font-size:16px;text-align:center;background-color:#e24e4e;}
.carSummary .priceLarge .inner .carbtn div.insArea div {position:absolute;width:136px;z-index:10;top:52px;left:13px;line-height:normal;border:2px solid #e24e4e;background:#fff;}
.carSummary .priceLarge .inner .carbtn div.insArea div a {display:inline-block;margin:0;width:100%;padding:10px 10px;height:48px;line-height:normal;vertical-align:top;box-sizing:border-box;border:none;border-bottom:1px solid #969696;background:#fff;}
.carSummary .priceLarge .inner .carbtn div.insArea div button {margin:5px;padding:5px 0 7px;width:126px;color:#fff;font-size:88%;border:none;background:#e24e4e;}
.carSummary .priceLarge .inner .carbtn div.insArea div:after {content:"";position:absolute;left:50%;top:0px;display:block;height:12px;width:12px;margin-top:-9px;margin-left:-6px;border-top:2px solid #e24e4e;border-left:2px solid #e24e4e;background:#fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.carSummary .priceLarge .inner:after{content:"";display:block;clear:both;}
.carSummary .thumLargeBack {position:relative;width:1244px;margin:0 auto;}
.carSummary .thumLargeBack .tLBLayout {position:relative;width:948px;height:620px;padding:0 0 0 0;}
.carSummary .thumLargeBack .tagOk {position:absolute;z-index:5;right:20px;top:20px;display:inline-block;padding:0 10px;height:22px;color:#e24e4e;font-size:16px;line-height:20px;border-radius:18px;border:1px solid #e24e4e;background:#fff;}
.carSummary .thumLargeBack .bcBack {position:absolute;z-index:5;right:20px;bottom:20px;}
.carSummary .thumLargeBack .bcBack .bookingCount {display:inline-block;padding:40px 0 0;text-align:center;width:100px;height:107px;border-radius:0;color:#313131;font-size:18px;box-sizing:border-box;background: url('../images/sub/bg_bookingCount.png') no-repeat left top;}
.carSummary .thumLargeBack .bcBack .bookingCount strong {padding:0 0 0 7px;font-size:42px;color:#313131;}
.carSummary .thumLargeBack .markSetPos {position:absolute;z-index:5;left:-80px;display: block;width:60px;}
.carSummary .thumLargeBack .markSetPos .markSet {margin-top:10px;cursor:pointer;}
.carSummary .thumLargeBack .markSetPos .markSet.mark1 {cursor:default;}
.carSummary .thumLargeBack .swiperTypeNumber {position:relative;width:948px;height:620px;overflow:hidden;}
.carSummary .thumLargeBack .swiper-wrapper div {display:table;width:948px;height:620px;table-layout:fixed;text-align:center;background:#eeeeee;}
.carSummary .thumLargeBack .swiper-wrapper div span {display:table-cell;padding:0;width:948px;height:620px;text-align:center;vertical-align:middle;box-sizing:border-box;}
.carSummary .thumLargeBack .swiper-wrapper div span img {margin:0 auto;width:100%;height:auto;}
.carSummary .thumLargeBack .swiperTypeNumber .swiper-pagination {left:50%;bottom:auto;margin-left:-50px;top:40px;display:inline-block;width:100px;height:40px;font-size:24px;line-height:40px;border-radius:20px;background:#fff;}
.carSummary .thumLargeBack .swiperTypeNumber .swiper-button-prev, 
.carSummary .thumLargeBack .swiperTypeNumber .swiper-button-next {left:20px;width:80px;height:80px;background: url('../images/common/bg_icon.png') no-repeat;background-position: 0px -110px;}
.carSummary .thumLargeBack .swiperTypeNumber .swiper-button-next {left:auto;right:20px;background-position: -80px -110px;}
.carSummary .dealerArea {position: absolute;left:948px;top:0;z-index:1;width:296px;height:620px;padding:55px 20px 20px;border:1px solid #e6e6e6;background-color: #fff; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carSummary .dealerArea .dataItem {text-align: center;position: relative;}
.carSummary .dealerArea .dataItem .heartSet {position: absolute;right:0px;top:0;display:block;width:24px;height:20px;}
.carSummary .dealerArea .dataItem .heartSet input[type="checkbox"] {position:absolute;opacity:0;width:24px;height:20px;}
.carSummary .dealerArea .dataItem .heartSet label {position:relative;left:0;display:inline-block;width:24px;height:20px;font-size:0;overflow:hidden;text-indent:-1000px;background:url('../images/common/bg_icon.png') no-repeat -164px -88px;}
.carSummary .dealerArea .dataItem .heartSet input[type="checkbox"]:checked + label {background-position:-164px -62px;}
.carSummary .dealerArea .dataItem .dealerProfile {padding-bottom:0;}
.carSummary .dealerArea .dataItem .dealerProfile .profileImage {margin:0 auto 15px;}
.carSummary .dealerArea .dataItem .dealerProfile .dealName {font-size: 20px;margin-bottom:20px;}
.carSummary .dealerArea .dataItem .dealerProfile .dealName i {margin-right: 10px;}
.carSummary .dealerArea .dataItem .dealerProfile .dealInfo span {display:block;margin:5px 0;font-size: 14px;}
.carSummary .dealerArea .dataItem .dealerProfile .dealInfo strong {text-decoration:underline;cursor:pointer;}
.carSummary .dealerArea .dataItem .dealerProfile .dealInfo span em {display: inline-block;margin:0 5px;}
.carSummary .dealerArea .dataItem .dealerProfile .dealInfo span em:last-child:before {content: "";display: inline-block; margin:-2px 10px 0 0;width: 1px;height: 7px;background-color: #8a8a8a; vertical-align: middle;}
.carSummary .dealerArea .dataItem .dealerProfile .dealInfo span.dealPhone {font-size: 22px;font-weight: bold;margin:20px 0 50px;}
.carSummary .dealerArea .btnSet span.left {float:left;margin-bottom:10px;width:50%;min-width:107px;height:60px;padding-right:5px;box-sizing:border-box;}
.carSummary .dealerArea .btnSet span.right {float:right;margin-bottom:10px;width:50%;min-width:107px;height:60px;padding-left:5px;box-sizing:border-box;}
.carSummary .dealerArea .btnSet span .redLine {height:60px;}
.carSummary .dealerArea .btnSet span.left em, 
.carSummary .dealerArea .btnSet span.right em {font-size:18px;}
/**/
.carInfo .dataItem {display:inline-block;width:100%;}
.carInfo .dataItem dl {float:left;width:33.33%;padding:0 0 0 12px;box-sizing:border-box;font-size: 16px;border-right:1px solid #e5e5e5;}
.carInfo .dataItem dl:first-child {padding-left: 0px;}
.carInfo .dataItem dl:last-child {border-right: none;}
.carInfo .dataItem dl dt {float:left;width:35%;padding:5px 0;font-weight:bold;}
.carInfo .dataItem dl dt.first {padding-top:0;}
.carInfo .dataItem dl dt.last {padding-bottom:0;}
.carInfo .dataItem dl dd.first {padding-top:0;}
.carInfo .dataItem dl dd.last {padding-bottom:0;}
.carInfo .dataItem dl dd {float:left;width:65%;padding:5px 0;}
.carInfo .dataItem dl:after{content:"";display:block;clear:both;}
.carInfo .dataItem:after{content:"";display:block;clear:both;}
/* 2017-09-14 */
.carInfo.accident .dataItem dl {padding:0 4% 0 12px;width:50%;border-right: none;}
.carInfo.accident .dataItem dl dt {width:40%;height:23px;}
.carInfo.accident .dataItem dl dd {width:57%;height:23px;text-align:right;word-break:keep-all;}
/* end 2017-09-14 */
/**/
.optionView ul {margin-bottom: 20px;}
.optionView ul li {float:left;margin-right:24px;padding:0 0 15px 0;width:96px;text-align:center;font-size:18px;letter-spacing:-0.1em;line-height:20px;box-sizing:border-box;}
.optionView ul li:nth-child(1) {width:84px;}
.optionView ul li:nth-child(8) {margin-right:0;width:84px;}
.optionView ul li:before {content:"";display:inline-block;margin:0 auto 9px;width:82px;height:82px;vertical-align:middle;background: url('../images/common/option_icon.png') no-repeat;}
.optionView ul li:nth-child(1):before {background-position:left top;}
.optionView ul li:nth-child(2):before {background-position:-82px top;}
.optionView ul li:nth-child(3):before {background-position:-164px top;}
.optionView ul li:nth-child(4):before {background-position:-246px top;}
.optionView ul li:nth-child(5):before {background-position:-328px top;}
.optionView ul li:nth-child(6):before {background-position:-410px top;}
.optionView ul li:nth-child(7):before {background-position:-492px top;}
.optionView ul li:nth-child(8):before {background-position:-574px top;}
.optionView ul li span {display:block;line-height:20px;padding-top:10px;}
.optionView ul li.off {color:#d8d8d8;}
.optionView ul li:nth-child(1).off:before {background-position:left -100px;}
.optionView ul li:nth-child(2).off:before {background-position:-82px -100px;}
.optionView ul li:nth-child(3).off:before {background-position:-164px -100px;}
.optionView ul li:nth-child(4).off:before {background-position:-246px -100px;}
.optionView ul li:nth-child(5).off:before {background-position:-328px -100px;}
.optionView ul li:nth-child(6).off:before {background-position:-410px -100px;}
.optionView ul li:nth-child(7).off:before {background-position:-492px -100px;}
.optionView ul li:nth-child(8).off:before {background-position:-574px -100px;}
/*.optionView ul li {float:left;padding:0 0 15px;width:33.33%;font-size:18px;box-sizing:border-box;}
.optionView ul li:before {content:"";display:inline-block;margin:-5px 10px 0 0;width:14px;height:14px;vertical-align:middle;background: url('../images/common/bg_icon.png') no-repeat -164px -132px;}
.optionView ul li.off {color:#d8d8d8;}
.optionView ul li.off:before {background-position: -164px -118px;}*/
.optionView ul:after{content:"";display:block;clear:both;}
.optionView .btn-accordion-wrapper {clear:left;}
.optionView .btnSet {font-size: 18px;margin-bottom: 0px;}
.optionView .btnSet span * {padding:8px 0 8px;}
/**/
.optionViewMore {border:1px solid #e6e6e6;border-bottom: none; background:#fff;}
.optionViewMore dl {clear:left;display:inline-block;width:100%;border-bottom:1px solid #e6e6e6;padding:34px 20px 38px;box-sizing:border-box;}
.optionViewMore dl:last-child {border-bottom: none;}
.optionViewMore dl dt {clear:left;display:inline-block;width:100%;font-size:20px;font-weight:bold;box-sizing:border-box;margin-bottom: 30px;padding-left: 20px;}
.optionViewMore dl dd {clear:left;display:inline-block;width:100%;}
.optionViewMore dl dd li {float:left;width:33.32%;padding:0 0 6px 20px;box-sizing:border-box;font-size:16px;border-right:1px solid #e6e6e6;}
.optionViewMore dl dd li:nth-child(3n) {border-right: none;}
.optionViewMore dl dd li.off {color:#d8d8d8;}
/**/
.carDetail .moreArea {height:190px;overflow:hidden;font-size: 14px;line-height: 2;}
.carDetail .moreArea.on {height:auto;}
/**/
.dataSet.dealerInfo ul {margin-bottom: 40px;}
.dataSet.dealerInfo ul li {font-size: 16px;margin-bottom: 10px;}
.dataSet.dealerInfo ul li:last-child {margin-bottom: 0px;}
.dataSet.dealerInfo ul li strong {float:left;display: inline-block; width:110px;}
.dataSet.dealerInfo ul li span {float:left;}
.dataSet.dealerInfo ul li:after{content:"";display:block;clear:both;}
.dataSet.dealerInfo:after{content:"";display:block;clear:both;}
.dataSet.dealerInfo ul li a {text-decoration:underline;}
/**/
.dealerRating {display:inline-block;width:100%;padding:0 20px;height: 77px;line-height: 77px; box-sizing:border-box;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.dealerRating span {float:left;padding:0px 30px 0 0;font-size:16px;}
.dealerRating .rating {float:left;margin:10px 30px 0 0;}
.dealerRating em.point {font-size:24px;}
.dealerRating button {float:right;font-size:18px;color: #e24e4e;height: 77px;line-height: 77px;}
.dealerRating button i {display: inline-block;width: 20px;height: 20px;margin:-5px 0 0 14px; background: url('../images/common/bg_icon.png') no-repeat -200px -84px;vertical-align: middle;}
/**/
.dealerAfter li {font-size:16px;border-bottom:1px solid #e6e6e6;}
.dealerAfter li .afterTit {position:relative;padding:19px 120px 17px 88px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.dealerAfter li .afterTit div {text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.dealerAfter li .afterTit div strong {position:absolute;left:20px;top:18px;color: #969696;font-weight: normal;}
.dealerAfter li .afterTit div strong.deal {color: #e24e4e;}
.dealerAfter li .afterDetail {clear:left;padding:20px 20px 20px 88px;display:none;width:100%;line-height:160%;word-break:keep-all;box-sizing:border-box;background:#f8f8f8;}
.dealerAfter li span {position:absolute;right:20px;top:17px;color: #969696;font-weight: normal}
.dealerAfter li.on .afterTit {background:#e6e6e6;}
.dealerAfter li.on .afterTit div {font-weight: bold;}
.dealerAfter li.on .afterDetail {display:inline-block;}
/**/
.dealerAfterbtn span {width: 50%;padding:0 0 0 10px !important;}
.dealerAfterbtn span * {padding:8px 0 6px 3px;}
.dealerAfterbtn.btnSet span:first-child {padding:0 10px 0 0 !important;}
/**/
.listType1.suggestion li {width:296px;margin-right:20px;padding-bottom:15px;border:1px solid #e6e6e6; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.listType1.suggestion li:last-child{margin-right: 0px;}
.listType1.suggestion .markGroup .goodsPrice {font-size: 24px;line-height: 40px;}
.listType1.suggestion .imgBack,
.listType1.suggestion .imgBack strong {width:294px;height:210px !important;}
/*===내차팔기===*/
.carSell .dataSet {width:1213px; margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carSell .dataSet h2 {padding:40px 0;font-size:26px;font-weight:normal;text-align: center;font-size: 34px;}
.carSell .dataSet h2:before {content: "";display: block;margin:0 auto; width: 40px;height: 40px;background: url('../images/common/bg_icon.png') no-repeat -185px -152px;}
.carSell .dataSet h2 em {display: block;font-size:18px;font-weight:normal;font-size: 18px;color:#969696;}
/*단계*/
.carSell .stepInfo {clear:left;width:100%;height:58px;text-align:center;font-size:93%;border-bottom:2px solid #e24e4e;box-sizing:border-box;background:#d8d8d8;}
.carSell .stepInfo strong {position:relative;float:left;display:inline-block;font-size:22px;line-height:56px;}
.carSell .stepInfo strong span {display:block;height:56px;color:#fff;border-left:1px solid #fff;}
.carSell .stepInfo.grid3 strong {width:33.3%;}
.carSell .stepInfo.grid4 strong {width:25%;}
.carSell .stepInfo strong.on {position:relative;z-index:2;border:2px solid #e24e4e;border-bottom:none;height:58px;background:#f8f8f8;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carSell .stepInfo strong.on span {color:#e24e4e;}
/*선택정보*/
.carSell .productInfoTab {position: relative;padding:20px 0;}
.carSell .productInfoTab .inputArea {padding:20px 128px 20px 20px;min-height:100px;background:#fff;border:1px solid #d8d8d8}
.carSell .productInfoTab .inputArea .sChoiced {margin:0 16px 16px 0; padding:0px 36px 0px 10px;font-size: 14px; line-height:22px;color:#e24e4e;border:1px solid #e24e4e;border-radius:12px;background:#fff url('../images/common/btn_delete2.png') no-repeat right center;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.carSell .btnInit {position:absolute;right:20px;top:30px;font-size:16px;}
.carSell .btnInit i {display: inline-block;width: 18px;height: 20px;margin: -4px 0 0 8px; background:#fff url('../images/common/bg_icon.png') no-repeat -164px -172px;vertical-align: middle;}
/*선택정보*/
.carSell .itemSelect {display:inline-block;width:100%;border-bottom:1px solid #4e4e4e;}
.carSell .itemSelect .areaWrap {float:left;display:block;width:202px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carSell .itemSelect .areaWrap .tit {display:block;height:57px;line-height:57px;background-color: #e6e6e6;text-align: center;font-size: 18px;border-right: 1px solid #fff;}
.carSell .itemSelect .areaWrap .area {height:360px;overflow-y:auto;border-top:2px solid #4e4e4e;border-right: 1px solid #4e4e4e;background-color: #fff;}
.carSell .itemSelect .areaWrap:last-child .tit,
.carSell .itemSelect .areaWrap:last-child .area {border-right:none;}
.carSell .itemSelect .areaWrap ul li {position:relative;}
.carSell .itemSelect .areaWrap ul li input {position:absolute;top:0;left:0;opacity:0;display:block;width:100%;height:100%;background:none;}
.carSell .itemSelect .areaWrap ul li input + label {padding:0 8px 0 10px;display:block;height:40px;line-height:40px;font-size:16px;color:#4e4e4e;}
.carSell .itemSelect .areaWrap ul li input:checked + label {color:#fff;background:#e24e4e;}
.carSell .itemSelect .areaWrap.w166 {width:160px}
.carSell .itemSelect .areaWrap.w244 {width:240px}
.carSell .itemSelect .areaWrap.w200 {width:190px}
.carSell .itemSelect .areaWrap.w116 {width:116px}
.carSell .itemSelect .areaWrap.w192 {width:190px}
.carSell .itemSelect .areaWrap.w160 {width:157px}
.carSell .itemSelect .areaWrap .w100 {width:100px}
.carSell .itemSelect .areaWrap .area.driven {padding:10px;box-sizing:border-box;font-size:16px;}
.carSell .itemSelect .areaWrap .area.driven input {width:80%;font-size:16px;}
.enterDetail {padding:48px 0 78px;}
.enterDetail dt {font-size:22px;font-weight:bold;color:#4e4e4e;border-bottom:2px solid #4e4e4e;}
.enterDetail dd {padding:20px 20px 20px;}
.enterDetail .accordionSet {padding-bottom:10px;}
.enterDetail .accordionSet .accordionTitle {display:block;padding:0 0 0 22px;height:59px;line-height:58px;font-size:18px;background:#f8f8f8;}
.enterDetail .accordionSet .accordionTitle:after {width:59px;height:59px;top:0;right:0;margin:0;border:none;background:#f8f8f8 url('../images/sub/bg_accordion.png') no-repeat right top;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);}
.enterDetail .accordionSet.on .accordionTitle:after {background:#fff url('../images/sub/bg_accordion.png') no-repeat left top;}
.enterDetail .accordionSet .accordionTitle span {margin-left:10px;display:inline-block;width:50px;height:24px;line-height:22px;font-size:16px;text-align:center;color:#fff;border-radius:24px;background:#e24e4e;}
.enterDetail .accordionSet .accordionData {position:relative;}
.enterDetail .accordionSet .accordionData .back {position:relative;display:inline-block;padding:30px 0;width:100%;}
.enterDetail .accordionSet .accordionData .back:before {content:'';position:absolute;top:35px;right:397px;display:inline-block;width:0;height:100px;border-right:1px solid #e6e6e6;}
.enterDetail .accordionSet .accordionData .back:after {content:'';position:absolute;top:35px;left:397px;display:inline-block;width:0;height:100px;border-right:1px solid #e6e6e6;} 
.enterDetail .accordionSet .accordionData .back.h60:before,
.enterDetail .accordionSet .accordionData .back.h60:after {height:60px;}
.enterDetail .accordionSet .accordionData .back.h132:before,
.enterDetail .accordionSet .accordionData .back.h132:after {height:132px;}
.enterDetail .accordionSet .accordionData .back.h168:before,
.enterDetail .accordionSet .accordionData .back.h168:after {height:168px;}
.enterDetail .accordionSet .accordionData .back div span {display:inline-block;padding:6px 0 6px 138px;width:258px;}
.enterDetail .accordionSet .accordionData label {font-size:16px;color:#4e4e4e;}
.enterDetail .accordionSet .accordionData input {margin:-4px 5px 0 0;}
.enterDetail .accordionSet .accordionData .total {position:absolute;right:15px;top:15px;}
.enterDetail2 {padding:48px 0 78px;}
.enterDetail2 dt {font-size:22px;font-weight:bold;color:#4e4e4e;border-bottom:2px solid #4e4e4e;}
.enterDetail2 dd {padding:20px 20px 20px;}
.enterDetail2 .stit {display:inline-block;width:100%;height:40px;font-size:22px;font-weight:normal;}
.enterDetail2 .enterDate {padding:0 0 40px;border-bottom:1px solid #d8d8d8;}
.enterDetail2 .enterDate input[type="text"] {width:580px;height:50px;line-height:50px;font-size:16px;}
.enterDetail2 .enterDate input[type="text"]:focus {border-color:red;}
.enterDetail2 .enterDate.findZip button {margin:0 0 0 13px;width:118px;height:50px;line-height:50px;font-size:18px;color:#fff;background-color:#e24e4e;}
.enterDetail2 .enterDate.findZip input {width:448px;}
.enterDetail2 .enterDate.findZip div {margin-top:10px;}
.enterDetail2 .enterDate.findZip div input {width:580px;}
.enterDetail2 .enterDate.findZip .right {float:right}
.enterDetail2 .enterDate.dupCase {display:inline-block;width:100%;}
.enterDetail2 .enterDate.dupCase div {display:inline-block;width:580px;}
.enterDetail2 .enterDate.dupCase div.left {float:left;}
.enterDetail2 .enterDate.dupCase div.right {float:right;}
.enterDetail2 .enterDate.price {font-size:18px;}
.enterDetail2 .enterDate.price input {width:300px;}
.bsSelectButton {display:inline-block;padding:30px 0;width:100%;text-align:center;background:#fff;}
.bsSelectButton div {display:inline-block;margin:0 140px;width:400px;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
.cSet {position:relative;display:inline-block;vertical-align:top;width:120px;}
.cSet input[type="checkbox"] {position:absolute;opacity:0;width:100%;height:100%;}
.cSet label {position:relative;left:0;display:inline-block;padding:0;font-size:18px;}
.cSet label em {display:none;}
.cSet label:before {content:'';display:inline-block;width:120px;height:120px;background:url('../images/sub/bg_bsSelectButton.png') no-repeat;}
.cSet.cs1 label:before {background-position:left top;}
.cSet.cs1 input[type="checkbox"]:checked + label:before {background-position:right top;}
.cSet.cs1 input[type="checkbox"]:disabled + label:before {background-position:right top;}
.cSet.cs2 label:before {background-position:left -120px;}
.cSet.cs2 input[type="checkbox"]:checked + label:before {background-position:right -120px;}
.cSet.cs2 input[type="checkbox"]:disabled + label:before {background-position:right -120px;}
.cSet.cs3 label:before {background-position:left -240px;}
.cSet.cs3 input[type="checkbox"]:checked + label:before {background-position:right -240px;}
.cSet.cs3 input[type="checkbox"]:disabled + label:before {background-position:right -240px;}
/*일반 마지막 단계*/
.carSell .recordReview {position:relative;display:inline-block;width:100%;margin:20px 0 40px;padding:60px 0 40px;box-sizing:border-box;border:1px solid #e6e6e6;background:#fff;}
.carSell .recordReview div {position:relative;display:inline-block;float:left;width:416px;}
.carSell .recordReview div:after {position:absolute;right:0;top:5px;content:'';display:inline-block;width:0;height:180px;border-right:1px solid #e6e6e6;}
.carSell .recordReview dl {display:table;width:335px;padding:0 40px;font-size:16px;vertical-align:middle;}
.carSell .recordReview dl dt {display:table-cell;width:100px;height:40px;vertical-align:top;}
.carSell .recordReview dl dd {display:table-cell;height:40px;vertical-align:top;line-height:1.1;}
.carSell .recordReview div.last {display:inline-block;float:left;width:300px;}
.carSell .recordReview div.last dl dt {width:153px;}
.carSell .recordReview div.last:after {display:none;}
.carSell .recordReview .btnInit {right:19px;top:9px;}
.carSell .moveLink {margin:0 0 10px;border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;background-color: #fff;}
.carSell .moveLink span {display: block;float: left;width: 50%;text-align: center;font-size: 18px;height: 200px;padding-top: 50px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carSell .moveLink span:first-child {border-right: 1px solid #e6e6e6;}
.carSell .moveLink span a {display: block;width: 400px;height: 60px;line-height: 60px;margin:33px auto 0; font-size: 26px;color: #fff;background-color: #e24e4e;}
.carSell .moveLink:after{content:"";display:block;clear:both;}
/*이전다음버튼*/
.carSell .preNextBtnArea {padding:20px 0 50px;}
.carSell .preNextBtnArea button {width:200px;height:60px;line-height:60px;text-align: center;font-size: 18px;background-color: #969696;color: #fff;}
.carSell .preNextBtnArea button.btnPrev {float: left;background-color: #fff;color: #e24e4e;border:1px solid #e24e4e; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carSell .preNextBtnArea button.btnNext {float: right;}
.carSell .preNextBtnArea button.on {background-color: #e24e4e;}
.carSell .preNextBtnArea:after{content:"";display:block;clear:both;}
/*실시간시세문의*/
.realTime .bgGrayCase .dataSet {padding-bottom: 120px;}
.realTime .dataSet {width: 1244px; margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.realTime .dataSet h2 {padding:40px 0;font-size:26px;font-weight:normal;text-align: center;font-size: 34px;}
.realTime .dataSet h2:before {content: "";display: block;margin:0 auto; width: 42px;height: 40px;background: url('../images/common/bg_icon.png') no-repeat -226px -62px;}
.realTime .dataSet h2 em {display: block;font-size:18px;font-weight:normal;font-size: 18px;color:#969696;}
.realTime .carInfo {margin-bottom: 40px;}
.realTime .carInfo .left {float:left;width: 420px;padding:20px;border: 1px solid #e6e6e6;height: 540px;margin:40px 20px 0 0;background-color: #fff;overflow:hidden; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.realTime .carInfo .left .photo {width: 372px;height: 220px;overflow:hidden;}
.realTime .carInfo .left .photo img {width: 100%;}
.realTime .carInfo .left .tit {font-size: 22px;font-weight: bold;text-align: center;margin:17px 0 9px;}
.realTime .carInfo .left .items {display:block;text-align: center;margin-bottom: 20px;}
.realTime .carInfo .left .items i {display:inline-block;font-size: 20px;}
.realTime .carInfo .left .items i:after {content: ""; display:inline-block;margin:-3px 10px 0 10px; width: 1px;height: 10px;background-color: #4e4e4e;vertical-align: middle;}
.realTime .carInfo .left .items i:last-child:after{display: none;}
.realTime .carInfo .left em {display:block;font-size: 16px;text-align: center;color: #969696;line-height: 2.2;}
.realTime .carInfo .right {float:left;width: 804px;height:540px;border: 1px solid #e6e6e6;margin-top:40px;background-color: #fff;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.realTime .carInfo .right .detailInfo div {padding:20px;}
.realTime .carInfo .right .detailInfo div:first-child {border-bottom: 1px solid #e6e6e6;}
.realTime .carInfo .right .detailInfo div h3 {font-size: 20px;margin-bottom: 15px;}
.realTime .carInfo .right .detailInfo div ul li {display: block;float:left;width: 80px;height: 80px;margin-right: 10px;background-color: #f8f8f8; border:2px solid #e6e6e6;overflow:hidden;position: relative; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.realTime .carInfo .right .detailInfo div ul li input[type="file"]{display: block; width: 76px;height: 76px;opacity: 0;}
.realTime .carInfo .right .detailInfo div ul li:before {content: "+";display: block;position: absolute;left:50%;top: 50%;margin:-22px 0 0 -12px; z-index: 1;font-size: 40px;line-height: 1;color: #969696;}
.realTime .carInfo .right .detailInfo div ul:after{content:"";display:block;clear:both;}
.realTime .carInfo .right .detailInfo div textarea {padding:20px;;width:100%;height: 220px;overflow:hidden;overflow-y: scroll;background-color: #f8f8f8; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.realTime .carInfo .right .detailInfo p {padding:20px;border-top: 1px solid #e6e6e6}
.realTime .carInfo .right .detailInfo p label {font-size: 18px;}
.realTime .carInfo .right .detailInfo p label input[type="checkbox"]{margin-right: 10px;}
.realTime .carInfo:after{content:"";display:block;clear:both;}
.realTime .btnSet {font-size: 30px;}
.realTime .btnSet span * {padding:0;height: 80px;line-height: 80px;}
/* 내게맞는매물 */
.reverseBanner {position:relative;margin:60px 0 0;border:1px solid #4e4e4e}
.reverseBanner div {height:160px;border:15px solid #fff}
.reverseBanner p {padding:20px 0 0 30px;height:160px;font-size:16px;color:#969696;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#f8f8f8 url('../images/sub/bg_reverse.png') no-repeat right 0;}
.reverseBanner p strong {margin:5px 0 0;font-size:30px;color:#4e4e4e;}
.reverseBanner button {margin:8px 0 0;display:inline-block;width:180px;height:40px;font-size:16px;color:#e24e4e;line-height:37px;border:1px solid #e24e4e;background:#fff;}
.consigReser .myWrite {margin:20px 0 40px;border-color:#e6e6e6;}
.consigReser .myWrite .writeRow.last {border-color:#e6e6e6;}

/* 2017-09-14 */
.carAccident {position:absolute !important;margin:0 0 0 -340px;height:auto !important;}
.carAccident .carNum {display:table;width:100%;margin-bottom:20px;font-size:16px;border:5px solid #e4e4e4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carAccident .carNum strong {display:table-cell;padding:20px 20px 20px 80px;font-size:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url('../images/sub/img_carAccident.png') no-repeat 15px center;}
.carAccident .carNum span {display:table-cell;padding:20px 20px;text-align:right;width:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carAccident .basicWrite table {margin-bottom:15px;}
.carAccident .basicWrite thead th {padding:3px 20px 5px;text-align:left;font-size:16px;color:#fff;background:#27a4ba;}
.carAccident .basicWrite tbody tr th {padding:14px 20px;}
.carAccident .basicWrite tbody th,
.carAccident .basicWrite tbody td {font-size:14px;}
.carAccident .btnAreaType {padding-top:20px;}
/* 목록일 경우 */
#wrap.carListCase .listType1 li {width:20%;}
#wrap.carListCase .saleCar {overflow:hidden;}
#wrap.carListCase .saleCar .imgBack {width:100%;height:auto;}
#wrap.carListCase .saleCar .imgBack strong {height:auto;}
#wrap.carListCase .listType1 li.noneLine {width:100% !important;}
@media screen and (max-width:1750px){
	#wrap.carListCase .prBack .productInfo {padding:10px 20px 5px 0;}
	#wrap.carListCase .prBack .markGroup .goodsPrice {font-size:20px;}
	#wrap.carListCase .prBack .markGroup .markSet {margin:0 3px 0 0;width:34px;height:34px;background:url('../images/common/car_icons2.png');}
	#wrap.carListCase .prBack .markGroup .markSet.mark3 {background-position:-40px top;}
	#wrap.carListCase .prBack .markGroup .markSet.mark4 {background-position:-80px top;}
}
@media screen and (max-width:1475px){
	#wrap.carListCase .prBack {padding:0 10px 0 10px;}
	#wrap.carListCase .prBack .productInfo {padding:0 20px 5px 0;}
	#wrap.carListCase .productInfo {padding-bottom:10px;}
	#wrap.carListCase .prBack .markGroup .goodsPrice {font-size:18px;}
	#wrap.carListCase .prBack .markGroup .markSet {margin:0 3px 0 0;width:25px;height:25px;background:url('../images/common/car_icons3.png');}
	#wrap.carListCase .prBack .markGroup .markSet.mark3 {background-position:-30px top;}
	#wrap.carListCase .prBack .markGroup .markSet.mark4 {background-position:-60px top;}
}
@media screen and (max-width:1470px){
	.carSummary .priceLarge .inner {padding:0 56px 0 0;}
	.carSummary .thumLargeBack .markSetPos {left:20px;width:auto;}
	#wrap.carListCase .prBack .productInfo {padding:0 20px 0 0;}
}
@media screen and (max-width:1310px){
	.carDetail .dataSet {padding:0 316px 80px 10px}
	.carSummary .thumLargeBack {width:100%;}
	.carSummary .dealerArea {width:265px;}
	.listType1.suggestion li {margin-right:15px;}
}