@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: my.css
* @Version: 1.0
* @Create Date: 2017-04-04
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

/* header.mainHeader */
#header.mainHeader {position:relative;height:59px;background: url('../images/sub/header_bg.png') no-repeat;border-bottom:1px solid #fff;}
#header.mainHeader .logo {position: absolute;left:30px;top: 10px; width:128px;height: 31px;}
#header.mainHeader .logo a {background-position:0 -105px;}
#header.mainHeader #gnb ul li a {color:#fff}
#header.mainHeader #gnb ul li.on a {color:#fff}
#header.mainHeader #gnb ul li:hover a {color:#fff}
#header.mainHeader .linkArea ul li a {color:#fff}
#header.mainHeader .linkArea ul li.iconLogin a:before {background-position: -100px -40px !important;}
#header.mainHeader .linkArea ul li.iconJoin a:before {background-position: -120px -40px !important;}
#header.mainHeader .linkArea ul li.iconSitemap a:before {background-position: -140px -40px !important;}
#header.mainHeader .linkArea ul li.iconLoout a:before {background-position: -160px -40px !important;}
#header.mainHeader .linkArea ul li.iconMypage a:before {background-position: -180px -40px !important;}
.mainImgArea {display:block;width:100%;height:1080px;background:#4e4e4e url('../images/common/mainImg.png') no-repeat !important;}
#main_contents_wrap .mainContents .innerLayout {padding:110px 100px;width:auto;}
#main_contents_wrap .topContents {display:table;width:100%;}
#main_contents_wrap .topContents div.back {position:relative;display:table-cell;width:100%;text-align:center;vertical-align:middle;}
.mainSearch {position:relative;width:615px;margin:0 auto;}
#main_contents_wrap .topContents p {color:#fff;line-height:37px;}
#main_contents_wrap .topContents a {color:#fff;}
#main_contents_wrap .topContents p:nth-child(2) {margin:64px 0 90px;font-size:25px;}
#main_contents_wrap .topContents input {float:left;display:inline-block;width:100%;height:60px;font-size:22px;padding:15px 50px;}
#main_contents_wrap .topContents .searchBox1 {position:relative;display:inline-block;width:615px;margin-bottom:55px;background:#fff;}
#main_contents_wrap .topContents .searchBox1 span {position:absolute;top:20px;left:20px;z-index:1;display:inline-block;width:23px;height:23px;background:url('../images/common/bg_icon.png') no-repeat -381px -72px;}
#main_contents_wrap .topContents button.icon {position:absolute;right:0;z-index:2;display:inline-block;width:146px;height:60px;padding:0 0;background-color:#e24e4e;color:#fff;font-size:24px;vertical-align:middle;}
#main_contents_wrap .topContents a.search {display:block;width:274px;font-size:28px;margin:0 auto;}
#main_contents_wrap .topContents a.search:before {content:"";display:inline-block;width:29px;height:28px;background:url('../images/common/detail_search.png') no-repeat;vertical-align:middle;margin-right:10px;}
#main_contents_wrap .topContents button.scrollDown {display:block;position: absolute;left:50%;bottom:-40px;z-index: 10; margin-left: -40px; width: 80px;height: 80px;background: url('../images/common/bg_icon.png') no-repeat -226px -110px;text-indent:-9999px;}
#main_contents_wrap .tabContents {height:899px;background:#fff;}
#main_contents_wrap .tabContents .innerLayout {padding:0;width:auto;}
#main_contents_wrap .tabContents .innerLayout .swiperTypeCover {position:relative;}
#main_contents_wrap .tabContents .btnArea{width:100%;border-bottom:1px solid #e6e6e6;margin-top:10px;}
#main_contents_wrap .tabContents .btnTab {width:1244px;margin:0 auto;}
#main_contents_wrap .tabContents .btnTab.case1 a span {top:0;height:auto;padding:20px 0;color:#969696;border-bottom:0 none;font-size:28px;}
#main_contents_wrap .tabContents .btnTab.case1 a.on span {color:#e24e4e;background-color:#fff;border:0 none;border-bottom:2px solid #e24e4e;}
#main_contents_wrap .tabContents .sellTab {overflow:hidden;text-align:center;}
#main_contents_wrap .tabContents .swiperBack {padding:100px 0;}
#main_contents_wrap .tabContents .swiperBack ul.swiper-wrapper {height:460px !important;padding:0 0;}
#main_contents_wrap .tabContents .swiperBack ul li.swiper-slide {position:relative;text-align:center;}
#main_contents_wrap .tabContents .swiperBack ul li div {position:relative;display:inline-block;width:1030px;min-height:auto !important;margin:0 auto;text-align:left;padding:30px 0 38px;}
#main_contents_wrap .tabContents .swiperBack ul li div span {position:absolute;display:inline-block;left:671px;top:30px;content: "";width:356px;height:276px;background: url('../images/sub/bg_special_pc.png') no-repeat;}
#main_contents_wrap .tabContents .swiperBack ul li div span.icon6 {background-position: -1791px 0;}
#main_contents_wrap .tabContents .swiperBack ul li div span.icon7 {background-position: -2150px 0;}
#main_contents_wrap .tabContents .swiperBack ul li div span.icon8 {background-position: -2506px 0;}
#main_contents_wrap .tabContents .swiperBack ul li div span.icon9 {background-position: -2864px 0;}
#main_contents_wrap .tabContents .swiperBack ul li div span.icon10 {background-position: -3222px 0;}
#main_contents_wrap .tabContents .swiperBack ul li strong {display:block;font-size:44px;}
#main_contents_wrap .tabContents .swiperBack ul li em {display:block;font-size:27px;color:#979797;margin-top:5px;}
#main_contents_wrap .tabContents .swiperBack ul li p {margin:45px 0 55px;font-size:19px;}
#main_contents_wrap .tabContents .swiperBack ul li a {color:#e24e4c;font-size:19px;border-bottom:1px solid #e24e4c;}
#main_contents_wrap .tabContents .swiperBack .btnSet {padding-top:40px;margin:0 auto;width:1244px !important;border-top:1px solid #e6e6e6;}
#main_contents_wrap .tabContents .swiperBack .btnSet .red {width:436px;font-size:28px;padding:18px 0 18px;}
/**/
#main_contents_wrap .swiper-pagination {bottom:155px;}
#main_contents_wrap .swiper-pagination-bullet {width:9px;height:9px;border:3px solid #e24e4e;background:#fff;}
#main_contents_wrap .swiper-pagination-bullet-active {background:#e24e4e;}
/**/
#main_contents_wrap .mainContents .innerLayout .listType1 {width:1645px;}
#main_contents_wrap .mainContents .innerLayout .listType1 li {border-left:1px solid #e6e6e6;border-top:1px solid #e6e6e6;margin:0 0 -1px -1px;}
#main_contents_wrap .mainContents .innerLayout p.certification {color:#4a4a57;font-size:31px;text-align:center;font-weight:bold;margin-bottom:60px;}
#main_contents_wrap .mainContents .innerLayout p.certification:before {content:" ";display:inline-block;width:224px;height:42px;background: url('../images/sub/img_logo.png') no-repeat;margin-right:25px;background-size:224px auto;}
/**/
#main_contents_wrap .mainContents .innerLayout .moreBtn {padding-top:40px;}
#main_contents_wrap .mainContents .innerLayout .moreBtn .red {width:436px;font-size:28px;padding:18px 0 18px;}
/**/
@media screen and (max-width:1865px){
	#main_contents_wrap .mainContents .innerLayout .listType1 {width:100%;}
}