@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: special.css
* @Version: 1.0
* @Create Date: 2017-04-04
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

.special .dataSet {width: 1244px; margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.special .dataSet h2 {padding:40px 0;font-size:26px;font-weight:normal;text-align: center;font-size: 34px;}
.special .dataSet h2:before {content: "";display: block;margin:0 auto; width: 40px;height: 40px;background: url('../images/common/bg_icon.png') no-repeat -226px -62px;}
.special .dataSet h2 em {display: block;font-size:18px;font-weight:normal;font-size: 18px;color:#969696;}

.special .serviceMenu {position: relative;display:inline-block;padding: 25px 0;height:138px;width:100%; margin:0 auto;background:#f8f8f8;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.special .serviceMenu.on {position:fixed;z-index:15;top:0;}
.special .serviceMenu div {margin:0 auto;width:1264px;}
.special .serviceMenu a {display:block;float:left;width:25%;height: 88px;padding: 0 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.special .serviceMenu a span {display:block;width:100%;height: 88px; font-size: 24px;color: #4e4e4e;text-align: center;padding:15px 0 0;border:1px solid #e6e6e6;background-color: #fff; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.special .serviceMenu a span i {display:block;width:100%;font-size: 14px;font-weight: normal; color: #4e4e4e;text-align: center;}
.special .serviceMenu a.on span {background-color: #4e4e4e;border:none;color: #fff;}
.special .serviceMenu a.on span i {color: #fff;}

.special .innerLayout .innerLayout {position: relative;}
.special .innerLayout .innerLayout:last-child:after {display: none;}
.special .carValue {text-align: center;padding: 122px 0 110px;}
.special .carValue:before {content: "";display: block;width: 330px;height:256px;margin:0 auto 60px; background: url('../images/sub/bg_special.png') no-repeat;}
.special .carValue.icon1:before {background-position: 0 0;}
.special .carValue.icon2:before {background-position: -330px 0;}
.special .carValue.icon3:before {background-position: -660px 0;}
.special .carValue.icon4:before {background-position: -990px 0;}
.special .carValue.icon5:before {background-position: -1320px 0;}
.special .carValue.icon6:before {background-position: -1650px 0;}
.special .carValue.icon7:before {background-position: -1980px 0;}
.special .carValue.icon8:before {background-position: -2310px 0;}
.special .carValue.icon9:before {background-position: -2640px 0;}
.special .carValue.icon10:before {background-position: -2970px 0;}
.special .carValue strong {display: block;font-size: 36px;margin-bottom: 37px;}
.special .carValue strong:after {content:"";display: block;width: 60px;height: 3px;background-color: #e24e4e;margin:30px auto 0;}
.special .carValue span {display: block;font-size: 18px;}
.special .carValue span i {color: #d54d4c;}
.special .carValue span i.reserve {color: #969696;}
.special .carValue span i em {display: block;font-weight: bold;color: #e24e4e;margin-top: 7px;}
.special .carValue span .btnDetail {display: block;margin:55px auto 0; background-color: #e24e4e;font-size: 20px;color: #fff;width: 400px;height: 60px;line-height: 60px;text-align: center;}
.special .carValue span a.btnDetail {display: block;margin:55px auto 0; background-color: #e24e4e;font-size: 20px;color: #fff;width: 400px;height: 60px;line-height: 60px;text-align: center;}
.special .carValue span a {display: block;margin:24px auto 0; font-size: 127%;color: #e24e4e;width: 164px; line-height: 47px;border:1px solid #e24e4e;}
.special .btnSet {width: 828px;margin:0 auto;padding-bottom: 100px;}
.special .btnSet span * {padding:0px;height: 58px;line-height: 58px;width: 398px;}

.special .specialMore {display:block;position:absolute;left:50%;bottom:-40px;z-index:10;margin-left:-40px;width:80px;height:80px;text-indent:-9999px;overflow:hidden;background: url('../images/common/bg_icon.png') no-repeat -226px -110px;}

@media screen and (max-width:1280px){
	.special .serviceMenu {width:100%;}
}











































