<!-- 소속상사 찾기 -->
<div class="popupWrap firmFind p-container bgGray" id="dealerFirmSearchPop" ng-init="templateInit()">
    <!-- popup header -->
    <div class="popupHeader">
        <header><h1>소속상사 찾기</h1></header>
        <a class="btnClose p-close">닫기</a><!-- ng-click="closeFirm()" -->
    </div>
    <hr/>
    <!-- popup contents -->
    <div class="popupContents"><!-- ng-model="popContentsFirm" -->
        <section>
            <div class="findAddress">
                <div class="searchArea">
                    <input type="text" name="shopFullSrchFirm" ng-model="search.shopFullName" placeholder="소속 상사를 입력하세요.">
                    <label for="" class="dpn">소속 상사</label>
                    <button type="button" class="" ng-click="searchGrp()">검색</button>
                </div>

                <h2>검색결과</h2>
                <!-- 검색목록이 없을 시 -->
                <div class="addressList" style="display: none;">
                    <p>검색어를 입력하세요</p>
                </div>
                <!-- //검색목록이 없을 시 -->
                <div class="findList">
                    <ul ng-hide="carFirmList.length == 0"><!--  ng-hide="carFirmList.length == 0" -->
                        <li ng-repeat="item in carFirmList" value="{{item.shopNo}}" ng-click="select($index)" ng-class="{on: item === selectedDataF}">{{item.shopFullName}}</li>
                    </ul>
                    <ul ng-show ="carFirmList.length == 0"><!--  ng-show ="carFirmList.length == 0" -->
                        <li style="text-align: center;">검색결과가 없습니다.</li>
                    </ul>
                </div>

                <div class="btnSet">
                    <span><a href="" class="redLine p-close">취소</a></span>
                    <span><a href="" class="red" ng-click="onCompleteF()">다음</a></span>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- //소속상사 찾기 -->