<!-- 2017-06-14 견적요청 -->
<div class="popupsmallWrap realtimeChoice p-container" ng-init="templateInit()">
    <!-- popup header -->
    <div class="popupHeader">
        <header><h1>실시간 견적요청</h1></header>
        <a class="btnClose p-close">닫기</a>
    </div>
    <hr/>
    <!-- popup contents -->
    <div class="popupContents">
        <section>
            <div class="contentsBack">
                <div>
                    <strong>약관동의</strong>
                    <span class="checkSet"><input type="checkbox" id="agreeReq" ng-model="req.agreeReq" ng-true-value="'Y'"/><label for="agreeReq">견적요청을 위한 ‘광고성정보수신, SMS수신, PUSH수신’ 을 일괄 동의합니다.</label></span>
                </div>견적방법을 선택하여 주십시오.
            </div>
            <div class="btnSet">
                <span><button type="button" class="redLine"		ng-click="onClick('BTN_DEALER')">딜러견적</button></span>
                <span><button type="button" class="red"			ng-click="onClick('BTN_VISIT')">방문견적</button></span>
            </div>
        </section>
    </div>
    <!-- //-->
</div>
<!-- //견적요청  -->
