@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: certify.css
* @Version: 1.0
* @Create Date: 2017-04-07
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

.popCertify {}
.popCertify dl {text-align: center;border-bottom:1px solid #d8d8d8;margin-bottom: 25px;}
.popCertify dl dt {font-weight: bold; color: #e24e4e;line-height: 1.8;letter-spacing: -1px;border-bottom:1px solid #d8d8d8;padding-bottom: 20px;}
.popCertify dl dt:before {content: "";display: block;width: 50px;height:50px;margin:24px auto 14px; background: url('../images/sub/bg_certify.png') no-repeat;background-size:80px 50px;}
.popCertify dl dd {background-color: #f8f8f8;padding: 22px 20px 0;line-height: 1.5;}
.popCertify dl dd:last-child {padding-bottom: 22px;}
.popCertify dl dd i {display: block;width: 50px;height: 20px;line-height: 23px;border-radius: 10px;margin:0 auto 8px; background-color: #e24e4e;text-align: center;font-size: 85%;color: #fff;}

.helpTxt {border-bottom:1px solid #e6e6e6;background-color: #f8f8f8;text-align: center;padding:16px 0 18px;position: relative;}
.helpTxt strong {display: block;font-size: 108%;color:#e24e4e;margin-bottom: 10px;}
.helpTxt p {font-size: 85%;color:#4e4e4e;}
.helpTxt button {position: absolute;right:12px;top: 12px; width: 24px;height:24px;text-indent:-9999px; background: url('../images/sub/bg_certify.png') no-repeat;background-size:80px 50px;background-position: -50px 0;}

