@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: Common.css
* @Version: 1.0
* @Create Date: 2015-01-08
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

/* ====================== */
/* TT UI library */
/* ====================== */
/* ===== Default ===== */
hr {display:none;}
dl,ul,ol,menu,li {list-style:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,label,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;-webkit-margin-before:0;-webkit-margin-after:0;}
body, * {color:#4e4e4e;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
html, body {height:100%;font-size:14px;-webkit-margin-start:0;-webkit-padding-start:0px;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
a {text-decoration:none; -webkit-tap-highlight-color: rgba(0,0,0,0.0);}
a img {border:none;}
address, caption, cite, code, dfn, em, th, var, i, em {font-style:normal;font-weight:normal;}
caption {display:none;}
button {-webkit-appearance: none;border: none;outline: none}
fieldset {display:block;border:0;}
fieldset legend {display:none;}
table{border-collapse:collapse;border-spacing:0}

/* ===== Interval ===== */
/* align */
.left {float:left !important;}
.right {float:right !important;}
.clearb {clear:both;}
.tleft {text-align:left;}
.tright {text-align:right;}
.tcenter {text-align:center;}
.tjust {text-align:justify;}
.inblock {display:inline-block;}
/* space */
.pt0 {padding-top:0px !important;}
.pt5 {padding-top:5px;}
.pd8 {padding:8px;}
.pt12 {padding:12px;}
.pt12-b {padding:12px 12px 0;}
.pb0 {padding-bottom:0px !important;}
.pb10 {padding-bottom:10px !important;}
.plr8 {padding:0 8px;}
.ptb8 {padding:8px 0;}
.pl15 {padding-left:15px;}
.pr15 {padding-right:15px !important;}
.mrn {margin:0px !important;}
.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px;}
.mt8 {margin-top:8px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px !important;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.mb0 {margin-bottom:0px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb50 {margin-bottom:50px !important;}
.wFull {width: 100% !important;}
.wHalf {width:50% !important;}
.w120 {width:120px !important;}
.h95 {height:95px !important;}
.h110 {height:110px !important;}

.dpn {display: none !important;}
.blind {position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}

/* color */
.blueColor {color:#4fb3d3 !important;}
.disableLayout {display:none;height:0;overflow:hidden;} /* form 태그 대응 */
.bgGrayCase {background:#f8f8f8;}
.bgWhite {background:#fff;}

/* ===== Font Guide ===== */
/* size
   32pt > 11px = 77%     34pt > 12px = 85%       38pt > 13px = 93%       40pt > 14px = 100%     44pt > 15px = 108%
   46pt > 16px = 116%    48pt > 17px = 123%      52pt > 18px = 131%      54pt > 19px = 138%     56pt > 20px = 140%

/* ===== Txt layout ===== */
/* 색상 & 숨김 */
.accent {color:#fd4b42 !important;}
.hiddenTitle {display:none;}
/* 타이틀 */
.titleSet {clear:left;display:inline-block;width:100%;padding:16px 5px 7px 5px;box-sizing:border-box;}
.titleSet h3 {color:#1e1e1e;font-size:116%;letter-spacing:-1px;}
.titleSet h3 a {color:#1e1e1e;letter-spacing:-1px;}
.titleSet h3 span {font-weight:normal;font-size:77%;}
.titleSet.casego h3 a {position:relative;display:inline-block;width:100%;}
.titleSet.casego h3 a:after {content:"";position:absolute;left:auto;right:4px;top:50%;display:block;margin-top:-4px;height:8px;width:8px;background:0;border-top:1px solid #221f1f;border-right:1px solid #221f1f;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.titleSet.casetab h3 {float:left;display:inline-block;}
.titleSet.casetab span {float:right;padding-top:3px;}
.titleSet.casetab span button {float:left;padding-left:13px;line-height:18px;color:#969696;border:none;background:none;}
.titleSet.casetab span button.on {color:#3c3c3c;}
.titleSet.casetab span button:first-child {padding-right:13px;background: url('../images/common/bg_casetab_bar.png') no-repeat right center;background-size:1px 12px;}
/* 말줄임 */
.txtEllipsis {text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.multiTxtEllipsis {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient:vertical;word-wrap:break-word;}
/* box Shadow */
.boxShadow {overflow:hidden;box-shadow:0 1px 2px rgba(0,0,0,0.09);background:#fff;}
.listShadow>li {box-shadow:0 1px 2px rgba(0,0,0,0.09);background:#fff;}
/* 안내글 */
.grayTxt {font-size: 77%;color: #969696;margin-bottom: 5px;}
/* ===== components ===== */
/* 좋아요 */
.heartSet {position:relative;display:inline-block;width:21px;height:18px;vertical-align:top;}
.heartSet input[type="checkbox"] {position:absolute;opacity:0;width:14px;height:12px;}
.heartSet label {position:relative;left:0;display:inline-block;width:14px;height:12px;font-size:0;overflow:hidden;text-indent:-1000px;background:url('../images/common/btn_heart.png') no-repeat 0 0;background-size:14px auto;}
.heartSet input[type="checkbox"]:checked + label {background-position:left bottom;}

.heartSetS {position:relative;display:inline-block;width:14px;height:12px;vertical-align:top;}
.heartSetS input[type="checkbox"] {position:absolute;opacity:0;width:14px;height:12px;}
.heartSetS label {position:relative;left:0;display:inline-block;width:14px;height:12px;font-size:0;overflow:hidden;text-indent:-1000px;background:url('../images/common/btn_heart.png') no-repeat 0 0;background-size:14px auto;}
.heartSetS input[type="checkbox"]:checked + label {background-position:left bottom;}
/* 라디오 */
.radioSet {position:relative;vertical-align:top;}
.radioSet input[type="radio"] {position:absolute;opacity:0;width:17px;height:17px;}
.radioSet label {position:relative;left:0;display:inline-block;height:17px;padding-left:22px;line-height:17px;background:url('../images/common/btn_radio.png') no-repeat;background-size:17px auto;}
.radioSet input[type="radio"]:checked + label {background-position:left -85px;}
.radioSet input[type="radio"]:disabled + label {background-position:left bottom;}
.radioSet.noTxt label {padding-left:17px;}
/* 라디오 - 도트버전 */
.radioDot {position:relative;vertical-align:top;}
.radioDot input[type="radio"] {position:absolute;opacity:0;width:100%;height:17px;}
.radioDot label {position:relative;left:0;display:inline-block;padding:0 0 0 16px;}
.radioDot label:before {position:absolute;left:0;top:50%;margin:-2px 10px 0 0;content:"";display:inline-block;width:6px;height:6px;vertical-align:middle;border-radius:100%;background:#d8d8d8;}
.radioDot input[type="radio"]:checked + label:before {background:#e24e4e;}
.radioDot input[type="radio"]:disabled + label:before {background:#d8d8d8;}
.radioDot.noTxt label {padding-left:17px;}
/* 라디오 - 리스트버전 */
.radioList li {position:relative;vertical-align:top;border-bottom:1px solid #d8d8d8;}
.radioList li:last-child {border-bottom:0;}
.radioList input[type="radio"] {position:absolute;display:inline-block;opacity:0;width:100%;height:17px;}
.radioList label {position:relative;left:0;display:inline-block;width:100%;padding:12px 0 12px 28px;box-sizing:border-box;background:#f0f0f0;}
.radioList input[type="radio"]:checked + label {color:#fff;background:#e24e4e;}
.radioList input[type="radio"]:disabled + label {background:#f0f0f0;}
/* 체크박스 */
.checkSet {position:relative;vertical-align:top;}
.checkSet input[type="checkbox"] {position:absolute;opacity:0;width:17px;height:17px;}
.checkSet label {position:relative;left:0;display:inline-block;height:17px;padding-left:17px;line-height:17px;background:url('../images/common/btn_checkbox.png') no-repeat left 3px;background-size:12px auto;}
.iosCase .checkSet label {line-height:20px;}
.checkSet input[type="checkbox"]:checked + label {background-position:left -57px;}
.checkSet input[type="checkbox"]:disabled + label {background-position:left -117px;}
.checkSet input[type="checkbox"]:disabled:checked + label {background-position:left -57px;}
.checkSet.noTxt label {padding-left:17px;}
/* 체크박스 - 도트버전 */
.checkDot {position:relative;vertical-align:top;}
.checkDot input[type="checkbox"] {position:absolute;opacity:0;width:100%;height:17px;}
.checkDot label {position:relative;left:0;display:inline-block;padding:0 0 0 16px;}
.checkDot label:before {position:absolute;left:0;top:50%;margin:-2px 10px 0 0;content:"";display:inline-block;width:6px;height:6px;vertical-align:middle;border-radius:100%;background:#d8d8d8;}
.checkDot input[type="checkbox"]:checked + label:before {background:#e24e4e;}
.checkDot input[type="checkbox"]:disabled + label:before {background:#d8d8d8;}
.checkDot input[type="checkbox"]:checked:disabled + label:before {background:#e24e4e;}
.checkDot.noTxt label {padding-left:17px;}
/* 라디오 - 리스트버전 */
.checkList li {position:relative;vertical-align:top;border-bottom:1px solid #d8d8d8;}
.checkList li:last-child {border-bottom:0;}
.checkList input[type="checkbox"] {position:absolute;display:inline-block;opacity:0;width:100%;height:17px;}
.checkList label {position:relative;left:0;display:inline-block;width:100%;padding:12px 0 12px 28px;box-sizing:border-box;background:#f0f0f0;}
.checkList input[type="checkbox"]:checked + label {color:#fff;background:#e24e4e;}
.checkList input[type="checkbox"]:disabled + label {background:#f0f0f0;}
/* 별점 */
.starArea {font-size:93%;color:#363636;}
.starArea span {font-size:85%;color:#787878;}
/**/
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"] {padding:6px 8px;height:41px;width:100%;font-size:100%;color:#313131;vertical-align:middle;border:1px solid #d8d8d8;box-sizing:border-box;box-shadow:none;-webkit-appearance:none;border-radius:0;outline: 0 none;}
input[readonly="readonly"],
input[disabled="disabled"] {padding:6px 8px;height:28px;width:100%;font-size:100%;vertical-align:middle;color:#969696;border:1px solid #e2e2e2;box-sizing:border-box;}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {position:relative;z-index:2;box-shadow:inset 0 0 0 1px #e24e4e;border:1px solid #e24e4e;}
input.readonly {border:none;color: #969696;}
input.readonly:focus {box-shadow:none;border:none;}
::-webkit-input-placeholder {font-size:100%;color:#848484;} /* WebKit browsers */
:-moz-placeholder {font-size:100%;color:#848484;opacity:1;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {font-size:100%;color:#848484;opacity:1;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {font-size:100%;color:#848484;}/* Internet Explorer 10+ */
/**/
.selectSet {position:relative;display:inline-block;padding:0;width:auto;overflow:hidden;background:#fff;}
.selectSet select {display:inline-block;padding:0 28px 0 0;height:24px;width:100%;font-size:100%;vertical-align: top;line-height:24px;color:#646464;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;border:none;outline:0 none;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:transparent;}
.selectSet select:disabled {border-radius:0;background: rgba(204, 204, 204, 0.5);}
.selectSet:after {content:"";position:absolute;left:auto;right:0;top:50%;display:block;margin-top:-4px;height:11px;width:19px;background:url('../images/common/btn_select.png') no-repeat;background-size:19px auto;pointer-events:none;}
/**/
textarea {padding:6px 8px;font-size:100%;-webkit-appearance:none;outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;resize:none;box-sizing:border-box;border-radius:0;border:none;background:#f8f8f8;}
/**/
.gridSet {display:table;width:100%;}
.gridItem {display:table-cell;width:100%;}
.gI-1 {width:10%;}
.gI-2 {width:20%;}
.gI-25 {width:25%;}
.gI-3 {width:30%;}
.gI-33 {width:33.3%;}
.gI-4 {width:40%;}
.gI-5 {width:50%;}
.gI-6 {width:60%;}
.gI-7 {width:70%;}
.gI-75 {width:75%;}
.gI-8 {width:80%;}
.gI-9 {width:90%;}
/* ===== Btn ===== */
.btnMore {padding:12px;width:100%;box-sizing:border-box;}
.btnMore button {width:100%;height:36px;font-size:108%;line-height:36px;border:none;background:#ebebeb;}
.btnSet {clear:left;display:table;width:100%;text-align:center;font-size:131%;font-weight:bold;box-sizing:border-box;margin-bottom: 25px;}
.btnSet span {display:table-cell;padding:0 3px;box-sizing:border-box;}
.btnSet span:first-child {padding-left:0;}
.btnSet span:last-child {padding-right:0;}
.btnSet span * {display:inline-block;width:100%;padding:15px 0 13px;text-align:center;box-sizing:border-box;}
.btnSet span em {width:auto;padding:0;}
.btnSet span button {font-size:100%;font-weight:bold;letter-spacing:-1px;}
.btnSet span .blackLine {color:#4e4e4e;border:1px solid #4e4e4e;background:#fff;}
.btnSet span .redLine {color:#e24e4e;border:1px solid #e24e4e;background:#fff;}
.btnSet span .red {color:#fff;border:1px solid #e24e4e;background:#e24e4e;}
.btnSet span .red em {color:#fff;}
.btnSet span .red.viewCase * {width:auto;padding:0 0 0;color:#fff;}
.btnSet span .red.viewCase strong {padding:0 0 0 25px;line-height:18px;background:url('../images/common/btn_viewCase2.png') no-repeat left top;background-size:auto 17px;}
.btnSet span .redLine.viewCase * {width:auto;padding:0 0 0;color:#e24e4e;}
.btnSet span .redLine.viewCase em {padding:0 0 0 25px;line-height:18px;background:url('../images/common/btn_viewCase.png') no-repeat left top;background-size:auto 17px;}
.btnSet span .redLine.rankWrite * {width:auto;padding:0 0 0;color:#e24e4e;}
.btnSet span .redLine.rankWrite em {padding:0 0 0 25px;line-height:18px;background:url('../images/sub/btn_rankWrite.png') no-repeat left top;background-size:auto 17px;}
.btnSet span .redLine.certifyCase {padding:7px 0 11px;width:75%;}
.btnSet span .redLine.certifyCase em {padding:0 0 0 25px;line-height:18px;background:url('../images/sub/btn_certify.png') no-repeat left top;background-size:auto 18px;}
.btnSet span .redLine.certifyCase * {width:auto;padding:0 0 0;color:#e24e4e;}
.btnSet span .gray {color:#4e4e4e;font-weight:normal;border:1px solid #f0f0f0;background:#f0f0f0;}
.btnSet span .gray * {width:auto;padding:0 0 0;color:#4e4e4e;}
/* 탭UI 버튼 */
.btnLink {clear:left;display:table;width:100%;text-align:center;font-size:93%;box-sizing:border-box;}
.btnLink * {display:table-cell;}
.btnLink.grid2 * {width:50%;}
.btnLink.grid3 * {width:33.3%;}
.btnLink.grid4 * {width:25%;}
.btnLink.case1 {font-size:100%;box-shadow:0 1px 2px rgba(0,0,0,0.09);background:#fff;}
.btnLink.case1 * {padding:17px 0 15px;background:url('../images/common/bg_case3_bar.png') no-repeat;background-position:left 50%;background-size:1px 12px;}
.btnLink.case1 *:first-child {background:none;}
/* ===== icon ===== */
.markSet {display:inline-block;margin:0;padding:0;height:22px;width:22px;text-indent:-9999px;font-size:0;line-height:0;vertical-align:top;overflow:hidden;border:1px solid #e24e4e;border-radius:3px;background: url('../images/common/img_mark.png') no-repeat;background-size:24px auto;}
.markSet.mark2 {border-color:#d64d4d;background-position:-1px -26px;}
.markSet.mark3 {border-color:#f19365;background-position:-1px -51px;}
.markSet.mark4 {border-color:#90b949;background-position:-1px -76px;}
.markSet.lC {height:28px;width:28px;background:url('../images/common/img_mark.png') no-repeat;background-size:30px auto;}
.markSet.lC.mark1 {background-color:#e24e4e;}
.markSet.lC.mark2 {background-position:-1px -32px;}
.markSet.lC.mark3 {background-position:-1px -63px;}
.markSet.lC.mark4 {background-position:-1px -94px;}
.levelSet {display:inline-block;margin:0;padding:0;height:24px;width:24px;text-indent:-9999px;font-size:0;line-height:0;vertical-align:top;overflow:hidden;border-radius:2px;background:url('../images/common/img_level.png') no-repeat;background-size:24px auto;}
.levelSet.lC {height:30px;width:30px;background:url('../images/common/img_level.png') no-repeat;background-size:30px auto;}
.levelBadge {display:inline-block;margin:0;padding:0 0 0 26px;color:#4e4e4e;background:url('../images/common/img_level2.png') no-repeat;background-size:20px 120px;vertical-align: top;}
.levelBadge * {color:#4e4e4e;}
.levelBadge.level1 {background-position:left -2px;}
.levelBadge.level2 {background-position:left -32px;}
.levelBadge.level3 {background-position:left -62px;}
.levelBadge.level4 {background-position:left -92px;}
.bookingCount {padding:1px 9px 3px;color:#fff;font-size:78%;border-radius:20px;background:rgba(0,0,0,.7);}  /* 2017-07-24 */
.bookingCount strong {color:#fff;}  /* 2017-07-24 */
/* ===== Tab ===== */
/* 안드로이드 GPU 랜더링 오류 시 추가 */
.gpu-rendering {-webkit-overflow-scrolling: touch;}
.gpu-rendering > * {-webkit-transform: translateZ(0px);}
.gpu-rendering > * {-webkit-transform: translate3d(0,0,0);}
/**/
.btnTab {clear:left;display:table;width:100%;text-align:center;font-size:93%;box-sizing:border-box;}
.btnTab * {display:table-cell;font-weight:bold;}
.btnTab.grid2 * {width:50%;}
.btnTab.grid3 * {width:33.3%;}
.btnTab.grid4 * {width:25%;}
.btnTab .dis {color:#cfcfcf !important;}
/**/
.btnTab.case1 {height:48px;border-bottom:1px solid #e6e6e6;}
.btnTab.case1 * {line-height:48px;font-size:108%;color:#969696;}
.btnTab.case1 a {position:relative;height:48px;}
.btnTab.case1 a span {display:block;width:100% !important;height:48px;overflow:hidden;}
.btnTab.case1 a span em {display:inline-block;padding:0 5px;width:auto;font-size:85%;}
.btnTab.case1 a.on span {position:absolute;z-index:2;height:47px;width:100%;color:#e24e4e;border-bottom:2px solid #e24e4e}
.btnTab.case1 a.on span em {display:inline-block;color:#e24e4e;}
/**/
.btnTab.case2 {height:48px;border-bottom:1px solid #e5e5e5;}
.btnTab.case2 * {line-height:43px;font-size:108%;color:#969696;background:#fff;}
.btnTab.case2 a {position:relative;height:48px;border:none;}
.btnTab.case2 a span {display:block;width:100% !important;height:48px;overflow:hidden;}
.btnTab.case2 a span em {display:inline-block;padding:0 5px;width:auto;font-size:85%;}
.btnTab.case2 a.on span {position:absolute;z-index:2;height:47px;width:100%;color:#4e4e4e;border-bottom:2px solid #4e4e4e}
.btnTab.case2 a.on span em {display:inline-block;color:#4e4e4e;}
/**/
.btnSetLayout {margin:0px 11px;}
/* ===== List ===== */
.noListMore {-webkit-display:flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;}
.noListMore img {width:80%;height:auto;}
@media only all and (min-width:376px) {
	.noListMore img {max-width:120px;}
}
.noneListNotice {padding:50px 0;color:#3c3c3c;font-size:93%;text-align:center;border-top:1px solid #e5e5e5;}
/* 목록 sort */
.listSort {padding:15px 11px 15px 15px;height:54px;display:inline-block;width:100%;box-sizing:border-box;}
.btnDSearch {display:inline-block;padding:0 0 0 24px;height:24px;line-height:24px;font-size:100%;color:#e24d4f;background:url('../images/common/btn_sort_layout.png') no-repeat left -96px;background-size:18px auto;}
.btnDSearch em {padding-left:5px;color:#969696;}
.listSort .left .logo {vertical-align: middle;font-weight: bold; width:66px;height: 16px;padding-left:70px; background: url('../images/common/img_logo.png') no-repeat;background-size: 66px auto;}
.listSort .right {display:inline-block;}
.listSort .right .ssback {float:left;display:inline-block;padding:0 12px 0 0;margin-right:8px;height:24px;border-right:1px solid #e6e6e6;}
.listSort .selectSet {height:24px;vertical-align:top;}
.listCase {display:inline-block;width:24px;height:24px;text-align:left;}
.listCase button {height:24px;width:24px;border:0;font-size:0;text-indent:-9999px;vertical-align:top;overflow:hidden;background:url('../images/common/btn_sort_layout.png') no-repeat;background-size:18px auto;}
.listCase .case1 {display:inline-block;background-position:3px 3px;}
.listCase .case1.on {display:none;}
.listCase .case2 {display:inline-block;background-position:3px -45px;}
.listCase .case2.on {display:none;}
.listCase.bar {position: relative;}
.listCase.bar:before {content: "";display: block;position: absolute;left:-8px;top: 0; width: 1px;height: 24px;background-color: #e6e6e6;}
/* 제품명 */
.productInfo {clear:left;display:inline-block;width:100%;padding:8px 0 6px;text-align:left;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.productInfo div {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding-right: 30px;}
.productInfo div strong {padding-right:3px;}
.productInfo div span {padding-right:3px;}
.productInfo p {margin:0;padding:2px 0 0;width:100%;}
.productInfo p * {font-size:85%;line-height:85%;color:#969696;}
.productInfo p em {margin:0 0 0 6px;padding:0 0 0 7px;background:url('../images/common/bg_pi_line.png') no-repeat left center;background-size:1px auto;}
.prBack {padding:0 11px 0;text-align:left;vertical-align: top;position: relative;}
.markGroup {display:block;}
.markGroup strong.goodsPrice {display: inline-block;float:right; text-align: right; margin:0;padding:5px 0 0;font-size:77%;line-height:85%;color:#969696;font-weight:normal;}
.markGroup strong.goodsPrice strong {display:inline-block;font-size:160%;color:#4e4e4e;font-weight:bold;line-height:85%;margin-right: 2px;}
.markGroup:after{content:"";display:block;clear:both;}

/* 중앙 섬네일 */
.listType1 {border-top:1px solid #e7e7e7;vertical-align:top;}
.listType1 li {position:relative;text-align:center;border-bottom:1px solid #e7e7e7;}
.listType1 li a {display:block;}
.listType1 .productInfo div {height:20px;}
.listType1 .thumBack {position:relative;overflow:hidden;}
.listType1 .thumBack div {position:relative;}
.listType1 .thumBack div img {display:block;width:100%;}
.listType1 .thumBack .markSet {position:absolute;z-index:2;left:10px;top:10px;}
.listType1 .thumBack .bookingCount {position:absolute;z-index:2;right:10px;bottom:10px;} /* 2017-07-24 */
.listType1.grid1 li {border-bottom:1px solid #e7e7e7;}
.listType1.grid1 a {position:relative;width:100%;height:90px;overflow:hidden;}
.listType1.grid1 .thumBack {position:absolute;left:0;top:0;z-index:2;display:inline-block;width:123px;height:90px;overflow:hidden;}
.listType1.grid1 .thumBack div {height:90px;overflow:hidden;}
.listType1.grid1 .thumBack .markSet {width: 18px;height: 18px;background-size: 18px auto;}
.listType1.grid1 .prBack {position:relative;padding:0 11px 0 134px;}
.listType1.grid1 .heartSet {position:absolute;right:2px;top:10px;}
/* .listType1.grid1 .productInfo {padding:8px 0 12px;} */
.listType1.grid1 .markSet {display:inline-block;margin:0;padding:0;height:22px;width:21px;text-indent:-9999px;font-size:0;line-height:0;vertical-align:top;overflow:hidden;border-radius:2px;background: url('../images/common/img_mark.png') no-repeat;background-size:21px auto;}
.listType1.grid1 .markSet.mark2 {background-position:left -21px;}
.listType1.grid1 .markSet.mark3 {background-position:left -43px;}
.listType1.grid1 .markSet.mark4 {background-position:left -66px;background-size:21px 88px;margin-top: 0px;}

.listType1.grid2 {clear:left;display:-webkit-flex;display:flex;flex-wrap:wrap;-webkit-flex-wrap:wrap;width:100%;box-sizing:border-box;}
.listType1.grid2 li {position:relative;clear:both;float:left;padding:0 0 10px;width:50%;box-sizing:border-box;box-shadow:1px 0 0 0 #e7e7e7;border-bottom:1px solid #e7e7e7;}
.listType1.grid2 li:nth-child(2n) {clear:initial;}
.listType1.grid2 .heartSet {position:absolute;right:2px;top:10px;}

.androidCase .productInfo p {padding:5px 0 0;}
.androidCase .productInfo strong.goodsPrice {padding:7px 0 0;}
/**/
.listType2 {vertical-align:top;}
.listType2 li {float:left;width:152px;padding-bottom:12px;border-right:1px solid #e6e6e6;}
.listType2 li:last-child {border-right:none;}
.listType2 li a {display:block;}
.listType2 .thumBack {position:relative;overflow:hidden;}
.listType2 .thumBack div {position:relative;}
.listType2 .thumBack div img {display:block;width:100%;}
.listType2 .thumBack .markSet {position:absolute;z-index:2;left:10px;top:10px;}
.listType2 .heartSet {position:absolute;right:12px;bottom:12px;}
/* 페이징 */
.bulletPagination {margin-bottom:3px;text-align:center;}
.bulletPagination a {display:inline-block;margin:0 3px !important;width:8px;height:8px;text-indent:9999px;font-size:0;overflow:hidden;opacity:1;border-radius: 100%;background: rgba(0,0,0,0.2);}
.bulletPagination a.on {background:#ef544d;}
/**/
.pagination {padding:15px 0;text-align:center;}
.pagination span {display:inline-block;height:35px;padding:0 15px;vertical-align:-22px;line-height:35px;}
.pagination span em {color:#4fb3d3;line-height:35px;}
.pagination span strong {font-weight:normal;line-height:35px;}
.pagination a {display:inline-block;width:35px;height:35px;text-indent:-99999px;font-size:0;box-sizing:border-box;border:1px solid #e6e6e6;background:#fff url("../images/common/btn_paging2.png") no-repeat;background-size:140px auto;}
.pagination a:hover, .paginationWrap a:focus {border:1px solid #4fb3d3;}
.pagination a.first {background-position:-1px -1px;}
.pagination a.first:hover, .paginationWrap a.first:focus {background-position:-1px -34px;}
.pagination a.prev {background-position:-37px -1px;}
.pagination a.prev:hover, .paginationWrap a.prev:focus {background-position:-37px -34px;}
.pagination a.next {background-position:-70px -1px;}
.pagination a.next:hover, .paginationWrap a.next:focus {background-position:-70px -34px;}
.pagination a.last {background-position:-105px -1px;}
.pagination a.last:hover, .paginationWrap a.last:focus {background-position:-105px -34px;}
/* ===== Accordion ===== */
.accordionSet .accordionTitle {position:relative;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.accordionSet .accordionTitle:after {content:"";position:absolute;left:auto;right:12px;top:50%;display:block;margin-top:-12px;height:13px;width:13px;background:0;border-bottom:2px solid #4e4e4e;border-right:2px solid #4e4e4e;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s;
    -ms-transform: transform .2s;
    transition: transform .2s;
}
.accordionSet .accordionData {display:none;}
.accordionSet.on .accordionTitle:after {margin-top:-4px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.accordionSet.on .accordionData {display:block;background:#f0f0f0;border-bottom: 1px solid #e6e6e6;}
.noAccordionSet .accordionData {display: none}
.on .editLayout {display:block;}
.editLayout {display:none;}
.btn-accordion-switch-item {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

.themeZone .bannerList {margin-top: 10px;}
.themeZone .bannerList:first-child {margin-top:0}

/* 입력 form 형식 */
.dotToggle {position:relative;padding:0 0 0 17px;}
.dotToggle:before {position:absolute;left:0;top:50%;margin:-3px 0 0 0;content:"";display:inline-block;width:6px;height:6px;vertical-align:middle;border-radius:100%;background:#d8d8d8;}
.dotToggle.on:before {background:#e24e4e;}
.dotToggle sup {display:inline-block;width:7px;height:7px;overflow:hidden;text-indent:-999px;font-size:0;background:#fff url("../images/common/mustIcon.png") no-repeat;background-size:7px auto;}
/**/
.writeType .accordionSet {border-bottom:1px solid #d8d8d8;}
.writeType .accordionTitle {display:table;width:100%;}
.writeType .accordionTitle .col {display:table-cell;}
.writeType .accordionTitle strong.col {padding:12px 0 12px 12px;width:95px;}
.writeType .accordionTitle span.col {padding:12px 38px 12px 0;text-align:right;}
.writeType .accordionTitle span.col * {color:#969696;}
.writeType .accordionData {border-top:1px solid #d8d8d8;background:#f0f0f0;}
.writeType .accordionData textarea {padding:6px 8px;width:100%;font-size:100%;color:#313131;line-height: 1.5; vertical-align:middle;border:1px solid #d8d8d8;box-sizing:border-box;box-shadow:none;-webkit-appearance:none;border-radius:0;outline: 0 none;}
.writeType .lastRow {border-bottom: 1px solid #d8d8d8;}
.writeType .btnType {position: relative;padding-right: 0px;border: 1px solid #d8d8d8;border-bottom: none;}
.writeType .btnType input.readonly {color: #969696;}
.writeType .btnType button {position: absolute;z-index:5;right:5px;top:4px;width: 54px;height: 33px;line-height: 33px;border:1px solid #d8d8d8;background-color: #fff;}
.writeType .btnType button:before {content: "";display: block;position: absolute;left:-6px;top:0; width: 5px;height: 31px;background-color: #fff;}
.writeType .readtxt input.readonly {border: 1px solid #d8d8d8;border-bottom: none;color: #969696;}
.writeType .readtxt input.readonly:focus {box-shadow:none;border: 1px solid #d8d8d8;border-bottom: none;}
.writeType .accordionSet.inputCase {display:table;width:100%;}
.writeType .accordionSet.inputCase .col {display:table-cell;box-sizing:border-box;}
.writeType .accordionSet.inputCase strong.col {padding:12px 0 12px 12px;width:95px;letter-spacing:-0.03em;word-spacing:-0.02em;}
.writeType .accordionSet.inputCase span.col {padding:7px 38px 8px 0;text-align:right;}
.writeType .accordionSet.inputCase span.col * {color:#969696;}
.writeType .accordionSet.inputCase input {width:100%;height:24px;padding:0 0 0 8px;text-align:right;border:none;}
.writeType .accordionSet.inputCase.writeInput span.col {padding:7px 12px 8px 0;text-align:right;color: #4e4e4e}
.writeType .accordionSet.inputCase.writeInput span.col * {color: #4e4e4e;}
.writeType .accordionSet.inputCase.writeInput span.col .checkSet:first-child {display: inline-block;margin-right: 10px;}
.writeType .accordionSet.inputCase.writeInput span.col .searchArea {width: 54px;height: 33px;line-height: 33px;border:1px solid #d8d8d8;background-color: #fff;}

.writeType .optionArea strong{background-color: #f0f0f0;line-height: 42px;font-size: 93%;font-weight:normal;color: #4e4e4e;padding-left: 28px;}
.writeType .optionArea div {background-color: #dbdbdb;padding:10px 10px 8px 28px;}
.writeType .optionArea div span {display: inline-block;width: 33.33%;margin: 0 0 5px -4px;}
.writeType .optionArea div span label {font-size: 85%;color: #4e4e4e;}
/* .writeType .optionArea div span:last-child label {color: #e24e4e;} */
/**/
.writeFullType .layoutSet {border-bottom:1px solid #d8d8d8;}
.writeFullType .title {padding:12px 0 12px 12px;width:100%;box-sizing:border-box;position: relative;}
.writeFullType .title span button {position: absolute;right:11px;top: 50%;margin-top: -15px; width: 108px;line-height: 30px;text-align: center;color: #fff;background-color: #e24e4e;}
.writeFullType .data {border-top:1px solid #d8d8d8;background:#f8f8f8;}
.writeFullType .basicInfo {border:none;}
/**/
.carKind {border-bottom: 1px solid #d8d8d8;padding:20px 12px;}
.carKind span {display: inline-block;width: 50%;margin-right: -4px;}
/**/
.mycarImage {padding:6px 3px;width:100%;overflow:hidden;box-sizing:border-box;}
.mycarImage li {float:left;margin:5px;width:71px;height:53px;overflow:hidden;display:inline-block;}
.mycarImage .swiper-slide {margin:0 3px;width:71px;border:2px solid #fff;}
.mycarImage .imageUp {position:relative;}
.mycarImage .imageUp span.imgFileDelete {position:absolute;z-index:3;}
.mycarImage .imageUp span.imgFileDelete input {display:inline-block;width:71px;height:53px;text-indent:-99999px;font-size:0;border:none;overflow:hidden;background:url("../images/sub/btn_imgControl.png") no-repeat left top;background-size:71px auto;}
.mycarImage .imageUp span.imgFileUp {position:absolute;width:71px;height:53px;display:inline-block;}
.mycarImage .imageUp span.imgFileUp label {position:absolute;left:0;top:0;z-index:1;display:inline-block;width:71px;height:53px;text-indent:-99999px;font-size:0;overflow:hidden;background:url("../images/sub/btn_imgControl.png") no-repeat left bottom;background-size:71px auto;}
.mycarImage .imageUp span.imgFileUp input[type="file"] {position:absolute;left:0;top:0;opacity:0;z-index:2;display:inline-block;padding:0;width:71px;height:53px;}
.mycarImage .imageUp div {position:relative;z-index:1;top:0;left:0;display:table;width:71px;height:53px;}
.mycarImage .imageUp div strong {display:table-cell;width:71px;height:53px;text-align:center;vertical-align:middle;overflow:hidden;}
.mycarImage .imageUp div strong img {width:100%;vertical-align:middle;}
/**/
.thumbnailBox {width:210px;height:210px;margin:0 auto;padding-top:20px;}
.thumbnailBox img {width:210px;height:210px;}
/**/
.noRecord {font-size: 104%;font-weight: bold; color: #969696;text-align: center;margin: 160px 0;}
.noRecord:before {content: "";display: block;margin:0 auto 17px; width: 78px;height: 78px;background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: 0px -70px;}
/* ====================== */
/* 기타 공통 */
/* ====================== */
/* ====================== */
/* Common Layout */
/* ====================== */
body {background:#fff;}
body.grayCase2 {background:#f8f8f8;}
body.grayCase {background:#f8f8f8;}
#wrap {position:relative;}
/* main header */
/* sub header */
#header {position:fixed;position:device-fixed;z-index:15;top:0;bottom:auto;left:0;width:100%;transform: translateZ(0);-webkit-transform: translateZ(0);background:#fff;border-bottom:2px solid #e24e4e;-webkit-backface-visibility:hidden;}
#header .topGnb {position:relative;height:54px;}
#header .topGnb h1 {position:relative;height:54px;text-align:center;font-size:140%;line-height:50px;color:#e24e4e;}
#header .topGnb h1.smallCase {font-size:116%;padding-left:10px;}
#header .topGnb h1 em {color:#e24e4e;}
#header .topGnb h1 img {width:125px;height:14px;}
#header .topGnb span {float:left;display:inline-block;}
/* 2017-07-17 */
#header .topGnb span a, #header .topGnb span button {display:block;width:40px;height:40px;text-indent:9999px;white-space:nowrap;overflow:hidden;border:none;background: url('../images/common/header_btn.png') no-repeat;background-size:40px auto;}
#header .topGnb .left {position:absolute;display:inline-block;left:7px;top:7px;z-index:10;}
#header .topGnb .left span {margin-right:3px;}
#header .topGnb .right {position:absolute;display:inline-block;right:7px;top:7px;z-index:10;}
#header .topGnb .right span {margin-left:3px;}
#header .topGnb .hbtnMypage button {background-position:left -50px;}
#header .topGnb .hbtnMypage a {background-position:left -50px !important;}
#header .hbtnMypage2 a {background-position:left -50px;}
#header .hbtnMypage.off * {background-position:left -150px;}
#header .hbtnBack {background:none !important;}
#header .hbtnBack button {background-position:left -100px  !important;}

#header.mainGnb {background:none;background-color: transparent;border-bottom: none;}
#header.mainGnb .topGnb span * {display:block;width:40px;height:40px;text-indent:9999px;white-space:nowrap;overflow:hidden;border:none;background: url('../images/sub/bg_main.png') no-repeat;background-size:40px auto;}
#header.mainGnb .topGnb h1 {text-indent: -99999px;width:131px;margin:0 auto; background: url('../images/common/img_logo2.png') no-repeat left 13px;background-size: 131px auto;}
#header.mainGnb .hbtnMypage {background: none !important;}
#header.mainGnb .hbtnMypage button {background-position:left -50px;}
#header.mainGnb .hbtnMypage a {background-position:left -50px;}
#header.mainGnb .hbtnMypage.off * {opacity:.6;}
#header.mainGnb.active .hbtnMypage.off * {opacity:1;background-position:left -150px;}
#header.mainGnb.active .topGnb {background-color: #fff;border-bottom: 2px solid #e24e4e;}
#header.mainGnb.active .topGnb span * {display:block;width:40px;height:40px;text-indent:9999px;white-space:nowrap;overflow:hidden;border:none;background: url('../images/common/header_btn.png') no-repeat;background-size:40px auto;}
#header.mainGnb.active .topGnb h1 {text-indent: -99999px;width:131px;margin:0 auto; background: url('../images/common/img_logo.png') no-repeat left 13px;background-size: 131px auto;}
#header.mainGnb.active .hbtnMypage *{background-position:left -50px !important;}
/* 2017-07-17 */
/* contents */
#contents {padding-top:56px;overflow:hidden;background:#fff;}
body.grayCase #contents {background:#f8f8f8;}
body.grayCase2 #contents {background:#f8f8f8;}
#contents.qSCase {padding-top:247px;}
#contents.qSCase.off {padding-top:115px;}
#contents.qSCaseNone {padding-top:154px;}
#contents h2.subTitle {position:relative;color:#1e1e1e;font-size:131%;text-align:center;line-height:42px;border-top:1px solid #e5e5e5;border-bottom:1px solid #a8a8a8;background:#fff;}
/* footer */

#footer {padding:12px 12px 12px 119px;background:#4e4e4e url('../images/common/img_foot_logo.png') no-repeat 26px center;background-size:66px auto;}
#footer.mb50 {margin-bottom:48px !important;}
#footer.simple {padding:20px 12px 20px 100px;}
#footer span {display: block;font-size: 77%;color: #fff;}
#footer span:nth-last-child(2) {margin-bottom: 10px;}
#footer span a {font-size:100%;color: #fff;}/*2017-07-19*/
#footer address {display: block;font-size: 77%;color: #8d9091;}

.footerFixed {position: fixed;bottom:0;width: 100%;z-index:10;}
.footerFixed .moveTop {display: block;position: absolute;right:24px;top: -78px; text-indent: -99999px; width: 54px;height: 54px;background: url('../images/common/btnTop.png') no-repeat;background-size:54px auto;}
.footerFixed .serviceMenu {background-color: #e24e4e;}
.footerFixed .serviceMenu button {display:block;float:left;width:25%;font-size: 89%;color: #fff;line-height:48px;text-align: center;background-color: transparent; position: relative;}
.footerFixed .serviceMenu button:after {content: "";display: block;position: absolute;right:0;top: 50%;margin-top: -12px; width: 1px;height: 24px;background-color: #ac2828;}
.footerFixed .serviceMenu button:last-child:after {display: none;}
.footerFixed .serviceMenu:after{content:"";display:block;clear:both;}
.footerFixed .serviceMenu.type2 button {width:50%;}
/* 상담 검색 2017-06-27 */
.topSearch {position:relative;border-bottom:1px solid #e6e6e6;padding:12px;}
.qSCase .topSearch {padding-top:20px;}
.topSearch.hAuto{height: auto;padding:0px;border-bottom:0;}
.topSearch .searchTxt {display: table;padding:0 0 0 35px;width:100%;box-sizing:border-box;background:#f0f0f0 url('../images/common/bg_topsearch.png') no-repeat left center;background-size:36px 36px;}
.topSearch .searchTxt .inputArea input[type="text"] {display:block;height:36px;border:none;background:none;}
.topSearch .searchTxt .inputArea input[type="text"]:hover {border:none;box-shadow:none;}
.topSearch .searchTxt .inputArea .sChoiced {display: none; margin:3px 0;padding:0px 20px 0px 10px;line-height:22px;color:#4e4e4e;border:1px solid #4e4e4e;border-radius:9px;background:#fff url('../images/common/btn_delete.png') no-repeat right center;background-size:auto 24px;max-width: 70px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.topSearch .searchTxt .tsSeset {position:absolute;right:12px;top:50%;margin:-18px 0 0 ;display:none;width:57px;height:36px;border:none;background-color: transparent;}
.topSearch .searchTxt.searchWord {padding:0 55px 0 35px;}
.topSearch .searchTxt.searchWord .inputArea {padding:5px 0;}
.topSearch .searchTxt.searchWord .sChoiced {display: inline-block;margin:0 5px 5px 0;}
.topSearch .searchTxt.searchWord .tsSeset {display: inline-block;}
/**/
.topSearch .searchText {position:relative;}
.topSearch .searchText .back {position:relative;padding:0 0px 0 35px;height:36px;white-space:nowrap;overflow:hidden;background:#f0f0f0 url('../images/common/bg_topsearch.png') no-repeat left top;background-size:36px 36px;}
.topSearch .searchText .back .tsSeset {display:none;position:absolute;right:0;top:0;width:55px;height:36px;text-align:center;border:none;background:none;}
.topSearch .searchText .back input {display:inline-block;width:auto;}
.topSearch .searchText .back .inputArea input[type="text"] {height:36px;border:none;background:none;}
.topSearch .back .inputArea input[type="text"]:hover {border:none;box-shadow:none;}  /* 2017-06-21 */
.topSearch .searchText .back .sChoiced {display:none; margin:5px 0 0;padding:4px 20px 3px 10px;color:#4e4e4e;border:1px solid #4e4e4e;border-radius:8px;background:#fff url('../images/common/btn_delete.png') no-repeat right center;background-size:auto 24px;}
.topSearch .searchText.searchWord .back {padding:0 55px 0 35px;}
.topSearch .searchText.searchWord .back .inputArea {height:36px;overflow-x:scroll;overflow-y:hidden}
.topSearch .searchText.searchWord .back .inputArea input[type="text"] {vertical-align:top;}
.topSearch .searchText.searchWord .back .sChoiced {display:inline-block;margin:4px 5px 0 0;}
.topSearch .searchText.searchWord .back .tsSeset {display:block;}
/* end 2017-06-27 */
.topSearch .searchSelect {position:absolute;z-index:3;left:0;top:60px;width:100%;background:#fff;}
.topSearch .searchSelect ul {height:216px;overflow-y:scroll;border-bottom:1px solid #e5e5e5;}
.topSearch .searchSelect li {padding:0 0 0 48px;height:36px;line-height:36px;}
.topSearch .searchSelect li:hover {color:#fff;background:#e24e4e;}
.detailSearch .topSearch .searchSelect {top:auto;} /* 2017-06-22 */
.detailSearch .writeType {padding-bottom:45px;}
/*.embedBack {position:absolute;left:0;top:50%;right:0;margin:-100px 0 0 0;width:100%;height:auto;}
.embedBack iframe {width:100%;height:100%;}*/
.embedContents { position:relative;padding-bottom: 56.25%;height:0;overflow:hidden;max-width:100%;height:auto;}
.embedContents iframe, .embedContents object, .embedContents embed {position:absolute;top:0;left:0;width:100%;height:100%;}
.thumProfile {display:inline-block;width:78px;height:78px;border-radius:50%;overflow:hidden;vertical-align: middle;}
.thumProfile img {width:100%;}
/* #debug */
#debug {position:fixed;top:0;left:0;z-index:9999;margin:0px;padding:0px;width:100%;max-height:300px;color:#000000;background-color:#FF0000;opacity:0.5;overflow-y:scroll;}
/* 로딩 */
.loadingLayer {text-align:center;}
.loadingLayer img {width:29px;vertical-align: top;}
.loadingAll {display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:4000;width:100%;height:100%;overflow:hidden;text-align: center;background: rgba(0, 0, 0, 0.8);}
.loadingAll img {position:absolute;left:50%;top:50%;margin:-30px 0 0 -30px;width:60px;height:60px;}
.loadingAll p {padding:10px 10px 0; color:white;}
.loadingAll .loadingBox {width: 100%; height: 100%; text-align: center;}
.loadingAll .imgBox {width: 90px; height: 90px; margin:0 auto; background: #ffffff; border-radius: 100%;}
/* @media screen and (max-height:600px){
	.loadingAll {padding-top:200px;}
}
@media screen and (max-height:500px){
	.loadingAll {padding-top:140px;}
} */
/* 시세확인 */
.pGraphSet {border:1px solid #e5e5e5;background:#fff;border-radius: 5px;}
.pGraphCanvas {position:relative;height:120px;overflow:hidden;}
/**/
.pgPos {position:absolute;z-index:5;bottom:54px;width:100%;}
.pgPos div {position:relative;display:inline-block;margin-left:-100px;}
.pgPos em {position:absolute;top:3px;margin:0 0 0 -38px;display:inline-block;width:48px;height:27px;background:url('../images/sub/bg_pCar.png') no-repeat center bottom;background-size:48px auto;}
.pgPos strong {position:absolute;left:0;bottom:42px;display:none;width:79px;height:28px;line-height:28px;font-size:85%;text-align:center;border:1px solid #4e4e4e;background:#fff;}
.pgPos strong:after {position:absolute;z-index:2;left:50%;bottom:-19px;margin:0 0 0 -4px;content:'';width:8px;height:19px;background:url('../images/sub/bg_pCarLine.png') no-repeat;background-size:8px auto;}
.pgPos strong span {font-weight:bold;color:#e24e4e;}
.pgPos em.noneCase strong {line-height:130% !important;font-size:75%;word-break:keep-all;}

.pRoad {position:absolute;z-index:2;bottom:20px;width:0;height:20px;border-bottom:4px solid #b4b4b4;background:#545454;}
.pRail {position:absolute;z-index:5;height:20px;width:100%;}
.pRail span {position:absolute;left:0;top:0;display:inline-block;height:20px;width:100%;background:url('../images/sub/bg_pRail.png') repeat;background-size:auto 24px;}
.pSection {position:relative;width:100%;}
.pSection div {display:inline-block;width:100%;height:20px;}
.pSection span {position:relative;z-index: 1;display:inline-block;height:20px;width:1px;}
.pSection span em {display:inline-block;height:20px;background-color:#f4b357;}
.pSection span:before {content: "";display:inline-block;width:0px;height:0px;border-left:10px solid transparent;border-bottom:20px solid #f4b357;}
.pSection span:after {content: "";display:inline-block;width:0px;height:0px;border-right:10px solid transparent;border-top:20px solid #f4b357;}

.pNumber {position:relative;display:inline-block;width:100%;height:120px;background:#f4f4f4;}
.pNumber div {position:absolute;bottom:0;width:100%;padding:5px 0 0 15%;height:20px;box-sizing:border-box;background:#fff;}
.pNumber span {position:relative;float:left;display:inline-block;width:20%;height:7px;font-size:77%;text-indent:-13px;z-index: 3;}
.pNumber span:before {content:'';position:absolute;bottom:36px;left:0;height:113px;width:1px;border-left:1px dotted #d8d8d8;}
.pNumber span:nth-child(2n) {text-indent: -99999px;}

.pGraphInfo {padding:10px;}
.pGraphInfo li {font-size: 85%;border-bottom: 1px solid #d8d8d8;line-height: 30px;padding-right: 5px;}
.pGraphInfo li:last-child {border-bottom: none;}
.pGraphInfo li span {float:left;display: inline-block;font-weight: bold;}
.pGraphInfo li span:before {content: "";display: inline-block;margin: 0 10px; width: 7px;height: 7px;border:1px solid #4e4e4e; box-sizing:border-box;}
.pGraphInfo li:nth-child(2) span:before {border:none;background-color: #f5bf52;}
.pGraphInfo li:nth-child(3) span:before {border:none;}
.pGraphInfo li strong {float:right;display: inline-block;}
.pGraphInfo li strong i {font-size: 90%;}
.pGraphInfo li:after{content:"";display:block;clear:both;}

.noGraphCanvas {text-align: center;color: #999;padding:42px 0 32px;}
.noGraphCanvas strong {display: block;font-size: 150%;}

/* end 시세확인 */
/* ====================== */
/* Popup Layout */
/* ====================== */
/* 팝업 오픈시 */
.modalOpen #wrap {position:fixed;width:100%;top:0;}
.modalOpen #contents {padding-top:50px;}
/* 전체창 */
.popupWrap {position:absolute;display:none;z-index:1000;width:100%;height:100%;}
.popupHeader {position:fixed;z-index:22;top:0;left:0;width:100%;padding:0;border-bottom:1px solid #e24e4e;background:#fff;}
.popupHeader header {position:relative;padding:0 9px;}
.popupHeader header h1 {height:50px;color:#e24e4e;font-size:131%;text-align:center;line-height:50px;letter-spacing:-1px;}
.popupHeader header h1 span{color:#e24e4e;}/* 2017-07-06 by jj-choi */
.popupHeader .btnClose {position:absolute;right:16px;top:16px;display:block;width:19px;height:19px;text-indent:-99999px;font-size:0;border:0;background:url("../images/common/btn_close.png") no-repeat 0 0;background-size:19px auto;}
.popupContents {position:absolute;top:0;z-index:20;width:100%;padding:0;margin:0;-webkit-overflow-scrolling:touch;overflow:auto;background:#fff;}
.popupContents h4 {margin-bottom: 10px}
.popupContents .termsWrap {padding:20px 15px;}
.popupContents .bridge li {margin-bottom: 5px; font-size:93%;}
.popupContents .bridge li i {display: none;}
.popupContents p {margin:10px 0 10px;}
.popupContents .subTitle {position:relative;padding:18px 16px 10px;color:#1e1e1e;font-size:116%;}
.popupContents .subTitle span {color:#787878;font-size:77%;font-weight:normal;letter-spacing:-1px;}
.popupContents .subTitle .btnGray {position:absolute;right:8px;top:13px;}
.popupWrap.bgGray .popupContents {background:#f8f8f8;}
.popupWrap.bgRed .popupContents {background:#e24e4e;}
.popupWrap.zindexUp {z-index:3100 !important;}
/* 2017-06-21 */
.popupWrap .popupBottom {position:fixed;z-index:22;bottom:0;left:0;width:100%;padding:0;}
.popupWrap .popupBottom .btnSet {margin-bottom:0;}
.popupWrap .popupBottom em {font-size:89%;}
/* end 2017-06-21 */
/* 작은창 */
.popupDim {display:none;position:fixed;left:0;top:0;z-index:500;width:100%;height:100%;background:rgba(0,0,0,0.8);}
.popupsmallWrap {display:none;position:relative;top:50%;z-index:501;padding:0 30px;margin-top:-125px;width:100%;box-sizing:border-box;}
.popupsmallWrap .popupHeader {position:relative;}
.popupsmallWrap .popupContents {position:relative;padding:0 10px 10px;box-sizing:border-box;}
.popupsmallWrap .popupContents .backLayout {padding-top:0;}
.popupsmallWrap .popupContents .btnSet {margin:0 0 0 0;}
.popupsmallWrap .popupContents .btnSet span * {padding:10px 0 8px;}
.popupsmallWrap.zindexDown {z-index:500;}
/* 버튼 */
.popupContents .popBtnSet {padding:15px 0 21px;text-align:center;border-top:1px solid #e5e5e5;}
.popupContents .popBtnSet.noLine {border:0;}
.popupContents .popBtnSet * {padding:0;width:168px !important;height:33px;line-height:33px;box-sizing:border-box;vertical-align: top;font-size:93%;font-weight:bold;background:transparent;}
.popupContents .btnSet span * {padding:10px 0 8px;}
@media screen and (max-width:374px){
	.popupContents .popBtnSet * {width:134px !important;}
}
/*
    팝업 외  #wrap 내의 z-index : 1 ~ 200

	전체 창 z-index : 1000
	전체 창 내 추가 z-index : 1000 + N

	작은 창 z-index : 3000 + N
	작은 창 dim z-index : 3000

	예외 작은 창 z-index : 500 + N
	예외 작은 창 dim z-index : 500
*/
/* =============================================== */
/* Custom Popup Layout                             */
/* 팝업상세 관련 내용은 하단 혹은 각 css 안에 추가 */
/* =============================================== */
/* 작은창 기본 */
.commonPopup {padding:0 50px}
.commonPopup .contentsBack {padding:0 0 0;}
.commonPopup .txtArea {display:table;width:100%;height:180px;text-align:center;}
.commonPopup .txtArea p {display:table-cell;width:100%;height:100%;font-size:116%;line-height:140%;vertical-align:middle;text-align:center;}
.commonPopup .txtArea p em {color:#e24e4e;}
.commonPopup .txtArea2 {padding:15px 12px 12px;line-height:160%;}

/* 작은창 기본(회원가입성공) */
.commonPopupJoin {padding:0 50px}
.commonPopupJoin .contentsBack {padding:0 0 0;}
.commonPopupJoin .txtArea {display:table;width:100%;height:180px;text-align:center;}
.commonPopupJoin .txtArea p {display:table-cell;width:100%;height:100%;font-size:116%;line-height:140%;vertical-align:middle;text-align:center;}
.commonPopupJoin .txtArea p em {color:#e24e4e;}
.commonPopupJoin .txtArea2 {padding:15px 12px 12px;line-height:160%;}
 
/* 방문시승탁송 취소요청 2017-07-24 */
.cancelPopup .txtArea {display:table;width:100%;height:180px;text-align:center;}
.cancelPopup .txtArea p {display:table-cell;width:100%;height:100%;font-size:116%;line-height:140%;vertical-align:middle;text-align:center;}
.cancelPopup .txtArea p em {color:#e24e4e;}
.cancelPopup .txtArea2 {padding:15px 12px 12px;line-height:160%;}

/* 주소찾기 full팝업 */
.findAddress {padding: 18px 11px;}
.findAddress .searchArea {padding-right:60px;position:relative;margin-bottom:15px;}
.findAddress .searchArea button {position:absolute;right:0;top:0; width:54px;line-height:41px;background-color:#848484;color:#fff;font-size: 93%;}
.findAddress h2 {font-size: 85%;color: #4e4e4e;margin-bottom: 5px;}
.findAddress .addressBox {border:1px solid #d8d8d8;padding:12px 15px;background-color: #fff;font-size: 85%;color: #4e4e4e;margin-bottom: 15px;}
.findAddress .addressBox dt {font-weight: bold;margin-bottom: 3px;}
.findAddress .addressBox dt:before {content: "";display: inline-block;width: 5px;height: 5px;margin-right:6px; background: url('../images/sub/bg_login.png') no-repeat;background-size:60px 160px;background-position: -50px 0;}
.findAddress .addressBox dd {margin-bottom: 10px;}
.findAddress .addressBox dd:last-child {margin-bottom: 0px;}
.findAddress .addressBox dd span {display: block;position: relative;padding-left: 10px;color: #858585;}
.findAddress .addressBox dd span:before {content: "";display: block;position: absolute;left:0;top:5px; width: 3px;height: 6px;margin-right:5px; background: url('../images/sub/bg_login.png') no-repeat;background-size:60px 160px;background-position: -55px 0;}
.findAddress .addressBox dd i {color: #4e4e4e;}

.findAddress .addressBox2 {padding:10px 17px;line-height: 1.5;border:1px solid #848484;position: relative;margin-bottom: 10px;background-color: #fff;}
.findAddress .addressBox2 span {display: block;font-size: 85%;color: #4e4e4e;position: relative;padding-left: 55px;margin-bottom: 2px;}
.findAddress .addressBox2 span:last-child {margin-bottom: 0;}
.findAddress .addressBox2 span strong {display: block;position: absolute;left:0;top: 0; width: 55px;color: #858585;}

.findAddress .addressList {max-height:100%;overflow-y:scroll;border:1px solid #898989;}
.findAddress .addressList p {background-color: #fff;font-size: 85%;font-weight: bold; color: #4e4e4e;line-height: 38px;text-align: center;margin:0;}
.findAddress .addressList ul {max-height: 420px;overflow-y: scroll;}
.findAddress .addressList ul li {padding:10px 30px 10px 17px;line-height: 1.5;border-bottom:1px solid #d8d8d8;position: relative;background-color: #fff;}
.findAddress .addressList ul li:last-child {border-bottom:none;}
.findAddress .addressList ul li:nth-child(2n) {background-color: #f3f3f3;}
.findAddress .addressList ul li:after {content: "";position: absolute;right:20px;top:50%;margin-top:-8px; display: block;width: 6px;height: 15.3px;background: url('../images/sub/bg_login.png') no-repeat;background-size:60px 160px;background-position: -50px -10px;}
.findAddress .addressList ul li:hover {box-shadow:inset 0 0 0 1px red;}
.findAddress .addressList ul li span {display: block;font-size: 85%;color: #4e4e4e;position: relative;padding-left: 55px;margin-bottom: 2px;}
.findAddress .addressList ul li span:last-child {margin-bottom: 0;}
.findAddress .addressList ul li span strong {display: block;position: absolute;left:0;top: 0; width: 55px;color: #858585;}
.findAddress .addressList ul li.more {padding:10px;background:none;}
.findAddress .addressList ul li.more:after {display:none;}
.findAddress .addressList ul li.more input {width:100%;padding:10px 0 8px;font-size:100%;font-weight:bold;text-align:center;box-sizing:border-box;color:#fff;border:1px solid #e24e4e;background:#e24e4e;}

.findAddress .detailAdd {/* border-top:1px solid #e5e5e5; padding-top: 18px; */margin-bottom: 20px;}
.findAddress .detailAdd .checkArea {border:1px solid #898989;padding:5px 15px;margin-bottom: 11px;background-color: #fff;}
.findAddress .detailAdd .checkArea span {display: inline-block;margin-right: 18px;}
.findAddress .detailAdd .writeRow {margin-bottom: 5px;}
.findAddress .detailAdd .txtRight {padding-right: 90px;position: relative;}
.findAddress .detailAdd .txtRight em {position: absolute;right: 0;top: 0; width: 80px;line-height: 41px;}

.findAddress .findList {border:1px solid #d8d8d8;margin-bottom: 20px;background-color: #fff;}
.findAddress .findList p {background-color: #fff;font-size: 85%;font-weight: bold; color: #4e4e4e;line-height: 38px;text-align: center;margin:0;}
.findAddress .findList ul {height: 290px;overflow-y: scroll;}
.findAddress .findList ul li {padding:7px 11px;font-size: 93%;color: #4e4e4e;}
.findAddress .findList ul li.on {color: #fff;background-color: #e24e4e}

/* 실시간시세문의 종류선택 */
.realtimeChoice {padding:0 16px;}
.realtimeChoice .contentsBack {padding:15px 15px 15px}
.realtimeChoice .contentsBack div {margin:0 0 10px;padding:8px;font-size:88%;border:1px solid #e6e6e6;background:#f4f4f4;}
.realtimeChoice .contentsBack div strong {display:inline-block;width:100%;padding:0 0 8px;}

/* 휴대전화 본인인증 */
.phonePop p {text-align:center;}
.phonePop p span {display:inline-block;width:100%;padding:10px 0;}

/* 방문시승탁송 시간요청 2017-07-22 */
.reserTimeChoice p {padding:15px 0;text-align:center;font-size:108%;line-height:165%;}
.reserTimeChoice .rtimeSelect {padding:15px 0;box-sizing:border-box;}
.reserTimeChoice .rtimeSelect .gridItem.gI-25 {padding:0 3px;}
.reserTimeChoice .rtimeSelect .selectSet {width:100%;box-sizing:border-box;}
.reserTimeChoice .rtimeSelect .selectSet select {height:30px;padding:5px 28px 5px 6px;line-height:20px;border:1px solid #999;}
.reserTimeChoice .rtimeSelect .selectSet select:disabled {background:#f0f0f0;border:1px solid #f0f0f0;}
.reserTimeChoice .rtimeSelect .selectSet:after {content:"";position:absolute;left:auto;right:0;top:50%;display:block;margin-top:-15px;height:30px;width:17px;background:url('../images/common/btn_select2.png') no-repeat;background-size:auto 30px;pointer-events:none;}

/* =============================================== */
/* 상단으로 이동 */
.btnTop {display:none;position:fixed;bottom:8px;right:8px;width:40px;height:40px;text-indent:-99999px;border:1px solid #e5e5e5;background:rgba(255,255,255,0.8);z-index:201;}
.btnTop.floating1 {bottom:66px;}
.btnTop.floating2 {bottom:58px;}
.btnTop:after {content:"";position:absolute;left:50%;top:50%;display:block;height:12px;width:12px;margin-top:-2px;margin-left:-6px;border-top:1px solid #000;border-left:1px solid #000;background:0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#notiMsg {display: none; position: fixed; top: 50%; left:50%; width: 182px; padding:7px 10px 10px; min-height:16px; margin:-20px 0 0 -101px; border-radius:30px; z-index: 3100; text-align: center; background: rgba(0,0,0,0.7); }
#notiMsg .txtMsg {color:#ffffff;}