@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: my.css
* @Version: 1.0
* @Create Date: 2017-04-11
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

.quesLayout input[type="text"]{border:none;border-bottom: 1px solid #e6e6e6;height: 47px;font-size: 123%;}
.quesLayout textarea {border:none;width: 100%;min-height: 180px;margin-bottom: 20px;font-size: 85%;color: #969696; padding:10px;border-bottom: 1px solid #e6e6e6;background-color: #f8f8f8;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.quesLayout .btnSet.pd11 {padding:11px 11px 0;}
.quesLayout .btnEnroll {width: 120px;margin:0 auto;}
.quesLayout .btnEnroll button {padding: 6px 0 7px;font-size: 85%;}
.quesLayout .btnQWrite {position: fixed;right:25px;bottom:25px; width: 63px;height: 63px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: 0px 0px;}

.qnaList dl dt {border-bottom:1px solid #d8d8d8;padding:7px 50px 8px 100px;position: relative;}
.qnaList dl dt i {display: block;position: absolute;left:12px;top: 50%;margin-top: -9px; font-size: 77%;color: #fff;width: 73px;height: 18px;line-height: 20px;border-radius: 9px; text-align: center;}
.qnaList dl dt i.accepting {background-color: #4e4e4e;}
.qnaList dl dt i.complete {background-color: #e24e4e;}
.qnaList dl dt strong {display: block;font-size: 93%;color: #4e4e4e;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.qnaList dl dt em {display: inline-block;font-size: 77%;color: #969696;margin-right: 8px;}
.qnaList dl dt em:after {content: "";display: inline-block;width: 1px;height: 8px;margin:-1px 0 0 8px;background-color: #969696;vertical-align: middle;}
.qnaList dl dt em:last-child:after {display: none;}
.qnaList dl dd {padding:10px 12px; border-bottom:1px solid #d8d8d8;background-color: #f8f8f8;line-height: 2;}
.qnaList dl dd .txtQ {font-size: 89%;color: #4e4e4e;}
.qnaList dl dd .txtQ strong {display: block;}
.qnaList dl dd .txtA {font-size: 89%;color: #e24e4e;border:1px solid #e24e4e;background-color: #fff;padding:15px 11px;margin-top: 20px;}

.reserSort {padding:9px;border-bottom:1px solid #969696;background:#f8f8f8;}
.reserSort div {display:inline-block;width:100%;padding:10px 0 13px;text-align:center;border:1px solid #e6e6e6;background:#fff;box-sizing:border-box;}
.reserSort div .checkSet {margin:0 20px;}
.reserList dl dt {border-bottom:1px solid #d8d8d8;padding:12px 50px 13px 80px;position: relative;}
.reserList dl dt span {display: block;position: absolute;left:12px;top: 50%;margin-top: -24px;}
.reserList dl dt span i {display: block;margin:5px 0; font-size: 77%;width: 58px;height: 18px;line-height: 18px; border-radius: 9px; text-align: center;border:1px solid #e24e4e;color: #e24e4e;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.reserList dl dt span i.complete {background-color: #969696;color: #fff;border:none;}
.reserList dl dt span i.waiting {background-color: #e24e4e;color: #fff;border:none;}
.reserList dl dt span i.hold {background-color: #d8d8d8;color: #fff;border:none;}
.reserList dl dt em {display: block;font-size: 93%;color: #4e4e4e;margin-bottom: 5px; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.reserList dl dt strong {display: block;font-size: 93%;color: #4e4e4e;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.reserList dl dt a {display: block;position: absolute;right:50px;top: 50%;margin-top: -27px; width: 42px;height: 54px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -80px 0px;}
.reserList dl dt .accordionTitle {position: absolute;right:0px;top: 50%;margin-top: -27px; width: 42px;height: 54px;background-color: transparent;text-indent: -99999px;}
.reserList dl dd {padding:0; border-bottom:1px solid #d8d8d8;background-color: #f8f8f8 !important;}
.reserList dl dd ul li {border-bottom:1px solid #d8d8d8;line-height: 36px;position: relative;padding:0 50px 0 90px;}
.reserList dl dd ul li em {display: block;position: absolute;left:12px;top: 0; width: 70px; font-size: 89%;font-weight: bold;color: #4e4e4e;letter-spacing: -1px;}
.reserList dl dd ul li p {display: block; font-size: 89%;color: #4e4e4e;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.reserList dl dd ul li p span {text-indent: -99999px;height: 16px;vertical-align: middle;margin-top: -6px;}
.reserList dl dd ul li .iconMap {display: block;position: absolute;right:12px;top: 50%;background-color: transparent; margin-top: -14px;width: 40px;height: 27px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -80px -67px;}
.reserList dl dd ul li .iconMan {display: block;position: absolute;right:12px;top: 50%;background-color: transparent; margin-top: -14px;width: 40px;height: 27px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -80px -121px;}
.reserList dl dd .btnSet {margin:0;padding:12px;}
.reserList dl dd .btnSet span {width:50%;}
.reserList dl dd .btnSet span * {padding:3px 0 5px;}

.manageList dl dt {border-bottom:1px solid #d8d8d8;padding:17px 50px 18px 100px;position: relative;}
.manageList dl dt i {display: block;position: absolute;left:12px;top: 50%;margin-top: -9px; font-size: 77%;color: #fff;width: 73px;height: 18px;line-height: 20px;border-radius: 9px; text-align: center;}
.manageList dl dt i.accepting {background-color: #4e4e4e;}
.manageList dl dt i.complete {background-color: #e24e4e;}
.manageList dl dt strong {display: block;color: #4e4e4e;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.manageList dl dt strong em {display: inline-block;font-weight: bold;}
.manageList dl dt strong em:after {content: ""; display: inline-block;width: 1px;height: 10px;background-color: #d8d8d8;margin:0 10px;vertical-align: middle;}
.manageList dl dd {padding:15px 12px; border-bottom:1px solid #d8d8d8;background-color: #f8f8f8;line-height: 1.5;font-size: 89%;color: #4e4e4e;}

.myLayout {padding:13px 11px;}
.myLayout h3 {font-size: 85%;color: #4e4e4e;margin-bottom: 5px;}
.carList {border:1px solid #d8d8d8;margin-bottom: 16px;}
.carList dt {background-color: #f1f1f1;padding:3px 0;border-bottom:1px solid #d8d8d8;}
.carList dt span {float:left;display: block;width: 21%;height: 23px;line-height: 23px;border-right:1px solid #d8d8d8; text-align: center;font-size: 81%;color: #969696;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carList dt span:nth-child(3) {width: 18%;}
.carList dt span:last-child {width: 40%;border-right:none;}
.carList dt:after{content:"";display:block;clear:both;}
.carList dd {height: 92px;overflow-y: scroll;}
.carList dd ul li {background-color: #fff;padding:10px 0;border-bottom:1px solid #d8d8d8;}
.carList dd ul li:last-child {border-bottom:none;}
.carList dd ul li span {line-height: 1.5;text-align: center;font-size: 81%;color: #969696;vertical-align: middle;position: relative;}
.carList dd ul li span:after {content: "";display: block;position: absolute;right: 0;top: 50%;margin-top: -11px; width: 1px;height: 23px;background-color: #d8d8d8;}
.carList dd ul li span:nth-child(1) {width: 21%;}
.carList dd ul li span:nth-child(2) {width: 21%;}
.carList dd ul li span:nth-child(3) {width: 18%;}
.carList dd ul li span:nth-child(2n) {color:#4e4e4e;}
.carList dd ul li span:last-child {width: 40%;text-align: left;padding-left: 10px;}
.carList dd ul li span:last-child:after {display: none;}
.carList dd ul li span a {color: #4e4e4e;cursor:text}
.carList dd ul li.on {background-color: #e24e4e;}
.carList dd ul li.on span {color: #fff;}
.carList dd ul li.on span:after {background-color: #fff;}
.carList dd ul li.on span:last-child:after {display: none;}
.carList dd ul li.on span a {color: #fff;cursor:text}

/* 2017-07-28 */
.estimateBtn {padding:10px 0 0;}
.estimateBtn .btnSet {margin-bottom:8px;}
.estimateBtn .btnSet span * {padding:8px 0 6px;}
/* end 2017-07-28 */

.estimateList {border:1px solid #d8d8d8;margin:16px;}
.estimateList dt {background-color: #f1f1f1;padding:3px 0;border-bottom:1px solid #d8d8d8;}
.estimateList dt span {float:left;display: block;width: 34%;height: 23px;line-height: 23px;border-right:1px solid #d8d8d8; text-align: center;font-size: 81%;color: #969696;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.estimateList dt span:nth-child(2) {width: 26%;}
.estimateList dt span:nth-child(3) {width: 26%;}
.estimateList dt span:last-child {width:14%;border-right:none;}
.estimateList dt:after{content:"";display:block;clear:both;}
.estimateList dd ul li {background-color: #fff;padding:10px 0;border-bottom:1px solid #d8d8d8;}
.estimateList dd ul li:last-child {border-bottom:none;}
.estimateList dd ul li span {line-height: 1.5;text-align: center;font-size: 81%;color: #969696;vertical-align: middle;position: relative;}
.estimateList dd ul li span:after {content: "";display: block;position: absolute;right: 0;top: 50%;margin-top: -11px; width: 1px;height: 23px;background-color: #d8d8d8;}
.estimateList dd ul li span:nth-child(1) {width:34%;text-align:left;padding-left: 10px;}
.estimateList dd ul li span:nth-child(1) em {display:inline-block;width:100%;}
.estimateList dd ul li span:nth-child(2) {width:26%;}
.estimateList dd ul li span:nth-child(3) {width:26%;}
.estimateList dd ul li span:nth-child(2n) {color:#4e4e4e;}
.estimateList dd ul li span:last-child {width: 16%;}
.estimateList dd ul li span:last-child:after {display: none;}
/* .estimateList dd ul li span a {color: #4e4e4e;cursor:text} */
.estimateList dd ul li span a {display: inline-block;width: 27px;height: 19px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -156px -67px;}

.myLayout .contractStatus {margin:9px 0 19px;}
.myLayout .contractStatus li {font-size: 85%;color: #4e4e4e;margin-bottom: 3px;}
.myLayout .contractStatus li.longTxt {padding-left: 75px;position: relative;}
.myLayout .contractStatus li.longTxt em {position: absolute;left:0;top: 0;}
.myLayout .contractStatus li em {color: #858585;}

.myLayout .checkGroup {margin-bottom: 13px;}
.myLayout .checkGroup span {display: inline-block; margin:0 10px 7px 0;}
.myLayout .checkGroup span label {font-size: 85%;}

.myLayout .txtArea {width: 100%;height: 48px; font-size: 77%;color: #4e4e4e; margin-bottom: 20px;border:1px solid #d8d8d8;padding:10px;background-color: #fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.myLayout .btnSet span {width: 50%;}

.reAutoList {}
.reAutoList dt {padding:6px 0px 6px 12px;border-bottom: 1px solid #4e4e4e;}
.reAutoList dt span {font-size: 123%;color: #4e4e4e;line-height: 34px;}
.reAutoList dt button {float:right;display: block;width: 64px;height: 34px;line-height: 34px;font-size: 89%;font-weight: bold;color: #e24e4e;background-color: transparent;}
.reAutoList dt:after{content:"";display:block;clear:both;}
.reAutoList .reAutoInfo {border-bottom: 1px solid #4e4e4e;}
.reAutoList .reAutoInfo ul {background-color: #f8f8f8;}
.reAutoList .reAutoInfo ul li {padding:14px 12px;font-weight: bold; color: #4e4e4e;border-bottom: 1px solid #d8d8d8;}
.reAutoList .reAutoInfo ul li span {float:right;font-weight: normal;}
.reAutoList .reAutoInfo ul li:last-child {border-bottom: none;}
.reAutoList .reAutoInfo ul li:after{content:"";display:block;clear:both;}

.reAutoNoList {margin: 178px 0;font-size: 104%;font-weight: bold; color: #969696;text-align: center;} 
.reAutoNoList div:before {content: "";display: block;margin:0 auto 17px; width: 78px;height: 78px;background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: 0px -70px;}
.reAutoNoList strong {display: block;margin-bottom: 5px; font-size: 104%;color: #969696;}
.reAutoNoList span {display: block;font-size: 85%;color: #969696;}
.reAutoNoList button {display: block;width: 120px;line-height: 36px;margin:22px auto 0; background-color: #969696; color: #fff;}
.reAutoNoList button:before {content: "";display: inline-block;margin:-2px 5px 0 0; width: 12px;height: 12px;background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -143px -70px;vertical-align: middle;}

.alreadyReser {}
.alreadyReser li {border-bottom:1px solid #d8d8d8;padding:27px 100px 27px 80px;position: relative;}
.alreadyReser li .positionL {display: block;position: absolute;left:12px;top: 50%;margin-top: -24px;}
.alreadyReser li .positionL i {display: block;margin:5px 0; font-size: 77%;width: 58px;height: 18px;line-height: 18px; border-radius: 9px; text-align: center;border:1px solid #e24e4e;color: #e24e4e;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.alreadyReser li .positionL i.complete {background-color: #e24e4e;color: #fff;border:none;}
.alreadyReser li .positionL i.refuse {background-color: #4e4e4e;color: #fff;border:none;}
.alreadyReser li .dateTxt {display: block;font-size: 89%;color: #4e4e4e;margin-bottom: 2px; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.alreadyReser li .cancleTxt {display: block;font-size: 85%;color: #848484;margin-bottom: 7px; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.alreadyReser li strong {display: block;color: #4e4e4e;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.alreadyReser li .positionR {display: block;position: absolute;right:12px;top: 50%;margin-top: -44px;}
.alreadyReser li .positionR button {display: block;width: 54px;height: 41px;line-height: 41px;font-size: 85%;text-align: center;background-color: transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.alreadyReser li .positionR button.btnComplete {background-color: #e24e4e;color: #fff;margin-bottom: 6px;}
.alreadyReser li .positionR button.btnRefuse {border:1px solid #e24e4e;color: #e24e4e;}

.searchBar {padding: 19px 11px;background-color: #f8f8f8;}
.searchBar .searchArea {padding-right:60px;position:relative;}
.searchBar .searchArea button {position:absolute;right:0;top:0; width:54px;line-height:41px;background-color:#848484;font-size: 93%;color:#fff;}
.busiCardLayout.line {border-bottom: 1px solid #d8d8d8;}
.busiCardLayout .cardList {border-top: 1px solid #d8d8d8;}
.busiCardLayout .cardList li {padding:13px 11px; border-bottom: 1px solid #d8d8d8;color:#4e4e4e;position: relative;}
.busiCardLayout .cardList li span {display: block;line-height: 1.5;}
.busiCardLayout .cardList li span em {display: inline-block;width: 62px; color:#858585;}
.busiCardLayout .cardList li .btnResend {display: block;position: absolute;right:12px;top: 50%;margin-top: -21px;width: 54px;height: 41px;line-height: 41px;font-size: 85%;text-align: center;background-color: #e24e4e;color: #fff;}

.busiCardLayout .quotationList {border-top: 1px solid #d8d8d8;}
.busiCardLayout .quotationList li {padding: 15px 72px 16px 11px;border-bottom: 1px solid #d8d8d8;position: relative;}
.busiCardLayout .quotationList li span {display: block;float:left;width: 50%;font-size: 93%;color:#4e4e4e;position: relative;margin-bottom: 3px;}
.busiCardLayout .quotationList li span em {display: inline-block;width: 57px; color:#858585;position: absolute;left:0;top:0;}
.busiCardLayout .quotationList li span strong {display: block;margin-left: 57px;font-weight: normal; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.busiCardLayout .quotationList li span:nth-child(5) {width: 100%;margin-bottom: 0px;}
.busiCardLayout .quotationList li span:nth-child(5) strong {font-size: 108%;font-weight: bold;}
.busiCardLayout .quotationList li a {display: block;position: absolute;right:11px;top: 50%;margin-top: -27px; width: 54px;height: 54px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -75px 0px;}
.busiCardLayout .quotationList li:after{content:"";display:block;clear:both;}

.quesLayout .dealerArea {padding:20px 0 20px;margin:0;border:3px solid #fff;border-radius:20px; position:relative;text-align:center;background:#fff url('../images/sub/bg_dealerArea.png') no-repeat;background-size:auto 49px;}
.quesLayout .dealerArea .thumProfile {width:52px;height:52px;border:3px solid #fff;background:#fff;}
.quesLayout .dealerArea div {padding-top:8px;}
.quesLayout .dealerArea div .levelBadge {font-size:138%;margin-bottom: 10px;}
.quesLayout .dealerArea div .levelBadge.level1{background-position: left -10px;}
.quesLayout .dealerArea div .levelBadge.level2{background-position: left -30px;}
.quesLayout .dealerArea div .levelBadge.level3{background-position: left -60px;}
.quesLayout .dealerArea div .levelBadge.level4{background-position: left -90px;}
.quesLayout .dealerArea div em {padding:5px 0 8px;display:inline-block;width:100%;font-size:85%;color:#969696;}
.quesLayout .dealerArea div p {padding-top:3px;color:#e24e4e;font-size:108%;font-weight: bold;}
.quesLayout .dealerArea div a {font-size:108%;font-weight: bold;color:#4e4e4e;}
.quesLayout .dealerArea div a:before {content: "";display: inline-block;width: 12px;height: 12px;margin-right: 5px; background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;background-position: -628px -193px;}
.quesLayout .manageList dl dt i.accepting {background-color: #d8d8d8;}
.dealerDelete {position:absolute;right:42px;top:15px;width:24px;height:24px;border:none;border-radius:50%;text-indent:-9999px;overflow:hidden;background:#f3f3f3 url('../images/sub/btn_dealerDelete.png') no-repeat;background-size:24px 24px;}

.inboxList {border-top: 1px solid #d8d8d8;}
.inboxList li {padding: 15px 60px 16px 11px;border-bottom: 1px solid #d8d8d8;position: relative;}
.inboxList li span {display: block;float:left;width: 50%;font-size: 93%;color:#4e4e4e;position: relative;margin-bottom: 3px;}
.inboxList li span em {display: inline-block;width: 57px; color:#858585;position: absolute;left:0;top:0;}
.inboxList li span strong {display: block;margin-left:66px;font-weight: normal; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.inboxList li span:nth-child(2n+1) strong {margin-left:52px;}
.inboxList li button {display: block;position: absolute;right:11px;top: 50%;margin-top: -27px; width: 54px;height: 54px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -75px 0px;}
.inboxList li:after{content:"";display:block;clear:both;}

.likeDealer li {border-bottom:1px solid #d8d8d8;padding:27px 100px 27px 80px;position: relative;}
.likeDealer li .positionL {display: block;position: absolute;left:12px;top: 50%;margin-top: -24px;}
.likeDealer li .positionL i {display: block;margin:5px 0; font-size: 77%;width: 58px;height: 18px;line-height: 18px; border-radius: 9px; text-align: center;border:1px solid #e24e4e;color: #e24e4e;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.likeDealer li .positionL i.complete {background-color: #e24e4e;color: #fff;border:none;}
.likeDealer li .positionL i.refuse {background-color: #4e4e4e;color: #fff;border:none;}
.likeDealer li .dateTxt {display: block;font-size: 89%;color: #4e4e4e;margin-bottom: 2px; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.likeDealer li .cancleTxt {display: block;font-size: 85%;color: #848484;margin-bottom: 7px; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.likeDealer li strong {display: block;color: #4e4e4e;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.likeDealer li .positionR {display: block;position: absolute;right:12px;top: 50%;margin-top: -44px;}
.likeDealer li .positionR button {display: block;width: 54px;height: 41px;line-height: 41px;font-size: 85%;text-align: center;background-color: transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.likeDealer li .positionR button.btnComplete {background-color: #e24e4e;color: #fff;margin-bottom: 6px;}
.likeDealer li .positionR button.btnRefuse {border:1px solid #e24e4e;color: #e24e4e;}

.dealerList li {padding:14px 60px 12px 11px;border-bottom:1px solid #e6e6e6;position: relative;}
.dealerList li .heartSetS {position:absolute;top:7px;right:11px; width: 34px;height: 28px;}
.dealerList li .heartSetS label {width: 34px;height: 28px;background-position: center 8px;}
.dealerList li .heartSetS input[type="checkbox"]:checked + label {width: 34px;height: 28px;background-position:center -22px;}
.dealerList li .dealerProfile {display:table;width: 100%;}
.dealerList li .dealerProfile .fixWidth {display:table-cell;width:48px;vertical-align:middle;}
.dealerList li .dealerProfile .fixWidth .thumProfile {width:48px;height:48px;}
.dealerList li .dealerProfile .autoWidth {display:table-cell;padding:0 0 0 13px;vertical-align:middle;}
.dealerList li .dealerProfile .autoWidth div {padding:0 !important;}
.dealerList li .dealerProfile .autoWidth .levelBadge strong {font-size:93%;}
.dealerList li .dealerProfile .autoWidth .levelBadge i {display: inline-block;font-size:77%;}
.dealerList li .dealerProfile .autoWidth .rating {margin-left: 10px;}
.dealerList li .dealerProfile .autoWidth p {margin-top: 1px;}
.dealerList li .dealerProfile .autoWidth p span, 
.dealerList li .dealerProfile .autoWidth p strong {font-size:85%;color:#969696;font-weight:normal;}
.dealerList li .dealerProfile .autoWidth p span em {color:#4e4e4e;font-weight: bold;}
.dealerList li .dealerProfile .autoWidth p strong:before {margin:0 7px 0 5px;content:"";display:inline-block;width:1px;height:7px;vertical-align:middle;background:#969696;}


.myCarLayout .bgWrite {background-color: #fff;padding:13px 11px 18px;}
.myCarLayout h3 {font-size: 85%;color: #4e4e4e;margin-bottom: 5px;}
.myCarLayout h3 a.btnEnroll {float:right;display: inline-block;font-size:93%;color: #848484;margin-left:7px;font-weight:normal;vertical-align: bottom;}
.myCarLayout h3 a.btnEnroll:before {content: "";display: inline-block;width: 11px;height: 11px;margin:-2px 5px 0 0px; background: url('../images/sub/bg_my.png') no-repeat -130px -70px;background-size:200px 162px;vertical-align: middle;}
.androidCase  .myCarLayout h3 a.btnEnroll:before {margin:-6px 5px 0 0px;}
.myCarLayout .carList {border:1px solid #d8d8d8;}
.myCarLayout .carList ul {height: 92px;overflow-y: scroll;}
.myCarLayout .carList ul li {background-color: #fff;padding:8px 0;border-bottom:1px solid #d8d8d8;}
.myCarLayout .carList ul li:last-child {border-bottom:none;}
.myCarLayout .carList ul li span {line-height: 1.5;text-align: center;font-size: 81%;color: #969696;vertical-align: middle;position: relative;}
.myCarLayout .carList ul li span:nth-child(2n) {color:#4e4e4e;}
.myCarLayout .carList ul li span:nth-child(1) {width: 25%;}
.myCarLayout .carList ul li span:nth-child(2) {width: 45%;text-align: left;padding-left: 10px;}
.myCarLayout .carList ul li span:nth-child(3) {width: 10%;}
.myCarLayout .carList ul li span:last-child {width: 20%;}
.myCarLayout .carList ul li.on {background-color: #e24e4e;}
.myCarLayout .carList ul li.on span {color: #fff;}

.myCarLayout .myCarInfo {text-align: center;background-color: #f8f8f8;padding:12px 0 15px;border-bottom: 1px solid #e6e6e6;}
.myCarLayout .myCarInfo .carName strong {font-size: 108%;color: #4e4e4e;}
.myCarLayout .myCarInfo .carName a {display: inline-block;width: 27px;height: 19px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -156px -67px;}
.myCarLayout .myCarInfo .infoTxt {display: block;}
.myCarLayout .myCarInfo .infoTxt i {display: inline-block;font-size: 77%;color: #969696;margin-right:6px; position: relative;}
.myCarLayout .myCarInfo .infoTxt i:after {content: "";display: block;position: absolute;right:-6px;top:50%;margin-top: -3px; width: 1px;height: 6px;background-color: #969696;}
.myCarLayout .myCarInfo .infoTxt i:last-child:after {display: none;}
.myCarLayout .myCarInfo .carMenu {display: block;margin-top: 8px;}
.myCarLayout .myCarInfo .carMenu a {display: inline-block;font-size: 77%;color: #848484;margin-left:7px;vertical-align: bottom;}
.myCarLayout .myCarInfo .carMenu a:before {content: "";display: inline-block;width: 11px;height: 11px;margin:-2px 5px 0 0px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;vertical-align: middle;}
.myCarLayout .myCarInfo .carMenu a.btnEnroll:before {background-position: -130px -70px;}
.myCarLayout .myCarInfo .carMenu a.btnModify:before {background-position: -130px -82px;}
.myCarLayout .myCarInfo .carMenu a.btnBring:before {background-position: -130px -94px;}
.myCarLayout .myCarInfo .carMenu a.btnRequest:before {background-position: -130px -106px;}
.myCarLayout .myCarInfo .carMenu a.btnCancel:before {background-position: -130px -118px;}
.myCarLayout .myCarInfo .carMenu a.btnCancel:before {background-position: -130px -118px;}
.myCarLayout .myCarInfo .carMenu a.btnEnd:before {width:14px;height:13px;background-position: -128px -130px;}
.androidCase  .myCarLayout .myCarInfo .carMenu a:before {margin:-6px 5px 0 0px;}
.myCarLayout .titArea {line-height: 47px;border-bottom: 2px solid #e24e4e;text-align: center;font-size: 108%;font-weight: bold; color: #e24e4e;background-color: #fff;}
.myCarLayout .dataItem {margin:18px 11px;border:1px solid #e6e6e6;}
.myCarLayout .dataItem.noLine {border:none;}
.myCarLayout .btnTab {background-color: #fff;}
.myCarLayout .btn-toggle-switch-target .carList {margin:13px 11px;}
.myCarLayout .btn-toggle-switch-target .carList dt span {width: 23%;}
.myCarLayout .btn-toggle-switch-target .carList dt span:first-child {width: 37%;}
.myCarLayout .btn-toggle-switch-target .carList dt span:last-child {width: 17%;}
.myCarLayout .btn-toggle-switch-target .carList dd {height: 163px;overflow-y: scroll;}
.myCarLayout .btn-toggle-switch-target .carList dd ul {height: 163px;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li {padding: 8px 0;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li span {width: 23%;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li span:nth-child(2n) {color:#969696;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li span:nth-child(2n-1) {color:#4e4e4e;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li span:first-child {width: 37%;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li span:last-child {width: 17%;text-align: center;padding-left: 0px;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li span a {display: inline-block;width: 27px;height: 19px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -156px -67px;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li .levelArea {padding-left:40px;position: relative;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li .levelArea .levelBadge {position: absolute;left:10px;top:50%; margin-top: -9px;padding:0px;text-indent: -99999px;width: 19px;height: 16px;}
.myCarLayout .btn-toggle-switch-target .carList dd ul li .levelArea em {display: block;text-align: left;}
.myCarLayout .btn-toggle-switch-target.noList {padding:65px 0;}
.myCarLayout .btn-toggle-switch-target.noList:before {display: none;}
.myCarLayout .btn-toggle-switch-target.noList strong {display: block;margin-bottom: 5px; font-size: 104%;color: #969696;}
.myCarLayout .btn-toggle-switch-target.noList span {display: block;font-size: 85%;color: #969696;}
.myCarLayout .btn-toggle-switch-target.noList button {display: block;width: 120px;line-height: 36px;margin:22px auto 0; background-color: #969696; color: #fff;}
.myCarLayout .btn-toggle-switch-target.noList button:before {content: "";display: inline-block;margin:-2px 5px 0 0; width: 12px;height: 12px;background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -143px -70px;vertical-align: middle;}
.myCarLayout .noList {padding:85px 0;border-bottom: 1px solid #e6e6e6;text-align: center;}
.myCarLayout .noList:before {content: "";display: inline-block; width: 60px;height: 60px;background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -130px 0px;}

/* .carList {border:1px solid #d8d8d8;margin-bottom: 16px;}
.carList dt {background-color: #f1f1f1;padding:3px 0;border-bottom:1px solid #d8d8d8;}
.carList dt span {float:left;display: block;width: 21%;height: 23px;line-height: 23px;border-right:1px solid #d8d8d8; text-align: center;font-size: 81%;color: #969696;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carList dt span:nth-child(3) {width: 18%;}
.carList dt span:last-child {width: 40%;border-right:none;}
.carList dt:after{content:"";display:block;clear:both;}
.carList dd {height: 92px;overflow-y: scroll;}
.carList dd ul li {background-color: #fff;padding:10px 0;border-bottom:1px solid #d8d8d8;}
.carList dd ul li:last-child {border-bottom:none;}
.carList dd ul li span {line-height: 1.5;text-align: center;font-size: 81%;color: #969696;vertical-align: middle;position: relative;}
.carList dd ul li span:after {content: "";display: block;position: absolute;right: 0;top: 50%;margin-top: -11px; width: 1px;height: 23px;background-color: #d8d8d8;}
.carList dd ul li span:nth-child(1) {width: 21%;}
.carList dd ul li span:nth-child(2) {width: 21%;}
.carList dd ul li span:nth-child(3) {width: 18%;}
.carList dd ul li span:nth-child(2n) {color:#4e4e4e;}
.carList dd ul li span:last-child {width: 40%;text-align: left;padding-left: 10px;}
.carList dd ul li span:last-child:after {display: none;}
.carList dd ul li span a {color: #4e4e4e;cursor:text}
.carList dd ul li.on {background-color: #e24e4e;}
.carList dd ul li.on span {color: #fff;}
.carList dd ul li.on span:after {background-color: #fff;}
.carList dd ul li.on span:last-child:after {display: none;}
.carList dd ul li.on span a {color: #fff;cursor:text} */

.getProLayout {padding:18px 12px;background:#f8f8f8;}
.getProLayout .searchBar {padding:0;}
.getProLayout .carInfo {padding:17px 0 0 0;margin-bottom: 17px; border-bottom: 1px solid #d8d8d8;}
.getProLayout .carInfo h3 {font-size: 85%;color: #4e4e4e;margin-bottom: 6px;}
.getProLayout .carInfo ul {padding-bottom: 17px;}
.getProLayout .carInfo ul li {font-size: 85%;color: #4e4e4e;line-height: 2;}
.getProLayout .carInfo ul li strong {display: inline-block; width: 65px;font-weight:normal;color: #858585;}
.getProLayout .carInfo ul.txtListType1 li {float:left;width: 50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.getProLayout .carInfo ul:after{content:"";display:block;clear:both;}
.getProLayout .selectCar {padding:15px 12px;border:1px solid #d8d8d8;background-color: #fff;margin-bottom: 25px;}
.getProLayout .selectCar p {font-size: 108%;font-weight:bold;color: #4e4e4e;margin-bottom: 5px;}
.getProLayout .selectCar ul li {color: #848484;}
.getProLayout .selectCar ul li em {display: inline-block;font-size: 85%;color: #858585;margin-right: 10px;}
.getProLayout .selectCar ul li strong {color: #e24e4e;}
.getProLayout .selectCar ul li i {font-size: 85%;color: #4e4e4e;}
.getPro .btnSet {padding:6px 12px 0 12px;}
.getPro .btnSet span {width: 50%;}

.mapLayout dl dt {padding:15px 11px 11px 89px; background-color: #f8f8f8;font-size: 89%;color: #4e4e4e;position: relative;}
.mapLayout dl dt strong {position: absolute;left:11px;top: 15px;}

.checklistLayout .checkList {border-top: 1px solid #d8d8d8;}
.checklistLayout .checkList li {padding:13px 11px; border-bottom: 1px solid #d8d8d8;color:#4e4e4e;position: relative;}
.checklistLayout .checkList li span {display: block;line-height: 1.5;}
.checklistLayout .checkList li span em {display: inline-block;width:75px; color:#858585;}
.checklistLayout .checkList li button {display: block;position: absolute;z-index:2;right:10px;top: 50%;margin-top: -27px; width: 42px;height: 54px;text-indent: -99999px; background: url('../images/sub/bg_my.png') no-repeat;background-size:200px 162px;background-position: -80px 0px;}






