@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: common_mobile.css
* @Version: 1.0
* @Create Date: 2016-11-14
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

/* =============================================================================== */
/* Custom Responsive                                                               */
/* =============================================================================== */

/* =============================================================================== */
/* 디바이스(iPhone 6 plue 가로모드 기준) 넓이 736 이하 일 경우 */
@media screen and (max-width:736px){

	/* ===== Tab ===== */
	.tab {font-size:85%;}

	/* ====================== */
	/* Login */
	/* ====================== */
	.loginLayout {padding:0 12%;}
	.loginForm form {padding:0 3%;}
	.loginForm .idInput, 
	.loginForm .pwInput {height:40px;}
	.loginForm .idInput label , 
	.loginForm .pwInput label {padding:8px 0 0 40px;height:40px;background-size:40px auto;}
	.loginSubmit {background-size:100% 40px;}
	.loginSubmit input {height:40px;background-size:auto 40px;}
	
	/* ====================== */
	/* Common Layout */
	/* ====================== */

	/* contents */
	.gridItem {display:table;}
	.gridSet.grid2 .gridItem {width:100%;padding:0 0 0 0;}
	.gridSet.grid2 .gridItem:first-child {padding:0 0 0 0;}
	.gridSet.grid2-1 .gridItem {width:100%;padding:0 0 0 0;}
	.gridSet.grid2-1 .gridItem:first-child {width:100%;padding:0 0 0 0;}
	.gridSet.grid2-2 .gridItem {width:100%;padding:0 0 0 0;}
	.gridSet.grid2-2 .gridItem:first-child {width:100%;padding:0 0 7px 0;}
	.gridSet.grid3 .gridItem {width:100%;padding:0 0 0 0;}
	.gridSet.grid3 .gridItem:first-child {padding:0 0 0 0;}
	.gridSet.grid3 .gridItem:nth-child(2) {padding:0 0 0 0;}
	.gridSet.grid3-1 .gridItem {width:100%;padding:0 0 0 3px;}
	.gridSet.grid3-1 .gridItem:first-child {width:100%;padding:0 3px 0 0;}
	.gridSet.grid3-1 .gridItem:nth-child(2) {width:100%;padding:0 3px 0 3px;}
	.gridSet.grid4 .gridItem {width:100%;}

	.iSet {display:table;width:100%;}
	.iSet label {display:table-cell;padding:0 0 0 0;height:20px;width:114px;vertical-align:middle;}
	.iSet label span {clear:left;display:inline-block;width:auto;font-size:95%;}
	.iSet .radioSet label {width:auto;}
	.iSet .checkSet label {width:auto;}
	.iSet .iLine {display:table-cell;}
	.iSet .findCase {display:table-cell;}	
	.iSet .grid2 .gridItem:first-child {padding-bottom:7px;}
	.emailCase .iLine {clear:left;float:none;display:table;width:100%;}
	.emailCase .iLine.first {width:100%;margin-bottom:7px;}
	.emailCase .iLine.last {margin-top:7px;margin-left:0;}
	.emailCase strong {display:none;}
	.findCase {position:relative;display:inline-block;padding:0 0 0;}
	.findCase input[type="button"] {position:relative;}
	.findCase .iLine {display:inline-block;width:100%;margin-top:7px;}
	.addCase .findCase {position:relative;display:inline-block;padding:0 0 0;}
	.addCase .findCase input[type="button"] {position:relative;}
	.addCase .iLine {display:inline-block;width:100%;margin-top:7px;}
	.payKind .key {display:table;width:100%;}
	.payKind .gridSet {display:table;width:100%;}

	/* Main */
	.mainLayout {padding:10% 12%;}

	/* 계약서 및 견적서 */
	.ctTop {padding:9px;}
	.ctTop .cNback {padding:0 100px 0 0;}
	.ctTop .cCback {top:9px;right:9px;padding:0 0 0 9px;width:100px;height:90px;box-sizing:border-box;}
	.ctDetail .shadowBox {padding:15px 15px 15px 15px;}
	.ctDetail .shadowBox .gridSet.grid2-2 .gridItem {width:100%;}
	.ctDetail .shadowBox .gridSet.grid2-2 .gridItem:first-child {padding-bottom:0;width:100%;}
	.ctDetail .shadowBox .uniqueNum {position:relative;right:0;float:right;margin-bottom:7px;}
	.customerCheck {clear:left;display:block;padding-top:5px;}
	.customerCheck em {clear:left;display:block;padding-top:5px;}
	.payCase {margin-top:13px;}
	.checkLine {margin-bottom:7px;}
	.checkLine .checkSet {clear:left;}
	
}

/* =============================================================================== */
/* 디바이스(iPhone 5 기준) 넓이 568 이하 일 경우  */
@media screen and (max-width:568px){
	/* ====================== */
	/* Login */
	/* ====================== */
	.loginForm p {font-size:77%;text-align:left;}
	
	/* 계약서 및 견적서 */
	.ctMenu .tab {font-size:85%;}
	.ctMenu .tab span {padding:6px 5px 0;}
	.ctMenu .tab span a {display:block;height:32px;line-height:14px;}
	.ctMenu .tab span:nth-child(2) a,
	.ctMenu .tab span:nth-child(3) a {line-height:32px;}
	.ctMenu .tab span a strong {clear:left;display:block;}
	.ctMenu .tab span:first-child:before  {right:10px;}
}

/* =============================================================================== */
/* 디바이스(iPhone 4 기준) 넓이 320 이하 일 경우  */
@media screen and (max-width:320px){
	.iSet label.key {padding-right:10px;box-sizing:border-box;}
}