@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: service.css
* @Version: 1.0
* @Create Date: 2017-04-05
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

.findCarNum {}
.findCarNum .searchArea {padding-right:60px;position:relative;padding: 18px 11px;background-color: #fff;}
.findCarNum .searchArea button {position:absolute;z-index:5;right:11px;top:18px; width:54px;line-height:41px;background-color:#848484;color:#fff;font-size: 93%;}
.findCarNum .infotxt {font-size: 85%;color: #fff;text-align: center;padding:0 13px;}
.findCarNum .infotxt strong {display: block; font-size: 108%;color: #fff;margin:23px 0 16px;}

.findCarNum .carInfo {padding:24px 0px;}
.findCarNum .carInfo:last-child {border-top: 1px solid #fff;}
.findCarNum .carInfo h3 {font-size: 131%;color: #fff;font-weight: normal;margin-bottom: 15px;padding:0 12px;}
.findCarNum .carInfo ul li {font-size: 85%;color: #fff;padding:0px 0 0px 12px;line-height: 2;}
.findCarNum .carInfo ul li strong {display: inline-block; width: 65px;color: #fff;}
.findCarNum .carInfo ul.txtListType1 li {float:left;width: 50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.findCarNum .carInfo ul.txtListType1 li:nth-child(2n-1) {border-right:1px solid #fff;}
.findCarNum .carInfo ul:after{content:"";display:block;clear:both;}
.findCarNum .radioList {border-bottom: 1px solid #d8d8d8;}
.findCarNum .radioList label em {display: inline-block;margin-right: 10px;}
.findCarNum .radioList input[type="radio"]:checked + label em {color:#fff;}
.findCarNum .btnSet {padding:0 11px;margin-top: 25px;}
.findCarNum .btnSet span {width:50%;}

.specialTab {}
.specialTab a {width: 25%; height: 65px;vertical-align: middle;border-bottom: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;background-color: #fff;}
.specialTab a:last-child {border-right:none;}
.specialTab a span {display: block;width: 100%;}
.specialTab a span strong {display: block; font-size: 116%;color:#4e4e4e;}
.specialTab a span i {display: block;font-size: 77%;color:#969696;}
.specialTab a.on {background-color:#4e4e4e;}
.specialTab a.on span strong {color:#fff;}

.innerLayout {margin: 6px 12px;}
.innerLayout .carValue {border:1px solid #e6e6e6;background-color: #fff;margin-bottom: 7px;padding:0px 10px 36px 10px;color: #4e4e4e;text-align: center;}
.innerLayout .carValue:before {content: "";display: block;width: 250px;height:168px;margin:36px auto 29px; background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;}
.innerLayout .carValue.icon1:before {background-position: 0 0;}
.innerLayout .carValue.icon2:before {background-position: -250px 0;}
.innerLayout .carValue.icon3:before {background-position: -500px 0;}
.innerLayout .carValue.icon4:before {background-position: -750px 0;}
.innerLayout .carValue.icon5:before {background-position: -1000px 0;}
.innerLayout .carValue.icon6:before {background-position: -1250px 0;}
.innerLayout .carValue.icon7:before {background-position: -1500px 0;}
.innerLayout .carValue.icon8:before {background-position: -1750px 0;}
.innerLayout .carValue.icon9:before {background-position: -2000px 0;}
.innerLayout .carValue.icon10:before {background-position: -2250px 0;}
.innerLayout .carValue strong {display: block;font-size: 131%;margin-bottom: 14px;}
.innerLayout .carValue span {display: block;font-size: 85%;}
.innerLayout .carValue span i {color: #e24e4e;}
.innerLayout .carValue span i em {display: block;font-weight: bold;color: #e24e4e;margin-top: 7px;}
.innerLayout .carValue span button {display: block;margin:24px auto 0;background-color: transparent; font-size: 127%;color: #e24e4e;width: 164px; line-height: 47px;border:1px solid #e24e4e;}
.innerLayout .carValue span a {display: block;margin:24px auto 0; font-size: 127%;color: #e24e4e;width: 164px; line-height: 47px;border:1px solid #e24e4e;}

.innerLayout {}
.innerLayout.m0 {margin:0px;}
.innerLayout .dealerArea {padding:24px 0 20px;margin: 18px 0 25px; border:1px solid #e6e6e6;background-color: #f8f8f8;border-radius: 5px; position:relative;text-align:center;}
.innerLayout .dealerArea .thumProfile {width: 78px;height: 78px;}
.innerLayout .dealerArea div {padding-top:8px;}
.innerLayout .dealerArea div .levelBadge {font-size:138%;margin-bottom: 10px;}
.innerLayout .dealerArea div .levelBadge.level1{background-position: left -10px;}
.innerLayout .dealerArea div .levelBadge.level2{background-position: left -30px;}
.innerLayout .dealerArea div .levelBadge.level3{background-position: left -60px;}
.innerLayout .dealerArea div .levelBadge.level4{background-position: left -90px;}
.innerLayout .dealerArea div em {display: block;font-size:85%;color:#969696;line-height: 1.6;}
.innerLayout .dealerArea div em i {display: inline-block; color:#969696;margin-right: 2px;}
.innerLayout .dealerArea div em i:after {content: "";display: inline-block;margin:-1px 0 0 6px;width: 1px;height: 6px;background-color: #969696;vertical-align: middle;}
.innerLayout .dealerArea div p {padding-top:3px;color:#e24e4e;font-size:108%;font-weight: bold;}
.innerLayout .dealerArea div a {font-size:108%;font-weight: bold;color:#4e4e4e;}
.innerLayout .dealerArea div a:before {content: "";display: inline-block;width: 12px;height: 12px;margin-right: 5px; background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;background-position: -628px -193px;}
.innerLayout .dealerArea.modifyType {margin: 0px;border-radius: 0px;border:none;border-bottom:1px solid #e6e6e6;}
.innerLayout .dealerArea.modifyType div .nameTxt {display: inline-block; font-size:138%;color: #969696; margin-bottom: 10px;}
.innerLayout .dealerArea.modifyType div .nameTxt strong {color: #969696;}
.innerLayout .modifyList {margin-bottom: 25px;}
.innerLayout .modifyList li {padding:13px 11px 14px 11px; border-bottom:1px solid #e6e6e6;font-size:108%;color: #4e4e4e;position: relative;}
.innerLayout .modifyList li a {display: block;position: absolute;right:0;top: 50%;margin-top: -17px;text-indent: -99999px; width: 40px;height: 34px;background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;background-position: -618px -207px;}
.innerLayout .btnSet.pd11 {padding:0 11px;}
.innerLayout .btnSet span {width: 50%;}

.innerLayout .checkNotice {margin-bottom: 25px;}
.innerLayout .checkNotice dl dt {padding:11px 11px;border-bottom:1px solid #d8d8d8;font-size: 131%;font-weight:normal;color: #4e4e4e;}
.innerLayout .checkNotice dl dd {padding:25px 11px 19px;background-color: #f8f8f8;border-bottom:1px solid #d8d8d8;}
.innerLayout .checkNotice dl dd strong {display: block;font-size: 108%;color: #e24e4e;margin-bottom: 12px;}
.innerLayout .checkNotice dl dd strong.mt25 {margin-top: 25px;}
.innerLayout .checkNotice dl dd span {display: block;margin-bottom: 9px;}
.innerLayout .checkNotice dl dd span label {color: #4e4e4e;padding-left: 24px;}

.innerLayout .calList dl dt {padding:14px 11px 15px;border-bottom:1px solid #4e4e4e;font-size: 131%;font-weight:normal;color: #4e4e4e;line-height: 1;}
.innerLayout .calList2 dl dt {padding:14px 35px 15px 11px;border-bottom:1px solid #e6e6e6;font-weight:bold;color: #4e4e4e;line-height: 1;}
.innerLayout .calList2 dl dt span {float:right;font-weight: normal;}
.innerLayout .calList2 dl dt i {font-size: 77%;color: #969696;margin-top: -3px; display: inline-block; vertical-align: middle;}
.innerLayout .calList2 dl dt.line {border-bottom:1px solid #4e4e4e;}
.innerLayout .calList2 dl dt:after{content:"";display:block;clear:both;}
.innerLayout .calList2 .accordionData .btnType {position: relative;padding-right: 87px;}
.innerLayout .calList2 .accordionData .btnType button {position: absolute;right:12px;top:16px;width: 65px;height: 33px;line-height: 33px;background-color: #e24e4e;color:#fff;}


.innerLayout .infoList {background-color: #f8f8f8;}
.innerLayout .infoList li {padding:14px 11px 15px;color: #969696;border-bottom:1px solid #d8d8d8;}
.innerLayout .infoList li:last-child {border-bottom:1px solid #4e4e4e;}
.innerLayout .infoList li strong {display: inline-block;vertical-align: middle;}
.innerLayout .infoList li strong i {font-size: 77%;font-weight:normal;color: #969696;}
.innerLayout .infoList li em {float:right;display: inline-block;vertical-align: middle;margin-top: 2px;}
.innerLayout .infoList li.w50p span {float:left;display: block; width: 50%;position: relative;}
.innerLayout .infoList li.w50p span:first-child em {padding-right: 11px;}
.innerLayout .infoList li.w50p span:last-child strong {padding-left: 11px;}
.innerLayout .infoList li.w50p span:last-child:before {content: "";display: block;position: absolute;left:0;top: 50%;margin-top: -15px; width: 1px;height: 30px;background-color: #d8d8d8;}
.innerLayout .infoList li span:after{content:"";display:block;clear:both;}
.innerLayout .infoList li.purPrice {color: #e24e4e;}
.innerLayout .infoList li.purPrice em {color: #e24e4e;font-weight: bold;}
.innerLayout .infoList li.long em {float:none;clear:left;width:100%;padding:5px 0 0;} /* 2017-07-11 */
.innerLayout .infoList li.contract em { background: url('../images/sub/img_contact.png') no-repeat;background-size:18px auto;padding-left:25px;} /* 2017-07-12 by hr-park */
.innerLayout .infoList li:after{content:"";display:block;clear:both;}

.innerLayout .infoList.type2 {border-top: 1px solid #4e4e4e;border-bottom: 1px solid #4e4e4e;}
.innerLayout .infoList.type2 li.bgWhite {background-color: #fff;}
.innerLayout .infoList.type2 li.purPrice.bgWhite em {color: #4e4e4e;font-weight: normal;}
.innerLayout .infoList.type2 li:last-child {border-bottom:1px solid #d8d8d8;}
.innerLayout .infoList.type2 li.line {border-bottom:1px solid #4e4e4e;}
.innerLayout .infoList.type2 li strong {color: #969696;}
.innerLayout .infoList.type2 li em {color: #969696;}
.innerLayout .infoList.type2 li.bgWhite strong {color: #4e4e4e;font-weight: bold;}
.innerLayout .infoList.type2 li.bgWhite em {color: #4e4e4e;}

.innerLayout .allSumPrice {padding:11px 11px 12px;font-size: 131%;border-bottom:1px solid #4e4e4e;margin-bottom: 25px;}
.innerLayout .allSumPrice strong {font-weight: normal;color: #e24e4e;display: inline-block;vertical-align: middle;}
.innerLayout .allSumPrice em {float:right;display: inline-block;vertical-align: middle;font-weight: bold;color: #e24e4e;}
.innerLayout .allSumPrice:after{content:"";display:block;clear:both;}

.dealerArea {background-color: #f8f8f8;border-top:1px solid #e6e6e6;}
.dealerArea .location {text-align: center;font-size: 89%;font-weight:bold;color: #4e4e4e;line-height: 30px;}
.dealerArea .location input[type="button"] {display:inline-block;width:25px;height:20px;vertical-align:middle;margin-left:5px;border:none;text-indent:-9000px;overflow:hidden;background: url('../images/sub/img_location.png') no-repeat;background-size:20px auto;} /* 2017-07-12 by hr-park */
.androidCase .dealerArea .location button {margin-top:-5px;}
.dealerArea .dealerList2 {padding:0 3px 3px;}
.dealerArea .dealerList2 li {float:left;width: 50%;}
.dealerArea .dealerList2 li .inner {margin:3px;padding:11px; border:1px solid #e6e6e6;height:53px;position: relative;background-color: #fff;}
.dealerArea .dealerList2 li .heartSetS {position:absolute;top:5px;right:-5px; width: 34px;height: 28px;}
.dealerArea .dealerList2 li .heartSetS label {width: 34px;height: 28px;background-position: center 8px;}
.dealerArea .dealerList2 li .heartSetS input[type="checkbox"]:checked + label {width: 34px;height: 28px;background-position:center -22px;}
.dealerArea .dealerList2 li .dealerProfile {display:table;width: 100%;}
.dealerArea .dealerList2 li .dealerProfile .fixWidth {display:table-cell;width:48px;vertical-align:middle;}
.dealerArea .dealerList2 li .dealerProfile .fixWidth .thumProfile {width:48px;height:48px;}
.dealerArea .dealerList2 li .dealerProfile .autoWidth {display:table-cell;padding:0 0 0 5px;vertical-align:middle;}
.dealerArea .dealerList2 li .dealerProfile .autoWidth .levelBadge strong {font-size:93%;}
.dealerArea .dealerList2 li .dealerProfile .autoWidth .levelBadge i {display: inline-block;font-size:77%;}
.dealerArea .dealerList2 li .dealerProfile .autoWidth p {font-size:77%;color:#969696;margin: 1px 0;padding-bottom:0;}
.dealerArea .dealerList2 li .dealerProfile .autoWidth div {font-size:100%;padding:0 !important;}
/* 2017-05-22 */
.gpsArea {padding:13px 10px;text-align:center;font-size:85%;background-color: #f8f8f8;border-top:1px solid #e6e6e6;}
.gpsArea .btnSet {margin:0 auto;width:50%;font-size:109%;}
.gpsArea .btnSet span * {padding:6px 0 6px;}
.gpsArea p {padding:0 0 6px;font-weight:bold;}
/* end 2017-05-22 */

.dealerArea.smalltype .dealerList2 li {float:left;width: 25%;}
.dealerArea.smalltype .dealerList2 li .inner {padding:7px 0;text-align: center;height:22px}
.dealerArea.smalltype .dealerList2 li .heartSetS {display: none;}
.dealerArea.smalltype .dealerList2 li .dealerProfile .fixWidth {display: none;}
.dealerArea.smalltype .dealerList2 li .dealerProfile .autoWidth {padding-left: 0px;}
.dealerArea.smalltype .dealerList2 li .dealerProfile .autoWidth .levelBadge {padding-left: 22px;}
.dealerArea.smalltype .dealerList2 li .dealerProfile .autoWidth .levelBadge strong {font-size:108%;}
.dealerArea.smalltype .dealerList2 li .dealerProfile .autoWidth p {display: none;}
.dealerArea.smalltype .dealerList2 li .dealerProfile .autoWidth .rating {display: none;}
.dealerArea .dealerList2:after{content:"";display:block;clear:both;}

.popSpecial {}
.popSpecial .inner {text-align: center;}
.popSpecial .inner dt {color: #e24e4e;line-height: 1.8;padding-bottom: 25px;}
.popSpecial .inner dt:before {content: "";display: block;width: 119px;height:93px;margin:34px auto 16px; background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;}
.popSpecial .inner dt.icon1:before {background-position: 0 -186px;}
.popSpecial .inner dt.icon2:before {background-position: -119px -186px;}
.popSpecial .inner dt.icon3:before {background-position: -238px -186px;height:86px;}
.popSpecial .inner dt.icon4:before {background-position: -357px -186px;}
.popSpecial .inner dt strong {display: block;color: #e24e4e;}
.popSpecial .inner dd {border-top:1px solid #d8d8d8;padding: 24px 12px 22px;line-height: 1.5;text-align: left;}
.popSpecial .inner dd.bgGray {background-color: #f8f8f8;}
.popSpecial .inner dd h3 {margin-bottom: 15px;line-height: 1.3;}
.popSpecial .inner dd h3 strong {font-size: 123%;color: #e24e4e;}
.popSpecial .inner dd h3 span {display:block;font-size: 77%;font-weight: normal; color: #969696;}
.popSpecial .inner dd h3 em {font-size: 77%;color: #969696;margin-left: 7px;}
.popSpecial .inner dd .numlist li {font-size: 93%;color: #4e4e4e;font-weight: bold;position: relative;padding-left: 18px;margin-bottom: 5px;}
.popSpecial .inner dd .numlist li i {display: block;position: absolute;left:0;top:3px; width: 14px;height: 14px;line-height: 16px;border-radius: 7px;font-size: 85%;color: #fff;background-color: #e24e4e;text-align: center;vertical-align: middle;}
.popSpecial .inner dd .numlist li span {display:block;font-size: 90%;font-weight: normal;color: #969696;}
.popSpecial .inner dd .numlist li .barlist {margin-top: 3px;}
.popSpecial .inner dd .numlist li .barlist li {font-size: 93%;font-weight: normal;color: #969696;position: relative;padding-left:10px;}
.popSpecial .inner dd .numlist li .barlist li em {display: block;position: absolute;left:0px;top:0px;color: #969696;}
.popSpecial .inner dd .txt {font-size: 93%;color: #4e4e4e;font-weight: bold;margin:0;}
.popSpecial .inner dd .txt span {display: block;margin-bottom: 7px; color: #4e4e4e;}
.popSpecial .inner dd .nobarlist {}
.popSpecial .inner dd .nobarlist li {margin-bottom: 10px;}
.popSpecial .inner dd .nobarlist li:last-child {margin-bottom: 0px;}
.popSpecial .inner dd .nobarlist li strong {display: block; font-size: 123%;color: #4e4e4e;}
.popSpecial .inner dd .nobarlist li span {font-size: 85%;color: #4e4e4e;}
.popSpecial .inner dd .nobarlist li span button {background-color: transparent; color: #e24e4e;border-bottom: 1px solid #e24e4e;}
.popSpecial .inner dd .txtIconL {font-size: 77%;color: #e24e4e;margin:0;position: relative;padding:10px 0 10px 80px;}
.popSpecial .inner dd .txtIconL:before {content: "";display: block;position: absolute;left:0;top:13px; width: 73px;height:57px; background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;background-position: -476px -185px;}
.popSpecial .inner dd .txtIconR {font-size: 77%;color: #4e4e4e;margin:0;position: relative;padding:10px 80px 10px 0;}
.popSpecial .inner dd .txtIconR:before {content: "";display: block;position: absolute;right:0;top:10px; width: 75px;height:72px; background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;}
.popSpecial .inner dd .txtIconR.icon1:before {background-position: -549px -222px;}
.popSpecial .inner dd .txtIconR.icon2 {padding:0px 80px 0px 0;}
.popSpecial .inner dd .txtIconR.icon2:before {background-position: -435px -124px;width: 72px;height:60px;top:0px;background-size:1650px auto;}
.popSpecial .inner dd .checkList {margin:7px 0 18px;}
.popSpecial .inner dd .checkList li {position: relative;padding-left: 14px;margin-bottom: 7px;}
.popSpecial .inner dd .checkList li:before {content: "";display: block;position: absolute;left:0;top:5px; width: 9px;height:7px; background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;background-position: -618px -193px;}

.popSpecial .accordionTitle {line-height: 48px;border-bottom: 1px solid #4e4e4e;padding:0 12px;}
.popSpecial .accordionTitle strong {display:inline-block;font-size: 131%;color: #4e4e4e;margin-right: 5px;}
.popSpecial .accordionTitle i {font-size: 108%;color: #969696;}
.popSpecial .accordionData.bgGray {background-color: #f8f8f8;}
.popSpecial .accordionData div {padding:28px 12px;border-bottom: 1px solid #d8d8d8;}
.popSpecial .accordionData h3 {margin-bottom: 10px;}
.popSpecial .accordionData h3 strong {font-size: 108%;color: #e24e4e;}
.popSpecial .accordionData p {font-size: 85%;color: #4e4e4e;line-height: 1.6;margin:0;}
.popSpecial .accordionData .txtTit {display:block;font-size: 85%;color: #4e4e4e;line-height: 1.6;margin:0;}
.popSpecial .accordionData .txt {display:block;font-size: 85%;font-weight: bold; color: #4e4e4e;line-height: 1.6;margin:0;}
.popSpecial .accordionData .txt span {display:block;margin-bottom: 10px;}
.popSpecial .accordionData .numlist li {font-size: 93%;color: #4e4e4e;font-weight: bold;position: relative;padding-left: 20px;margin-bottom: 10px;}
.popSpecial .accordionData .numlist li i {display: block;position: absolute;left:0;top:3px; width: 14px;height: 14px;line-height: 16px;border-radius: 7px;font-size: 85%;color: #fff;background-color: #e24e4e;text-align: center;vertical-align: middle;}
.popSpecial .accordionData .numlist li span {display:block;font-size: 90%;font-weight: normal;color: #969696;margin-top: 4px;}
.popSpecial .accordionData .checkList {margin:5px 0 18px;}
.popSpecial .accordionData .checkList li {position: relative;padding-left: 14px;margin-bottom: 7px;font-size: 77%;}
.popSpecial .accordionData .checkList li:before {content: "";display: block;position: absolute;left:0;top:3px; width: 9px;height:7px; background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;background-position: -618px -193px;}

.popSpecial .btnSetLayout {padding:0 0 12px;}

.tipLayout {}
.tipLayout > div {text-align: center;padding:30px 11px 10px;border-bottom: 1px solid #d8d8d8;}
.tipLayout > div:last-child {border-bottom:0;}
.tipLayout > div > span {display: inline-block;margin:0 0 13px;padding:0 15px;height: 22px;line-height: 22px;border-radius: 12px; font-size: 89%;color: #e24e4e;position: relative;border:1px solid #e24e4e;}
/*.tipLayout > div > span:before {content: "";display: block;position: absolute;left: 50%;top: -60px; margin:0 0 12px -29px; width: 58px;height: 48px;background: url('../images/sub/bg_service.png') no-repeat;background-size:116px 48px;}
.tipLayout > div:last-child > span:before {background-position: -58px 0;}*/
.tipLayout div strong {display: block;font-size: 140%;margin-bottom: 24px;}
.tipLayout .btnSet {margin-bottom:0;}

.tipText {}
.tipText .tipArea {border-bottom: 1px solid #d8d8d8;padding:28px 12px;}
.tipText .tipArea:last-child {border-bottom: none;}
.tipText .tipArea > strong {display: block;font-size: 108%;color: #e24e4e;line-height: 1;}
.tipText .tipArea p {font-size: 85%;line-height: 1.5;margin:10px 0 0;}
.tipText .tipArea ul {padding:20px 0 0 10px;}
.tipText .tipArea ul li {font-size: 77%;color: #4e4e4e;position: relative;padding-left:15px;line-height: 1.5;}
.tipText .tipArea ul li:before {content: "";display: block;position: absolute;left:0;top: 4px;width: 11px;height: 7px;background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;background-position: -617px -193px;}
.tipText .tipArea ul li strong {display: block;margin:5px 0;}
.tipText .tipArea ul li dl {background-color: #f8f8f8;padding:12px 10px 2px;}
.tipText .tipArea ul li dl dt {font-weight: bold;}
.tipText .tipArea ul li dl dd {margin-bottom: 10px;line-height: 1.5;}

.tipText .tipArea2 {border-bottom: 1px solid #d8d8d8;padding:28px 0px 0;}
.tipText .tipArea2 > strong {display: block;font-size: 108%;color: #e24e4e;line-height: 1;padding:0 12px;}
.tipText .tipArea2 > strong i {display: block;font-size: 77%;color: #969696;margin-top: 7px;}
.tipText .tipArea2 p {font-size: 85%;line-height: 1.5;margin:10px 0 0;padding:0 12px;}
.tipText .tipArea2 p.bgGray {background-color: #f8f8f8;padding:10px 12px 28px;border-top: 1px solid #f0f0f0;}
.tipText .tipArea2 .line {border-bottom: 1px solid #d8d8d8;}

.tipText dl {padding:28px 12px;}
.tipText dl dt {font-size: 108%;font-weight: bold; color: #e24e4e;margin-bottom: 7px;}
.tipText dl dd {font-size: 85%;margin-bottom: 15px;line-height: 1.5;}









