@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: snb.css
* @Version: 1.0
* @Create Date: 2017-04-04
* @Update Date: N/A
* @History: N/A
* ================================================================================= */



/* =================================== Left Slide Menu [S] =================================== */
/* 메뉴 - 기본값 */
.c-menu { position: fixed; z-index: 200; background-color: #313131; 
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	transition: transform 0.3s;
}
/* 메뉴 아이템들을 감싸는 상위 엘리먼트 */
.c-menu-items { list-style: none; margin: 0; padding: 0; }

/* 바디 : 메뉴 실행됐을 때 */
body.has-active-menu { overflow: hidden; }
body.has-active-menu #wrap {position:fixed;width:100%;top:0;} /* 2016-04-21 by mj-cho */

/* 마스크 레이어 */
.c-mask { position: fixed; z-index: 190; top: 0; left: 0; overflow: hidden; width: 0; height: 0; background-color: #000; opacity: 0;
	-webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s; /* chrome [basic:all, 3D:12+], safari [basic:3.1+, 3D:4.0+] */
	-moz-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s; /* ff [basic:3.5(1.9.1)-16+(16), 3D:10-16+] */
	-ms-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s; /* ie [basic:9-10, 3D:10+] */
	-o-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s; /* opera [basic:10.5-12.10+, 3D:NotSupported] */
	transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
/* 마스트 레이어 : 메뉴 실행됐을 때 */
.c-mask.is-active { width: 100%; height: 100%; opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Left Menu */
.c-menu--slide-left,
.c-menu--slide-right { width: 100%; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch;}
@media all and (min-width: 320px) {
	.c-menu--slide-left { width: 120px; }
	.c-menu--slide-right { width: 300px; }
}
.c-menu--slide-left .c-menu-item { display: block; text-align: center; border-top: solid 1px #b5dbe9; border-bottom: solid 1px #3184a1; }
.c-menu--slide-left .c-menu-item:first-child { border-top: none; }
.c-menu--slide-left .c-menu-item:last-child { border-bottom: none; }
.c-menu--slide-left .c-menu-link { display: block; padding: 12px 24px; color: #fff; }
.c-menu--slide-left .c-menu-close { display: block; padding: 12px 24px; width: 100%; }


/* Slide Left Menus - Animate */
.c-menu--slide-left { top: 0; left: 0; 
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
@media all and (min-width: 320px) {
	.c-menu--slide-left { 
		-webkit-transform: translateX(-300px);
		-moz-transform: translateX(-300px);
		-ms-transform: translateX(-300px);
		-o-transform: translateX(-300px);
		transform: translateX(-300px);
	}
}
.c-menu--slide-left.is-active {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.c-menu--slide-left .asideLeftMenu {}
.c-menu--slide-left .asideLeftMenu .logo {background-color: #e24e4e;}
.c-menu--slide-left .asideLeftMenu .logo a {display: block;padding:30px 0 30px;text-align: center;}
.c-menu--slide-left .asideLeftMenu .logo a em{display: inline-block;width:77px;height:56px;text-indent:-9999px; background: url('../images/common/bg_aside_logo.png') no-repeat;background-size:77px auto;}
.c-menu--slide-left .asideLeftMenu ul li {text-align: center; border-bottom:1px solid #4e4e4e;}
.c-menu--slide-left .asideLeftMenu ul li:last-child {border-bottom:none;}
.c-menu--slide-left .asideLeftMenu ul li a {display: block;padding:20px 0;font-size: 108%;color: #fff;}
.c-menu--slide-left .asideLeftMenu ul li a:before {content: "";display: block;width: 22px;height:23px;margin:0 auto 7px; background: url('../images/common/bg_aside.png') no-repeat;background-size:110px 80px;}
.c-menu--slide-left .asideLeftMenu ul li:nth-child(1) a:before {background-position: 0 -49px;}
.c-menu--slide-left .asideLeftMenu ul li:nth-child(2) a:before {background-position: -22px -49px;}
.c-menu--slide-left .asideLeftMenu ul li:nth-child(3) a:before {background-position: -44px -49px;}
.c-menu--slide-left .asideLeftMenu ul li:nth-child(4) a:before {background-position: -66px -49px;}
.c-menu--slide-left .asideLeftMenu ul li:nth-child(5) a:before {background-position: -88px -49px;}

/**
 * Slide/Push Menu Right.
 */
.c-menu--slide-right {
  top: 0;
  right: 0;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
@media all and (min-width: 320px) {
  .c-menu--slide-right {
		-webkit-transform: translateX(300px);
		-moz-transform: translateX(300px);
		-ms-transform: translateX(300px);
		-o-transform: translateX(300px);
		transform: translateX(300px);
  }
}

.c-menu--slide-right.is-active {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.c-menu--slide-right .asideMyHead {padding:36px 0px 15px 0px;border-bottom: 1px solid #4e4e4e;display: table;width: 100%;}
.c-menu--slide-right .asideMyHead strong {display: table-cell;padding-left: 12px; font-size: 127%;font-weight: normal; color: #fff;vertical-align: middle;}
.c-menu--slide-right .asideMyHead strong .thumProfile {width:42px;height:42px;}
.c-menu--slide-right .asideMyHead a {display: table-cell;padding-left: 12px; font-size: 127%;font-weight: normal; color: #fff;vertical-align: middle;}
.c-menu--slide-right .asideMyHead i {font-size: 60%;color: #fff;}
.c-menu--slide-right .asideMyHead span {float:right;display: block;padding:0 11px;margin-right: 11px; ;position: relative;}
.c-menu--slide-right .asideMyHead span:before {content: "";display: block;position: absolute;left:0;top: 0; width: 1px;height: 42px;background-color: #4e4e4e;margin-right: 10px}
.c-menu--slide-right .asideMyHead span a {font-size: 77%;color: #969696}
.c-menu--slide-right .asideMyHead span a:before {content: "";display: block;width: 18px;height:18px;margin:4px auto 5px; background: url('../images/common/bg_aside.png') no-repeat;background-size:110px 80px;background-position: 0 0;}
.c-menu--slide-right .asideMyHead span em {font-size: 77%;color: #4e4e4e}
.c-menu--slide-right .asideMyHead span em:before {content: "";display: block;width: 18px;height:18px;margin:4px auto 5px; background: url('../images/common/bg_aside.png') no-repeat;background-size:110px 80px;background-position:right 0;}
.c-menu--slide-right .asideMyHead:after{content:"";display:block;clear:both;}

.c-menu--slide-right .infoTxt {padding:27px 0;min-height:117px;box-sizing:border-box;background-color: #272727;text-align: center;}
.c-menu--slide-right .infoTxt div {background-color: #272727;}
.c-menu--slide-right .infoTxt div:before {content: "";display: block;width: 24px;height:20px;margin:0 auto 9px; background: url('../images/common/bg_aside.png') no-repeat;background-size:110px 80px;background-position: -22px 0;}
.c-menu--slide-right .infoTxt strong{display: block; font-size: 85%;color: #e24e4e;}
.c-menu--slide-right .infoTxt i {font-size: 77%;}

.c-menu--slide-right .myMenu {position: relative;border-top: 1px solid #4e4e4e;}
.c-menu--slide-right .myMenu:before {content: "";display: block;width: 100%; position: absolute;left:0;bottom:0px;border-bottom: 1px solid #4e4e4e;}
.c-menu--slide-right .myMenu li {float:left;display: table; width: 50%;border-bottom: 1px solid #4e4e4e;text-align: center;height: 72px;}
.c-menu--slide-right .myMenu li a {display: table-cell;vertical-align: middle;}
.c-menu--slide-right .myMenu li:nth-child(2n-1) a {border-right: 1px solid #4e4e4e;}
.c-menu--slide-right .myMenu li a em {display: inline-block; color: #fff;position: relative;}
.c-menu--slide-right .myMenu li.iconNew a em:after {content: "";display: block;position: absolute;right: -12px;top: -8px;width: 12px;height:12px;background: url('../images/common/bg_aside.png') no-repeat;background-size:110px 80px;background-position: -50px 0;}
.c-menu--slide-right .myMenu:after{content:"";display:block;clear:both;}




/* =================================== Left Slide Menu [E] =================================== */

/**
 * slider range
 */
.sliderRange {padding:15px 12px 20px;}
.sliderRange i {display:inline-block;margin:-6px 0 0 8px;font-size: 77%;color: #969696;vertical-align: middle;}
.rangeslider {display: block;position: relative;height: 7px;padding-top: 5px;margin-top: 6px;}
.rangeslider:before {content: "";display: block;height: 2px;background-color: #d8d8d8}
.rangeslider__fill {display: block;position: absolute;top: 0px;height: 7px;padding-top: 5px;}
.rangeslider__fill:before {content: "";display: block;height: 2px;background-color: #e24e4e;}
.rangeslider__handle {display: inline-block;width: 32px;height: 10px;position: absolute;top: 0px;border-radius: 6px;background: white;border: 1px solid #d8d8d8;cursor: pointer;touch-action: pan-y;-ms-touch-action: pan-y;}
.sliderRange output {font-size: 108%;color: #4e4e4e;}

/**
 * main
 */
.mainLayout .mainSearch {padding: 70px 0 35px; background: url('../images/sub/bg_main2.png') no-repeat;background-size: 100% auto;}
.mainLayout .mainSearch .infotxt {font-size:93%;color: #fff;text-align: center;margin-bottom: 5px;}
.mainLayout .mainSearch .btnSearch {display: block;width: 100%;height: 48px;line-height: 48px;background: transparent;}
.mainLayout .mainSearch .btnSearch em {display: block;margin:0 12px; color: #fff;font-size: 127%;font-weight: bold;background: transparent;text-align: center;box-sizing: border-box;}
.mainLayout .mainSearch .btnSearch em:before {content: "";display: inline-block;margin:-2px 10px 0 0; width:20px;height:20px;background: url('../images/sub/bg_main.png') no-repeat;background-size:40px auto;background-position:-10px -106px;vertical-align: middle;}
.mainLayout .mainSearch a {display: block;color: #fff;font-size: 127%;font-weight: bold;background: #e24e4e;margin:12px 12px 0;height: 48px;line-height: 48px;text-align: center;box-sizing: border-box;}
.mainLayout .topSearch {border-bottom: none;}

.mainLayout .linkService {background-color: #f0f0f0;padding:12px 12px 0.1px;border-top: 1px solid #e6e6e6;}
.mainLayout .linkService div {margin-bottom: 12px;padding:18px 20px; background-color: #fff;position: relative;}
.mainLayout .linkService div:after {content: "";display: block;position: absolute;right:15px;top: 11px;width: 108px;height:86px;background: url('../images/sub/bg_special.png') no-repeat;background-size:2500px 279px;}
.mainLayout .linkService div:first-child:after {background-position: -660px -193px;}
.mainLayout .linkService div:last-child:after {background-position: -768px -193px;}
.mainLayout .linkService div strong {display: block;font-size: 138%;color: #51514f;margin-bottom: 5px;}
.mainLayout .linkService div strong:before {content: ""; display: block;width:51px;height: 12px;margin-bottom: 2px;background: url('../images/common/img_logo.png') no-repeat;background-size: 51px auto;}
.mainLayout .linkService div span {display: block;font-size: 77%;color: #969696;}

.mainLayout .swiper-slide {text-align: center;padding:30px 0 38px;}
.mainLayout .swiper-slide strong {display: block;font-size: 123%;margin-bottom: 10px;}
.mainLayout .swiper-slide strong:before {content: "";display: block;width: 116px;height:91px;margin:0 auto 10px;background: url('../images/sub/bg_special.png') no-repeat;background-size:1450px auto;}
.mainLayout .swiper-slide strong.icon6:before {background-position: -740px -7px;}
.mainLayout .swiper-slide strong.icon7:before {background-position: -884px -7px;}
.mainLayout .swiper-slide strong.icon8:before {background-position: -1028px -7px;}
.mainLayout .swiper-slide strong.icon9:before {background-position: -1172px -7px;}
.mainLayout .swiper-slide strong.icon10:before {background-position: -1316px -7px;}
.mainLayout .swiper-slide span {font-size: 85%;}
.mainLayout .swiper-slide p {padding:5px 0 0;font-size: 77%;color: #969696;}
.mainLayout .swiper-slide p em {display: block;color: #e24e4d;}
.mainLayout .swiper-slide p em i{display: block;font-weight: bold;color: #e24e4d;}
.mainLayout .swiper-slide a {display: block; font-size: 77%;color: #e24e4d;text-decoration: underline;margin-top: 10px;}




