<!-- 2017-07-22 시간요청 -->
<div class="popupsmallWrap reserTimeChoice p-container" ng-init="templateInit()">
	<!-- popup header -->
	<div class="popupHeader">
		<header><h1>예약시간 승인요청</h1></header>
		<a class="btnClose p-close">닫기</a>
	</div>
	<hr/>
	<!-- popup contents -->
	<div class="popupContents">
		<section>
			<div class="contentsBack">
				<div class="gridSet rtimeSelect">
					<div class="gridItem gI-25">
						<span class="selectSet">
							<select disabled>
								<option>{{res.resMonth}}월</option>
							</select>
						</span>
					</div>
					<div class="gridItem gI-25">
						<span class="selectSet">
							<select disabled>
								<option>{{res.resDay}}일</option>
							</select>
						</span>
					</div>
					<div class="gridItem gI-25">
						<span class="selectSet">
							<select disabled>
								<option ng-if="res.resAmpm == 'AM'" selected>오전</option>
								<option ng-if="res.resAmpm == 'PM'" selected>오후</option>
							</select>
						</span>
					</div>
					<div class="gridItem gI-25">
						<span class="selectSet">
							<select ng-model="res.resTime">
								<option ng-repeat="time in
								['00','01','02','03','04','05','06'
								,'07','08','09','10','11','12']" value="{{time}}">{{time}}시</option>
							</select>
						</span>
					</div>
				</div>
			</div>
			<div class="btnSet">
				<span><button class="redLine p-close">취소</button></span>
				<span><button class="red" ng-click="reserTimeConfirm()">확인</button></span>
			</div>
		</section>
	</div>
	<!-- //-->
</div>
<!-- //시간요청  -->
