<!-- 매물가져오기 -->
<div class="popupWrap getPro p-container" ng-init="templateInit()">
    <!-- popup header -->
    <div class="popupHeader">
        <header><h1>매물가져오기</h1></header>
        <a class="btnClose p-close" onclick="return false;">닫기</a>
    </div>
    <hr/>
    <!-- popup contents -->
    <div class="popupContents">
        <section>
            <div class="getProLayout">
                <div class="searchBar">
                    <div class="searchArea">
                        <input type="text" name="srchCarNum" ng-model="carSaleInfo.srchCarNum" placeholder="차량번호를 입력하세요.">
                        <label for="" class="dpn">차량번호</label>
                        <button type="button" class="" ng-click="searchCar()">검색</button>
                    </div>
                </div>
            </div>
            <div class="btn-accordion-wrapper writeType mb10" id="arrodDiv" ng-hide="" data-toggle-on="true">
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.carPlateNum.length > 0}">차량번호</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.carPlateNum.length > 0 ? carSaleInfo.carPlateNum:'차량번호를 입력하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">      <!-- 차량번호 -->
                        <div class="pt12">
                          <input type="text"  name="carPlateNum" maxlength="7" ng-model="carSaleInfo.carPlateNum"/>
                        </div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.carFrameNum.length > 0}">차대번호</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.carFrameNum.length > 0 ? carSaleInfo.carFrameNum:'차대번호를 입력하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">      <!-- 차대번호 -->
                        <div class="pt12"><input type="text" name="carFrameNum" maxlength="17" ng-model="carSaleInfo.carFrameNum" /></div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col w120">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.applyDay.length > 0}">등록(제시)일자</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.applyDay.length > 0 ? carSaleInfo.applyDay:'등록일자를 입력하세요  (YYYY.MM.DD)'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">      <!-- 등록일자 -->
                        <div class="pt12"><input type="text" name="applyDay" ng-model="carSaleInfo.applyDay" maxlength="10" /></div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" id="sCarGuarRefund"><!-- 처리안된 컬럼 2017-05-31 -->
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle"
                                ng-class="{on: carSaleInfo.carGuarFruitlessYn === 'Y' || carSaleInfo.carGuarRefundYn === 'Y' || carSaleInfo.carGuarTermYn ==='Y'}" >보상상품</span>
                        </strong>
                        <span class="col">
                            <span>
                                <span class="markGroup">
                                    <span ng-if="carSaleInfo.carGuarFruitlessYn === 'Y'"     class="markSet lC mark2 ">환불</span>
                                    <span ng-if="carSaleInfo.carGuarRefundYn === 'Y'"        class="markSet lC mark3 ">헛걸음</span>
                                    <span ng-if="carSaleInfo.carGuarTermYn ==='Y'"           class="markSet lC mark4 ">1년보증</span>
                                </span>
                            </span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">
                            <li><input type="checkbox" id="sr_aa1" ng-model="carSaleInfo.carGuarFruitlessYn" ng-true-value="'Y'" ng-false-value="'N'"/><label for="sr_aa1">환불보장</label></li>
                            <li><input type="checkbox" id="sr_aa2" ng-model="carSaleInfo.carGuarRefundYn"    ng-true-value="'Y'" ng-false-value="'N'"/><label for="sr_aa2">헛걸음보상</label></li>
                            <li><input type="checkbox" id="sr_aa3" ng-model="carSaleInfo.carGuarTermYn"      ng-true-value="'Y'" ng-false-value="'N'"/><label for="sr_aa3">연장보증</label></li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-class="{on: carSaleInfo.focus.makerCd}" ng-click="onToggle('ACCD_MAKER')">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.makerLabel.length > 0}">제조사</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.makerLabel.length > 0 ? carSaleInfo.makerLabel : '제조사를 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">      <!-- 제조사 -->
                            <li ng-repeat="(key, value) in makerList">
                                <input type="radio" id="sr_a{{$index}}" name="sr_a" ng-model="carSaleInfo.makerCd" value="{{key}}" ng-click="onClick('ACCD_MAKER', $event, value)" /><label for="sr_a{{$index}}">{{value}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-class="{on: carSaleInfo.focus.modelCd}" ng-click="onToggle('ACCD_MODEL')">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.modelLabel.length > 0}">모델</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.modelLabel.length > 0 ? carSaleInfo.modelLabel : '모델을 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">      <!-- 모델명 -->
                            <li ng-repeat="(key, value) in carCodeSearchMap[carSaleInfo.makerCd]">
                                <input type="radio" id="sr_b{{$index}}" name="sr_b" ng-model="carSaleInfo.modelCd" value="{{key}}" ng-click="onClick('ACCD_MODEL', $event, value)"><label for="sr_b{{$index}}">{{value}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-class="{on: carSaleInfo.focus.modelDtlCd}" ng-click="onToggle('ACCD_DTL_MODEL')">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.modelDtlLabel.length > 0}">세부모델</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.modelDtlLabel.length > 0 ? carSaleInfo.modelDtlLabel : '세부모델을 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">      <!-- 상세모델명 -->
                            <li ng-repeat="(key, value) in carCodeSearchMap[carSaleInfo.modelCd]">
                                <input type="radio" id="sr_c{{$index}}" name="sr_c" ng-model="carSaleInfo.modelDtlCd" value="{{key}}" ng-click="onClick('ACCD_DTL_MODEL', $event, value)"><label for="sr_c{{$index}}">{{value}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-class="{on: carSaleInfo.focus.gradeCd}" ng-click="onToggle('ACCD_GRADE')">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.gradeLabel.length > 0}">등급</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.gradeLabel.length > 0 ? carSaleInfo.gradeLabel : '등급을 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">      <!-- 등급 -->
                            <li ng-repeat="(key, value) in carCodeSearchMap[carSaleInfo.modelDtlCd]">
                                <input type="radio" id="sr_ee{{$index}}" name="sr_ee" ng-model="carSaleInfo.gradeCd" value="{{key}}" ng-click="onClick('ACCD_GRADE', $event, value)"><label for="sr_ee{{$index}}">{{value}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.carRegYear.length > 0}">연식</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.carRegYear.length > 0 ? carSaleInfo.carRegYear : '연식을 입력하세요 (YYYY)'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">      <!-- 연식 -->
                        <div class="pt12"><input type="text" name="carRegYear" maxlength="4" ng-model="carSaleInfo.carRegYear"/></div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.colorLabel.length > 0}">색상</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.colorLabel.length > 0 ? carSaleInfo.colorLabel : '색상을 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">      <!-- 색상 -->
                            <li ng-repeat="colorType in colorTypeCodeList">
                                <input type="radio" id="sr_f{{$index}}" name="carColor" ng-model="carSaleInfo.carColor" value="{{colorType.cdDtlNo}}" ng-click="onClick('ACCD_COLOR', $event, colorType.cdDtlNm)"/>
                                <label for="sr_f{{$index}}">{{colorType.cdDtlNm}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.useKm.str.length > 0}">주행거리</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.useKm.str.length > 0 ? carSaleInfo.useKm.str + ' km' : '주행거리를 입력하세요 (km)'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">      <!-- 주행거리 -->
                        <div class="pt12"><input type="text" name="useKm" ng-model="carSaleInfo.useKm.str"></div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.fuelLabel.length > 0}">연료타입</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.fuelLabel.length > 0 ? carSaleInfo.fuelLabel : '연료타입을 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">      <!-- 연료타입 -->
                            <li ng-repeat="fuelType in fuelTypeCodeList">
                                <input type="radio" id="sr_z{{$index}}" name="carFuel" ng-model="carSaleInfo.carFuel" value="{{fuelType.cdDtlNo}}" ng-click="onClick('ACCD_FUEL', $event, fuelType.cdDtlNm)">
                                <label for="sr_z{{$index}}">{{fuelType.cdDtlNm}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.missionLabel.length > 0}">변속기</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.missionLabel.length > 0 ? carSaleInfo.missionLabel : '변속기를 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData"><!-- 변속기 -->
                        <ul class="radioList">
                            <li ng-repeat="missionType in missionTypeCodeList">
                                <input type="radio" id="sr_e{{$index}}" name="reee" value="{{missionType.cdDtlNo}}" ng-model="carSaleInfo.carMission" ng-click="onClick('ACCD_MISSION', $event, missionType.cdDtlNm)">
                                <label for="sr_e{{$index}}">{{missionType.cdDtlNm}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col w120">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.unpaidTax.length > 0}">세금 등 미납내역</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.unpaidTax.length > 0 ? carSaleInfo.unpaidTax : '미납내역을 입력하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">      <!-- 미납세금정보 -->
                        <div class="pt12"><input type="text" name="unpaidTax" ng-model="carSaleInfo.unpaidTax"></div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col w120">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.rentLabel.length > 0}">렌터카 사용이력</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.rentLabel.length > 0 ? carSaleInfo.rentLabel : '렌터카 사용이력을 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData"><!-- 렌터카 사용이력 -->
                        <ul class="radioList">
                            <li ng-repeat="carRentStatus in carRentStatusCodeList">
                                <input type="radio" id="sr_ff{{$index}}" name="srf" value="{{carRentStatus.cdDtlNo}}"
                                ng-model="carSaleInfo.rentYn" ng-click="onClick('ACCD_RENT', $event, carRentStatus.cdDtlNm)">
                                <label for="sr_ff{{$index}}">{{carRentStatus.cdDtlNm}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col w120">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.carCheckNo.length > 0}">성능점검번호</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.carCheckNo.length > 0 ? carSaleInfo.carCheckNo : '성능점검번호를 입력하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <div class="pt12"><input type="text" ng-model="carSaleInfo.carCheckNo"></div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.accLabel.length > 0}">사고내역</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.accLabel.length > 0 ? carSaleInfo.accLabel : '사고내역을 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">
                            <li ng-repeat="carAccStatus in carAccStatusCodeList">
                                <input type="radio" id="sr_g{{$index}}" name="srg" ng-model="carSaleInfo.sagoYn" value="{{carAccStatus.cdDtlNo}}" ng-click="onClick('ACCD_ACCIDENT', $event, carAccStatus.cdDtlNm)">
                                <label for="sr_g{{$index}}">{{carAccStatus.cdDtlNm}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.extLabel.length > 0}">외관상태</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.extLabel.length > 0 ? carSaleInfo.extLabel : '외관상태를 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <ul class="radioList">
                            <li ng-repeat="carExtStatus in carExtStatusCodeList">
                                <input type="radio" id="sr_i{{$index}}" name="sri" ng-model="carSaleInfo.surfaceState" value="{{carExtStatus.cdDtlNo}}" ng-click="onClick('ACCD_EXTERNAL', $event, carExtStatus.cdDtlNm)"/>
                                <label for="sr_i{{$index}}">{{carExtStatus.cdDtlNm}}</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.optionCds.length > 0}">옵션</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.optionCds.length > 0 ? '' : '옵션을 선택하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData optionArea">
                        <strong ng-repeat-start="optionType in optionTypeCodeList">
							<span class="checkSet">
								<input id="opt{{$index}}" type="checkbox" ng-model="checkAll"/>
								<label for="opt{{$index}}">{{optionType.cdDtlNm}}</label>
							</span>
                        </strong>
                        <div ng-repeat-end>
                            <span class="checkSet" ng-if="optionType.cdSubNo === option.cdNo" ng-repeat="option in optionCodeList">
                                <input type="checkbox" id="opt_cc{{$index}}" value="{{option.cdDtlNo}}" ng-click="onClick('ACCD_OPTION', $event)" ng-checked="checkAll || optionChecked(option.cdDtlNo)"><label for="opt_cc{{$index}}">{{option.cdDtlNm}}</label>
                            </span>
                        </div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.carDesc.length > 0}">상세설명</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.carDesc.length > 0 ? carSaleInfo.carDesc : '입력창에 상세설명을 입력하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                    <div class="pt12">          <!-- 차량 설명 -->
                        <textarea cols="10" rows="5" name="carDesc" ng-model="carSaleInfo.carDesc"
                        placeholder="사고부위 설명, 수리 필요사항, 추가옵션 등 차량에 대한 자세한 설명을 작성해주세요.
*사실과 다른 내용 입력시 가격 조정이 있을 수 있습니다."></textarea>
                        </div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: files.indexs.length > 1}">사진등록</span>
                        </strong>
                        <span class="col">
                            <span>{{files.indexs.length > 0 ? '' : '사진을 등록하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <div class="mycarImage">
                            <div class="">
                                <ul class="">
                                    <li class="" ng-repeat="index in files.indexs">
                                        <div class="imageUp">
                                            <span class="imgFileDelete" ng-show="files.exists[index]===index"><input style="button" value="삭제하기" ng-click="remove(index)"></span>
                                            <span class="imgFileUp" ng-show="files.exists[index]!==index">
                                                <label>추가하기</label>
                                                <input type="file" ngf-select="upload($files, index)">
                                            </span>
                                            <div><strong><img ng-if="files.srcs[index]" ng-src="{{files.srcs[index]}}"/></strong></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.carVideoUrl.length > 0}">동영상등록</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.carVideoUrl.length > 0 ? carSaleInfo.carVideoUrl : '입력창에 URL을 입력하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <div class="pt12"><input type="text" ng-model="carSaleInfo.carVideoUrl"></div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet"><!-- 처리안된 컬럼 2017-05-31 -->
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle">주차위치</span>
                        </strong>
                        <span class="col">
                            <span>주차위치를 입력하세요</span>
                        </span>
                    </dt>
                    <dd class="accordionData">
                        <div class="pt12">
                            <div class="btnType">
                                <input id="parkZip" type="text" ng-model="carSaleInfo.parkZip" placeholder="우편번호" class="readonly" readonly="">
                                <label for="parkZip" class="dpn">우편번호</label>
                                <button type="button" ng-click="onClick('BTN_ADDR_CHANGE')">변경</button>
                            </div>
                            <div class="readtxt">
                                <input id="parkAddr1" type="text" ng-model="carSaleInfo.parkAddr1" placeholder="주소"  class="readonly" readonly="">
                                <label for="parkAddr1" class="dpn">주소</label>
                            </div>
                            <div class="readtxt lastRow">
                                <input id="parkAddr2" type="text" ng-model="carSaleInfo.parkAddr2" placeholder="상세주소"  class="readonly" readonly="">
                                <label for="parkAddr2" class="dpn">상세주소</label>
                            </div>
                        </div>
                    </dd>
                </dl>
                <!---->
                <dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)" ng-hide="oParams.division == 'N' || oParams.division == ''">
                    <dt class="accordionTitle btn-accordion-switch-item">
                        <strong class="col">
                            <span class="dotToggle" ng-class="{on: carSaleInfo.saleAmt.str.length > 0}">판매가격</span>
                        </strong>
                        <span class="col">
                            <span>{{carSaleInfo.saleAmt.str.length > 0 ? carSaleInfo.saleAmt.str + ' 만원' : '판매가격을 입력하세요'}}</span>
                        </span>
                    </dt>
                    <dd class="accordionData"><!-- 판매가격 -->
                        <div class="pt12"><input type="text" name="saleAmt" ng-model="carSaleInfo.saleAmt.str" placeholder="(100만원 단위)"></div>
                    </dd>
                </dl>
                <!---->
            </div>

            <div class="btnSet">
                <span><a href="" class="redLine" ng-click="closePop()">취소</a></span>
                <span><a href="" class="red" ng-click="updateGetCar(form)">저장</a></span>
            </div>
        </section>
    </div>
</div>
<!-- //매물가져오기 -->
<div><address-search-pop	params="{}"			on-confirm-callback="onConfirm(data)" /></div>