<!-- 전송하기 -->
<div class="popupWrap popSend p-container" ng-init="templateInit()">
	<!-- popup header -->
	<div class="popupHeader">
		<header><h1>전송하기</h1></header>
		<a class="btnClose p-close" onclick="return false;">닫기</a>
	</div>
	<hr/>
	<!-- popup contents -->
	<div class="popupContents">
		<input type="hidden" id="type"/>
		<input type="hidden" id="items"/>
		<section>
			<div class="findCarNum">
				<div class="searchArea">
					<input type="text" id="searchTxt" placeholder="고객명 또는 전화번호를 입력하세요">
					<label for="" class="dpn">고객명 또는 전화번호를 입력하세요</label>
					<button type="button" class="" ng-click="onSearch()">검색</button>
				</div>
				<ul class="radioList">
					<li ng-repeat="user in userList">
						<input type="hidden" class="ids" id="id{{$index}}" value="{{user.userId}}"/>
						<input type="radio" id="r_e{{$index}}" name="checkList" />
						<label for="r_e{{$index}}"><em>{{user.userName}}</em> {{user.phoneMobile}}</label>
					</li>
				</ul>
				<div class="btnSet">
					<span><a href="" id="pushClosePop" class="redLine p-close">취소</a></span>
					<span><a href="" id="send-pop" class="red" ng-click="onSend()">전송하기</a></span>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- //전송하기 -->