<!--

	* 방문 시승 예약
	* hk-lee

-->
<div id="carReservePop" class="popupWrap multiBooking p-container" ng-init="templateInit()">
	<!-- popup header -->
	<div class="popupHeader" style="top: 0px; position: fixed;">
		<header><h1>방문·시승 예약</h1></header>
		<a class="btnClose p-close">닫기</a>
	</div>
	<hr>
	<!-- popup contents -->
	<div class="popupContents" style="position: absolute; top: 0%; height: 1434px; padding-top: 51px;">
		<section>
			<div class="gridSet seletItem1">
				<div class="gridItem gI-33">
					<span class="checkSet"><input type="checkbox" ng-model="res.resType" ng-true-value="'1'" ng-false-value="''" id="crp_1" /><label for="crp_1">방문</label></span>
				</div>
				<div class="gridItem gI-33">
					<span class="checkSet"><input type="checkbox" ng-model="res.resType" ng-true-value="'2'" ng-false-value="''" id="crp_2" /><label for="crp_2">시승</label></span>
				</div>
			</div>
			<div class="gridSet timeSelect">
				<div class="gridItem gI-4">
					<span class="selectSet">
						<select ng-model="res.year" ng-change="onChange('YEAR', res.year)">
							<option ng-repeat="year in date.years" value="{{year}}">{{year}}년</option>
						</select>
					</span>
				</div>
				<div class="gridItem gI-2">
					<span class="selectSet">
						<select ng-model="res.month" ng-change="onChange('MONTH', res.month)">
							<option ng-repeat="month in date.months" value="{{month}}">{{month}}월</option>
						</select>
					</span>
				</div>
				<div class="gridItem gI-2">
					<span class="selectSet">
						<select ng-model="res.day" ng-change="onChange('DAY', res.day)">
							<option ng-repeat="day in date.days" value="{{day}}">{{day}}일</option>
						</select>
					</span>
				</div>
				<div class="gridItem gI-2">
					<span class="selectSet">
						<select ng-model="res.resAmpm">
							<option ng-repeat="time in date.ampm" value="{{time}}">{{time == 'AM' ? '오전':'오후'}}</option>
						</select>
					</span>
				</div>
			</div>
			<div class="bookingInfo">
				<strong>{{shopCodeInfoMap[oParams.user.shopNo].shop.shopfullname}}</strong><strong class="last">{{shopCodeInfoMap[oParams.user.shopNo].danjifullname}}</strong>
				<div>{{shopCodeInfoMap[oParams.user.shopNo].danjiaddr}}</div>
				<p>{{shopCodeInfoMap[oParams.user.shopNo].shop.shopphone}}</p>
			</div>
			<div class="btnSet">
				<span><button type="button" class="redLine" ng-click="onClick('BTN_CANCEL')">취소</button></span>
				<span><button type="button" class="red" ng-click="onClick('BTN_RESERVE')">예약하기</button></span>
			</div>
		</section>
	</div>
</div>