<!--
	* 주소검색 팝업
	* hk-lee
 -->
<!-- 주소찾기2 -->
<div class="popupWrap fullAddress2 zindexUp p-container bgGray" ng-init="templateInit()">
	<!-- popup header -->
	<div class="popupHeader">
		<header><h1>주소찾기</h1></header>
		<a class="btnClose p-close" ng-click="onClick('BTN_CANCEL')">닫기</a>
	</div>
	<hr/>
	<!-- popup contents -->
	<div class="popupContents">
		<section>
			<div class="findAddress formArea">
				<div class="searchArea">
					<input type="text" id="" placeholder="시/군/구/도로명" ng-model="addr.params.keyword">
					<label for="" class="dpn">시/군/구/도로명</label>
					<button type="button" class="addressSearch" ng-click="onClick('BTN_SEARCH')">검색</button>
				</div>
				<div class="addressStep1" ng-show="addr.step === 1">
					<h2>검색방법</h2>
					<dl class="addressBox">
						<dt>정확한 주소를 모르시는 경우</dt>
						<dd>
							<span>
								시/군/구 + 도로명, 동명 또는 건물명<br>
								<i>예) 동해시 중앙로, 영수 중앙동, 대전 현대아파트</i>
							</span>
						</dd>
						<dt>정확한 주소를 아시는 경우</dt>
						<dd>
							<span>도로명 + 건물번호 <i>예) 도올5로 19</i></span>
							<span>도로명 + 건물번호 <i>예) 도올5로 19</i></span>
						</dd>
					</dl>
				</div>
				<!------------------------------------------------------------------------>
				<div class="addressStep2" ng-show="addr.step === 2">
					<h2>검색결과</h2>
					<!-- 검색목록이 없을 시 -->
					<div class="addressList" ng-show="addr.list.length === 0">
						<p>검색 결과가 없습니다.</p>
					</div>
					<!-- //검색목록이 없을 시 -->
					<div class="addressList">
						<ul>
							<li ng-repeat="address in addr.list" ng-click="onClick('BTN_SELECT', address, $index)">
								<span><strong>우편번호</strong> {{address.zipNo}}</span>
								<span><strong>주소</strong> {{address.roadAddrPart1}}</span>
							</li>
							<li class="more" ng-click="onClick('BTN_MORE')" ng-show="addr.curPage < addr.totPage">
								<input type="button" value="더보기">
							</li>
						</ul>
					</div>
				</div>
				<!------------------------------------------------------------------------>
				<div class="addressStep3" ng-show="addr.step === 3">
					<div class="addressBox2">
						<span><strong>우편번호</strong> {{addr.sendData.zipNo}}</span>
						<span><strong>주소</strong> {{addr.sendData.roadAddr}}</span>
					</div>
					<div class="detailAdd">
						<div class="writeRow">
							<input type="text" id="" placeholder="상세주소를 입력하세요" ng-model="addr.sendData.addrDtl"/>
							<label for="" class="dpn">상세주소</label>
						</div>
					</div>
					<div class="btnSet">
						<span><a class="redLine" ng-click="onClick('BTN_CANCEL')">취소</a></span>
						<span><a class="red" ng-click="onClick('BTN_CONFIRM')">다음</a></span>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- //주소찾기2 -->
