<!-- 상세검색 -->
<div class="popupWrap detailSearch p-container" ng-init="templateInit()">
	<!-- popup header -->
	<div class="popupHeader">
		<header><h1>상세검색</h1></header>
		<a class="btnClose p-close">닫기</a>
	</div>
	<hr/>
	<!-- popup contents -->
	<div class="popupContents">
		<section>
			<div>
				<!--
				[angucomplete-alt 옵션 설명]
					참고: https://github.com/ghiden/angucomplete-alt
					- id*: 필드의 고유 ID
				 	- placeholder: 검색 필드의 자리 표시자
					- maxlength: 검색 필드의 Maxlength 속성
					- minlength: 검색 필드의 Minlength 속성
					- pause: 사용자가 새 문자를 입력 할 때 검색하기 전에 기다리는 시간 (밀리 초)
					- selected-object*: 선택된 객체 (selectedObject 또는 objectSelectedCallback)
					- selected-object-data: 선택된 객체 데이터
					- selected-object-data-init: '선택된 객체 데이터' 초기화 핸들러
					- local-data: 컨트롤러에서 사용할 로컬 데이터 변수(배열)
					- search-fields: 검색 할 지역 데이터의 필드 (쉼표로 구분). 각 필드는 중첩 된 속성에 액세스하기위한 점을 포함 할 수 있음
					- title-field*: 자동 완성 목록에 제목을 표시하는 데 사용해야하는 JSON 객체의 필드 이름
					- input-class: 입력 상자의 스타일을 지정하는 데 사용할 클래스
					- clear-selected: 항목을 선택할 때 입력 필드를 지우려면이 속성을 true로 설정
					- text-no-results: 일치하는 항목이 없을 때 표시 할 사용자 정의 문자열. 'false'로 설정하면 텍스트가 표시되지 않음
					- text-searching: 검색이 진행 중일 때 표시 할 사용자 정의 문자열. 'false'로 설정하면 텍스트가 표시되지 않음
				-->
				<angucomplete-alt id="ex1-pop"
					              placeholder="원하는 매물 정보를 입력하세요"
					              text-no-results="매물 정보를 찾을 수 없습니다"
					              text-searching="검색 중..."
					              pause="100"
					              selected-object="onQuickSearchHandler"
					              selected-object-data="oSearch.words"
					              selected-object-data-init="onQuickInitHandler"
					              delete-object-handler="onQuickDeleteHandler"
					              local-data="oSearch.oLoadData"
					              search-fields="name"
					              title-field="name"
					              minlength="1"
					              input-class="wFull"
					              clear-selected="true"
					              search-class="searchTxt"
					              match-class="highlight"/>
			</div>
			<!---->
			<div class="writeFullType">
				<dl class="layoutSet">
					<dt class="title">
						<strong class="col">
							<span ng-class="{on: seekbar.selectedPriceVal != seekbar.maxPriceInRange}" class="dotToggle">최대 가격</span>
						</strong>
					</dt>
					<dd class="data">
						<div class="sliderRange">
							<output></output><i>만원</i>
							<input type="range" id="BAR_PRICE" min="{{seekbar.minPriceInRange}}" max="{{seekbar.maxPriceInRange}}" step="10" ng-change="onChange({id:'SEARCH_WORD_PRICE'})" ng-model="seekbar.selectedPriceVal" data-rangeslider>
						</div>
					</dd>
				</dl>
				<!---->
				<dl class="layoutSet">
					<dt class="title">
						<strong class="col">
							<span ng-class="{on: seekbar.selectedMileageVal != seekbar.maxMileageInRage}" class="dotToggle">최대 주행거리</span>
						</strong>
					</dt>
					<dd class="data">
						<div class="sliderRange">
							<output></output><i>km</i>
							<input type="range" id="BAR_MILEAGE" min="{{seekbar.minMileageInRange}}" max="{{seekbar.maxMileageInRage}}" step="100" ng-change="onChange({id:'SEARCH_WORD_MILEAGE'})" ng-model="seekbar.selectedMileageVal" data-rangeslider>
						</div>
					</dd>
				</dl>
			</div>
			<!---->
			<div class="carKind">
				<!-- <span class="checkSet"><input type="checkbox" id="kind1" ng-model="oSearch.country" ng-click="onToggle({id:'SEARCH_WORD_COUNTRY',code:'A', name:'국산차'})" ng-true-value="'A'" ng-false-value="''" /><label for="kind1">국산차</label></span>
				<span class="checkSet"><input type="checkbox" id="kind2" ng-model="oSearch.country" ng-click="onToggle({id:'SEARCH_WORD_COUNTRY',code:'B', name:'외제차'})" ng-true-value="'B'" ng-false-value="''" /><label for="kind2">외제차</label></span> -->
				<span class="checkSet"><input type="checkbox" id="countryKind1" ng-click="onToggle({id:'SEARCH_WORD_COUNTRY',code:'A', name:'국산차'})" ng-true-value="'A'" ng-false-value="''" /><label for="countryKind1">국산차</label></span>
				<span class="checkSet"><input type="checkbox" id="countryKind2" ng-click="onToggle({id:'SEARCH_WORD_COUNTRY',code:'B', name:'수입차'})" ng-true-value="'B'" ng-false-value="''" /><label for="countryKind2">수입차</label></span>
			</div>
			<!---->
			<div class="btn-accordion-wrapper writeType" data-toggle-on="true">

				<!-- 매매구분 -->
				<dl ng-class="" class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span ng-class="{on: oSearch.promotions.length > 0}" class="dotToggle">매매구분</span>
						</strong>
						<span class="col">
							<span></span>
						</span>
					</dt>
					<dd class="accordionData">
						<!-- accordion checkbox type -->
						<ul class="checkList">
							<li ng-repeat="(key, value) in accordion.promotionCodeMap" >
								<input type="checkbox" id="r_a{{key}}" name="r_a" ng-checked="filterContainCodeByWords('SEARCH_WORD_PROMOTION',key,'r_a{{key}}')" ng-click="onToggle({id:'SEARCH_WORD_PROMOTION',code:key,name:value})"/><label for="r_a{{key}}">{{value}}</label>
							</li>
						</ul>
					</dd>
				</dl>

				<!-- 제조사 -->
				<dl ng-class="" class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span ng-class="{on: filterContainCodesByWords('SEARCH_WORD_CAR', oSearch.makers)}" class="dotToggle">제조사</span>
						</strong>
						<span class="col">
							<span></span>
						</span>
					</dt>
					<dd class="accordionData">
						<!-- accordion checkbox type -->
						<ul class="checkList">
							<li ng-repeat="(key, value) in filterCountry(accordion.carCodeMap.makerList)" >
								<input type="checkbox" id="r_b{{key}}" name="r_b" ng-checked="filterContainCodeByWords('SEARCH_WORD_CAR',key,'r_b{{key}}')" ng-click="onToggle({id:'SEARCH_WORD_CAR',code:key,name:value})"/><label for="r_b{{key}}">{{value}}</label>
							</li>
						</ul>
					</dd>
				</dl>

				<!-- 모델 -->
				<dl  ng-click="doFocus($event)" ng-class="{dis: oSearch.makers.length != 1}" ng-show="oSearch.makers.length == 1 && filterContainCodesByWords('SEARCH_WORD_CAR', oSearch.makers)" class="btn-accordion-switch accordionSet">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span ng-class="{on: filterContainCodesByWords('SEARCH_WORD_CAR', oSearch.models)}" class="dotToggle">모델</span>
						</strong>
						<span class="col">
							<span></span>
						</span>
					</dt>
					<dd class="accordionData">
						<!-- accordion checkbox type -->
						<ul class="checkList">
							<li ng-repeat="(key, value) in accordion.carCodeMap[oSearch.makers[0]]" >
								<input type="checkbox" id="r_c{{key}}" name="r_c" ng-checked="filterContainCodeByWords('SEARCH_WORD_CAR',key,'r_c{{key}}')" ng-click="onToggle({id:'SEARCH_WORD_CAR',code:key,name:value})"/><label for="r_c{{key}}">{{value}}</label>
							</li>
						</ul>
					</dd>
				</dl>

				<!-- 세부모델 -->
				<dl  ng-click="doFocus($event)" ng-class="{dis: oSearch.models.length != 1}" ng-show="oSearch.makers.length == 1 && oSearch.models.length == 1 && filterContainCodesByWords('SEARCH_WORD_CAR', oSearch.makers) && filterContainCodesByWords('SEARCH_WORD_CAR', oSearch.models)" class="btn-accordion-switch accordionSet">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span ng-class="{on: filterContainCodesByWords('SEARCH_WORD_CAR', oSearch.modelDtls)}" class="dotToggle">세부모델</span>
						</strong>
						<span class="col">
							<span></span>
						</span>
					</dt>
					<dd class="accordionData">
						<!-- accordion checkbox type -->
						<ul class="checkList">
							<li ng-repeat="(key, value) in accordion.carCodeMap[oSearch.models[0]]" >
								<input type="checkbox" id="r_d{{key}}" name="r_d" ng-checked="filterContainCodeByWords('SEARCH_WORD_CAR',key,'r_d{{key}}')" ng-click="onToggle({id:'SEARCH_WORD_CAR',code:key,name:value})"/><label for="r_d{{key}}">{{value}}</label>
							</li>
						</ul>
					</dd>
				</dl>

				<!-- 연식 -->
				<dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span class="dotToggle" ng-class="{on: oSearch.modelYear.length > 0}" >연식</span>
						</strong>
						<span class="col">
<!-- 							<span>{{oSearch.modelYear.length > 0 ? oSearch.modelYear : '연식을 입력하세요 (YYYY)'}}</span> -->
						</span>
					</dt>
					<dd class="accordionData">
						<div class="pt12"><input type="text" name="carRegYear" maxlength="4" ng-model="oSearch.modelYear" ng-blur="onToggle({id:'SEARCH_WORD_MODEL_YEAR', code:oSearch.modelYear, name:oSearch.modelYear})"></div>
					</dd>
				</dl>

				<!-- 색상 -->
				<dl ng-class="" class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span ng-class="{on: oSearch.colors.length > 0}" class="dotToggle">색상</span>
						</strong>
						<span class="col">
							<span></span>
						</span>
					</dt>
					<dd class="accordionData">
						<!-- accordion checkbox type -->
						<ul class="checkList">
							<li ng-repeat="colorCode in accordion.colorCodeList" >
								<input type="checkbox" id="r_f{{colorCode.cdDtlNo}}" name="r_f" ng-checked="filterContainCodeByWords('SEARCH_WORD_COLOR',colorCode.cdDtlNo,'r_f{{colorCode.cdDtlNo}}')" ng-click="onToggle({id:'SEARCH_WORD_COLOR',code:colorCode.cdDtlNo,name:colorCode.cdDtlNm})"/><label for="r_f{{colorCode.cdDtlNo}}">{{colorCode.cdDtlNm}}</label>
							</li>
						</ul>
					</dd>
				</dl>

				<!-- 지역 -->
				<dl ng-hide="danjiNo.length > 0"  class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span ng-class="{on: oSearch.areas.length > 0}" class="dotToggle">{{danjiNo}}지역</span>
						</strong>
						<span class="col">
							<span></span>
						</span>
					</dt>
					<dd class="accordionData">
						<!-- accordion checkbox type -->
						<ul class="checkList">
							<li ng-repeat="areaCode in accordion.areaList" >
								<input type="checkbox" id="r_g{{areaCode.cdDtlNm}}" name="r_g" ng-checked="filterContainCodeByWords('SEARCH_WORD_AREA',areaCode.cdDtlNm,'r_g{{areaCode.cdDtlNm}}')" ng-click="onToggle({id:'SEARCH_WORD_AREA',code:areaCode.cdDtlNm,name:areaCode.cdDtlNm})"/><label for="r_g{{areaCode.cdDtlNm}}">{{areaCode.cdDtlNm}}</label>
							</li>
						</ul>
					</dd>
				</dl>

				<!-- 매매단지 -->
				<dl ng-class="{dis: oSearch.areas.length != 1}" ng-show="oSearch.areas.length == 1" class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span ng-class="{on: oSearch.danjis.length > 0}" class="dotToggle">매매단지</span>
						</strong>
						<span class="col">
							<span></span>
						</span>
					</dt>
					<dd class="accordionData">
						<!-- accordion checkbox type -->
						<ul class="checkList">
							<li ng-repeat="market in accordion.marketList" >
								<input type="checkbox" id="r_h{{market.danjino}}" name="r_h" ng-checked="filterContainCodeByWords('SEARCH_WORD_DANJI',market.danjino,'r_h{{market.danjino}}')" ng-click="onToggle({id:'SEARCH_WORD_DANJI',code:market.danjino,name:market.danjifullname})"/><label for="r_h{{market.danjino}}">{{market.danjifullname}}</label>
							</li>
						</ul>
					</dd>
				</dl>

				<!-- 차량번호 -->
				<dl class="btn-accordion-switch accordionSet" ng-click="doFocus($event)">
					<dt class="accordionTitle btn-accordion-switch-item">
						<strong class="col">
							<span class="dotToggle" ng-class="{on: oSearch.carNumber.length > 0}" >차량번호</span>
						</strong>
						<span class="col">
<!-- 							<span>{{oSearch.carNumber.length > 0 ? oSearch.carNumber : '차량번호를 입력하세요'}}</span> -->
						</span>
					</dt>
					<dd class="accordionData">
						<div class="pt12"><input type="text" name="carRegYear" maxlength="10" ng-model="oSearch.carNumber" ng-blur="onToggle({id:'SEARCH_WORD_CAR_NUMBER', code:oSearch.carNumber, name:oSearch.carNumber})"></div>
					</dd>
				</dl>

				<div ng-show="test">
				@@ words : {{oSearch.words}}<br/>
				@@ price : {{oSearch.price}}<br/>
				@@ mileage : {{oSearch.mileage}}<br/>
				@@ countrys : {{oSearch.countrys}}<br/>
				@@ makers : {{oSearch.makers}}<br/>
				@@ models : {{oSearch.models}}<br/>
				@@ modelDtls : {{oSearch.modelDtls}}<br/>
				@@ modelYears : {{oSearch.modelYears}}<br/>
				@@ colors : {{oSearch.colors}}<br/>
				@@ areas : {{oSearch.areas}}<br/>
				@@ danjis : {{oSearch.danjis}}<br/>
				@@ carNumber : {{oSearch.carNumber}}<br/>
				</div>
			</div>
		</section>
	</div>
	<!-- 2017-06-21 -->
	<div class="popupBottom">
		<div class="btnSet">
			<span><button class="red" ng-click="onClick('BTN_DETAIL_SEARCH')">검색 <em>({{oSearch.totListSize.str}}대)</em></button></span>
		</div>
	</div>
	<!-- end 2017-06-21 -->
</div>
<!-- //상세검색 -->
<script>
// SeekBar 스크립트
// angular.element(window).bind('load',function(){

// })
</script>

