<!-- 허위매물신고 -->
<div class="popupWrap fakeReport p-container" ng-init="templateInit()">
    <!-- popup header -->
    <div class="popupHeader">
        <header><h1>허위매물신고</h1></header>
        <a class="btnClose p-close" onclick="return false;">닫기</a>
    </div>
    <hr/>
    <!-- popup contents -->
    <div class="popupContents">
        <section>
            <dl>
                <dt>신고차량정보</dt>
                <dd>{{fake.label.makerName}} {{fake.label.carFullName}}</dd>
            </dl>
            <dl>
                <dt>신고차량번호</dt>
                <dd>{{fake.carPlateNum}}</dd>
            </dl>
            <dl>
                <dt>판매자</dt>
                <dd>{{fake.user.userName}}</dd>
            </dl>
            <dl class="fakeChoice">
                <dt>신고내용</dt>
                <dd class="radioDotList">
                    <ul>
                        <li ng-repeat="fake in fakeTypeCodeList">
                        	<span class="radioDot">
                        		<input type="radio" id="fr_a{{$index}}" value="{{fake.cdDtlNo}}" name="rado_sample" />
                        		<label for="fr_a{{$index}}">{{fake.cdDtlNm}}</label>
                        	</span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div class="btnSet">
                <span><button class="redLine" ng-click="cancelPop()">취소</button></span>
                <span><button class="red" ng-click="declare()">신고하기</button></span>
            </div>
        </section>
    </div>
</div>
<!-- //허위매물신고 -->

